<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#abd037">
    <title>PayU</title>
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon_192x192.png" sizes="192x192">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/css/all.css">
    <style type="text/css" data-aphrodite="">
        .default_1tgqtji-o_O-desktop_171s9mi-o_O-tablet_qn423t-o_O-phone_nbhu1w {
            background-image: url("/assets/img/background_1920x1200.jpg");
            background-position: center;
            background-size: cover;
            position: relative;
            animation: fadein 1.5s;
            -webkit-animation: fadein 1.5s;
        }

        @media (max-width: 992px) {
            .default_1tgqtji-o_O-desktop_171s9mi-o_O-tablet_qn423t-o_O-phone_nbhu1w {
                background-image: url("/assets/img/background_1680x1050.jpg");
            }
        }

        @media (max-width: 768px) {
            .default_1tgqtji-o_O-desktop_171s9mi-o_O-tablet_qn423t-o_O-phone_nbhu1w {
                background-image: url("/assets/img/background_1280x800.jpg");
            }
        }

        @media (max-width: 376px) {
            .default_1tgqtji-o_O-desktop_171s9mi-o_O-tablet_qn423t-o_O-phone_nbhu1w {
                background-image: url("/assets/img/background_1024x640.jpg");
            }
        }
    </style>

    <style type="text/css" data-aphrodite="">
        .default_1bareqc-o_O-desktop_jmp9gg-o_O-tablet_1e3wb3n-o_O-phone_h2wdj2 {
            background-image: url("/assets/img/background_1920x1200.jpg");
            background-position: center;
            background-size: cover;
            position: relative;
            animation: fadein 1.5s;
            -webkit-animation: fadein 1.5s;
        }

        @media (max-width: 992px) {
            .default_1bareqc-o_O-desktop_jmp9gg-o_O-tablet_1e3wb3n-o_O-phone_h2wdj2 {
                background-image: url("/assets/img/background_1680x1050.jpg");
            }
        }

        @media (max-width: 768px) {
            .default_1bareqc-o_O-desktop_jmp9gg-o_O-tablet_1e3wb3n-o_O-phone_h2wdj2 {
                background-image: url("/assets/img/background_1280x800.jpg");
            }
        }

        @media (max-width: 376px) {
            .default_1bareqc-o_O-desktop_jmp9gg-o_O-tablet_1e3wb3n-o_O-phone_h2wdj2 {
                background-image: url("/assets/img/background_1024x640.jpg");
            }
        }
    </style>

    <script src="/assets/js/cookies.core.1.3.min.js"></script>

    <script>
        let cookieManager = new Cookies();
        if (cookieManager.read('session_id') == null) { window.location.href = '/' }
    </script>
</head>